{% extends 'base_auth.html.twig' %}

{% block title %}Login{% endblock %}


{% block content %}
<form class="login-form" method="post" action="{{ path('app_login_check') }}">


    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }} </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('errors') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    
    <div class="row">
        <div class="col-lg-12">

             <div>
                    <input autocomplete="off" class="form-control mc-form-control" value="{{ last_username }}" data-show="0" name="_username" type="text">
                    <label class="mc-label">Username</label>
                </div>
        </div>
        <div class="col-lg-12">
                <div>
                    <input  autocomplete="new-password" class="form-control mc-form-control" data-show="0" name="_password" type="password">
                    <label class="mc-label">Password</label>
                    <label ><i class="fas fa-eye eyeShow"></i></label>
                </div>
        </div>
        <div class="col-lg-12 text-center">
            <button type="submit" class="btn btn-block btn-dark">Login</button>
        </div>
       
        <div class="col-lg-12 text-center mt-4">        
            <fieldset class="checkbox text-center">
                <label>
                    <input type="checkbox" value="_remember_me"> <span class="font-weight-light">Stay loggedin</span> 
                </label>
            </fieldset>
        </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
</form>
<hr class="login-sep">
<div class="login-second-action">
    <a class="btn mc-btn" href="">Password forget ?</a>
    <a class="btn mc-btn" href="">Create a new account</a>
</div>

        
{% endblock %}