{% extends 'base.html.twig' %}

{% block title %}Signup{% endblock %}

{% block content %}

    {{ form_start(form) }}
    {{ form_rest(form) }}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign up
    </button>

    {{ form_end(form) }}

{% endblock %}