<form method="post" action="{{ path('admin_style_delete', {'id': style.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ style.id) }}">
    <button class="btn">Delete</button>
</form>
