{% extends 'base_admin.html.twig' %}

{% block title %}Edit Style{% endblock %}

{% block content %}
    <h1>Edit Style</h1>

    {{ include('admin/admin_style/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_style_index') }}">back to list</a>

    {{ include('admin/admin_style/_delete_form.html.twig') }}
{% endblock %}
