{% extends 'base_admin.html.twig' %}

{% block title %}Style index{% endblock %}

{% block content %}
    <h1>Style index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for style in styles %}
            <tr>
                <td>{{ style.id }}</td>
                <td>{{ style.label }}</td>
                <td>{{ style.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ style.createdAt ? style.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ style.updatedAt ? style.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_style_show', {'id': style.id}) }}">show</a>
                    <a href="{{ path('admin_style_edit', {'id': style.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_style_new') }}">Create new</a>
{% endblock %}
