{% extends 'base_admin.html.twig' %}

{% block title %}New Style{% endblock %}

{% block content %}
    <h1>Create new Style</h1>

    {{ include('admin/admin_style/_form.html.twig') }}

    <a href="{{ path('admin_style_index') }}">back to list</a>
{% endblock %}
