{% extends 'base_admin.html.twig' %}

{% block title %}Style{% endblock %}

{% block content %}
    <h1>Style</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ style.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ style.label }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ style.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ style.createdAt ? style.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ style.updatedAt ? style.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_style_index') }}">back to list</a>

    <a href="{{ path('admin_style_edit', {'id': style.id}) }}">edit</a>

    {{ include('admin/admin_style/_delete_form.html.twig') }}
{% endblock %}
