{% extends "base_admin.html.twig" %}

{% block title %}
    Moddity | Salon Type
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title mb-0">Salon Type</h4>&nbsp;&nbsp;
                            <a href="{{ path('add_salon_type') }}" class="btn btn-primary btn-sm">Add Salon Type</a>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="#">Add new Salon Type</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Affichage des messages utilisateur de validation de suppresion #}
                        {% for message in app.flashes('success') %}
                            
                            <div class="col-md-4 bg-success text-center p-2 text-white mx-auto rounded mb-4">
                            {{ message }}
                            </div>

                        {% endfor %}

                        <div class="table-responsive">
                            <table id="table-salons" class="table table-striped table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Label</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Choice</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Supp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if salonType %}

                                    {% for data in salonType %}
                                      <tr>
                                            <td>{{ data.label }}</td>
                                            <td>{{ data.type }}</td>
                                            <td>{{ data.choix }}</td>

                                            <td><a href="{{ path('update_salon_type', {'id': data.id}) }}" class="table-action"><i class="fas fa-edit" data-toggle="tooltip" title="Modifier salon type"></i></a></td>

                                            <td><a href="{{ path('delete_salon_type', {'id': data.id}) }}" class="table-action" onclick="return(confirm('Voulez-vous réellement supprimer ce salon type ?'));"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer salon type"></i></a></td>
                                      </tr>
                                    {% endfor %}

                                {% else %}
                                    
                                    <tr>
                                        <td colspan="5">Aucun salon type</td>
                                    </tr>

                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
    
{% endblock %}