{% extends "base_admin.html.twig" %}

{% block title %}
    Moddity | Fashion Weeks
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title mb-0">Fashion weeks</h4>&nbsp;&nbsp;
                            <a href="{{ path('add_fashion_weeks') }}" class="btn btn-primary btn-sm">Add Fashion Weeks</a>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="#">Add new Fashion Week</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Affichage des messages utilisateur de validation de suppresion #}
                        {% for message in app.flashes('success') %}
                            
                            <div class="col-md-4 bg-success text-center p-2 text-white mx-auto rounded mb-4">
                            {{ message }}
                            </div>

                        {% endfor %}

                        <div class="table-responsive">
                            <table id="table-salons" class="table table-striped table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Place</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Publish online</th>
                                        <th scope="col">Publish map</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Supp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if fashionWeeks %}

                                    {% for data in fashionWeeks %}
                                      <tr>
                                          <td>{{ data.name }}</td>
                                          <td>{{ data.place }}</td>
                                          <td>{{ data.startDate|date('d/m/Y') }}</td>
                                          <td>{{ data.endDate|date('d/m/Y') }}</td>

                                          {% if data.sectionOnline == true %}
                                              <td><i class="far fa-check-square text-success"></i></td>
                                          {% else %}
                                              <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                          {% endif %}

                                          {% if data.creationMap == true %}
                                              <td><i class="far fa-check-square text-success"></i></td>
                                          {% else %}
                                              <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                          {% endif %}

                                              <td><a href="{{ path('update_fashion_weeks', {'id': data.id}) }}" class="table-action"><i class="fas fa-edit" data-toggle="tooltip" title="Modifier la fashion weeks"></i></a></td>

                                              <td><a href="{{ path('delete_fashion_weeks', {'id': data.id}) }}" class="table-action" onclick="return(confirm('Voulez-vous réellement supprimer cet fashion Weeks ?'));"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer la fashion weeks"></i></a></td>
                                      </tr>
                                    {% endfor %}

                                {% else %}
                                    
                                    <tr>
                                        <td colspan="8">Aucune fashion weeks</td>
                                    </tr>

                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
    
{% endblock %}