{% extends "base_admin.html.twig" %}

{% block title %}
    Moddity | Campaign Designer
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title mb-0">Campaign Designer</h4>&nbsp;&nbsp;
                            <a href="{{ path('add_campaign_designer') }}" class="btn btn-primary btn-sm">Add Campaign Designer</a>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="{{ path('add_campaign_designer') }}">Add new Campaign Designer</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Affichage des messages utilisateur de validation de suppresion #}
                        {% for message in app.flashes('success') %}
                            
                            <div class="col-md-4 bg-success text-center p-2 text-white mx-auto rounded mb-4">
                            {{ message }}
                            </div>

                        {% endfor %}

                        <div class="table-responsive">
                            <table id="table-salons" class="table table-striped table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Designer</th>
                                        <th scope="col">Fashion Weeks</th>
                                        <th scope="col">Publish map</th>
                                        <th scope="col">Saison</th>
                                        <th scope="col">Salon</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Publish online</th>
                                        <th scope="col">Details</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Supp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if CampaignD %}
                                        
                                    {% set i = 1 %}    
                                    {% for data in CampaignD %}
                                        <tr>
                                            <td>{{ data.designer.label }}</td>

                                            {% if data.fashionWeeks %}
                                                <td>{{ data.fashionWeeks.name }}</td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            {% if data.publishMap == true %}
                                                <td><i class="far fa-check-square text-success"></i></td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}
                                            
                                            <td>{{ data.saison.label }}</td>
                                            <td>{{ data.salon.location }}</td>
                                            <td>{{ data.location }}</td>

                                            <td>{{ data.dateDebut|date('d/m/Y') }}</td>
                                            <td>{{ data.dateFin|date('d/m/Y') }}</td>
                                            {# <td>{{ data.location }}</td>
                                            <td>{{ data.adresse }}</td>
                                            <td>{{ data.ville }}</td>
                                            <td>{{ data.codePostal }}</td>
                                            <td>{{ data.pays }}</td>
                                            <td>{{ data.commentaire }}</td>
                                            <td>{{ data.contact }}</td> #}

                                            {% if data.publishOnline == true %}
                                                <td><i class="far fa-check-square text-success"></i></td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            <td>
                                                <a href="" class="table-action" type="button" data-toggle="modal" data-target="#modal-campaign-designer{{ i }}">
                                                    <i class="fas fa-eye" data-toggle="tooltip" title="voir les details du salon"></i>
                                                </a>
                                            </td>

                                            <td><a href="{{ path('update_campaign_designer', {'id': data.id}) }}" class="table-action"><i class="fas fa-edit" data-toggle="tooltip" title="Modifier la campaign Designer"></i></a></td>

                                            <td><a href="{{ path('delete_campaign_designer', {'id': data.id}) }}" class="table-action" onclick="return(confirm('Voulez-vous réellement supprimer ce salon ?'));"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer la campaign Designer ?"></i></a></td>

                                        </tr>

                                        <!--  Modal content for the above example -->
                                        <div class="modal fade" id="modal-campaign-designer{{ i }}" tabindex="-1" role="dialog"
                                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myLargeModalLabel">Salon session</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Fashion Week</strong>
                                                            <span>
                                                            {% if data.fashionWeeks %}
                                                                {{ data.fashionWeeks.name }}
                                                            {% else %}
                                                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                                            {% endif %}
                                                            </span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Publish Map</strong>
                                                            <span>
                                                            {% if data.publishMap == true %}
                                                                <i class="far fa-check-square text-success"></i>
                                                            {% else %}
                                                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                                            {% endif %}
                                                            </span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Type salon</strong>
                                                            <span>{{ data.salon.location }}</span>
                                                        </p>
                                                        
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Publish Online</strong>
                                                            <span>
                                                            {% if data.publishOnline == true %}
                                                                <i class="far fa-check-square text-success"></i>
                                                            {% else %}
                                                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                                            {% endif %}
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->

                                        {% set i = i + 1 %}

                                    {% endfor %}

                                {% else %}
                                        
                                    <tr>
                                        <td colspan="20">Aucune campaign Designer</td>
                                    </tr>    

                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
    
{% endblock %}