{% extends "base_admin.html.twig" %}

{% block title %}
    Moddity | 
    
    {% if editMode %}
        Update
    {% else %}
        Add
    {% endif %}
    Evenement Fashion Week
    
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title mb-0">
                            {% if editMode %}
                                Update
                            {% else %}
                                Add
                            {% endif %}
                            
                            Evenement Fashion Week</h4>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="#">Add Evenement Fashion Week</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                        {{ form_start(formEvenementFws) }}

                            {{ form_row(formEvenementFws.fashionWeeks) }}
                            {{ form_row(formEvenementFws.organisteurEvent) }}
                            {{ form_row(formEvenementFws.EventFws) }}
                            {{ form_row(formEvenementFws.publish_map) }}
                            {{ form_row(formEvenementFws.date_unique) }}
                            {{ form_row(formEvenementFws.date_debut) }}
                            {{ form_row(formEvenementFws.date_fin) }}
                            {{ form_row(formEvenementFws.location) }}
                            {{ form_row(formEvenementFws.description) }}
                            {{ form_row(formEvenementFws.image) }}

                            {% if image %}

                                <p class="mt-3">
                                    <em class="pb-2">Vous pouvez uploder une image si vous souhaitez la modifier</em><br><br>
                                    <img src="{{ asset('uploads/images/' ~ image) }}" alt="" class="img-evenements">
                                </p>
                                
                            {% endif %}

                            {{ form_row(formEvenementFws.nom) }}
                            {{ form_row(formEvenementFws.titre) }}
                            {{ form_row(formEvenementFws.telephone) }}
                            {{ form_row(formEvenementFws.email) }}
                            {{ form_row(formEvenementFws.adresse) }}
                            {{ form_row(formEvenementFws.ville) }}
                            {{ form_row(formEvenementFws.code_postal) }}
                            {{ form_row(formEvenementFws.publish_online) }}

                            <button class="btn btn-primary">
                            {% if editMode %}
                                update
                            {% else %}
                                Save
                            {% endif %}
                            </button>

                        {{ form_end(formEvenementFws) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}
