{% extends "base_admin.html.twig" %}

{% block title %}
    Moddity | 
    
    {% if editMode %}
        Update
    {% else %}
        Add
    {% endif %}
    Catégorie actualités
    
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title mb-0">
                            {% if editMode %}
                                Update
                            {% else %}
                                Add
                            {% endif %}
                            
                            Catégorie actualités</h4>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="#">Add Category actu</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                        {{ form_start(formCategoryActu) }}

                            {{ form_row(formCategoryActu.label) }}

                            <button class="btn btn-primary">
                            {% if editMode %}
                                update
                            {% else %}
                                Save
                            {% endif %}
                            </button>

                        {{ form_end(formCategoryActu) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}
