{% extends "base_admin.html.twig" %}

{% block title %}
    Moddity | Campaign Showroom
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title mb-0">Campaign Showroom</h4>&nbsp;&nbsp;
                            <a href="{{ path('add_campaign_showroom') }}" class="btn btn-primary btn-sm">Add Campaign Showroom</a>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="{{ path('add_campaign_showroom') }}">Add new Campaign Showroom</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Affichage des messages utilisateur de validation de suppresion #}
                        {% for message in app.flashes('success') %}
                            
                            <div class="col-md-4 bg-success text-center p-2 text-white mx-auto rounded mb-4">
                            {{ message }}
                            </div>

                        {% endfor %}

                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead class="thead-dark">
                                    <tr>
                                            <th scope="col">Fashion Weeks</th>
                                            <th scope="col">Saison</th>
                                            <th scope="col">Salon</th>
                                    {% for data in colonnes %}

                                        {% if data != 'id' %}

                                            <th scope="col">{{ data }}</th>

                                        {% endif %}

                                    {% endfor %}
                                            <th scope="col">Modifier</th>
                                            <th scope="col">Supprimer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if CampaignS %}
                                        
                                    {% for data in CampaignS %}
                                        <tr>
                                            {% if data.fashionWeeks %}
                                                <td>{{ data.fashionWeeks.name }}</td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            <td>{{ data.saison.label }}</td>
                                            <td>{{ data.salon.location }}</td>

                                            {% if data.publishMap == true %}
                                                <td><i class="far fa-check-square text-success"></i></td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            <td>{{ data.dateDebut|date('d/m/Y H:i:s') }}</td>
                                            <td>{{ data.dateFin|date('d/m/Y H:i:s') }}</td>
                                            <td>{{ data.location }}</td>
                                            <td>{{ data.adresse }}</td>
                                            <td>{{ data.ville }}</td>
                                            <td>{{ data.codePostal }}</td>
                                            <td>{{ data.commentaire }}</td>
                                            <td>{{ data.contact }}</td>

                                            {% if data.publishOnline == true %}
                                                <td><i class="far fa-check-square text-success"></i></td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            <td><a href="{{ path('update_campaign_showroom', {'id': data.id}) }}" class="table-action"><i class="fas fa-edit" data-toggle="tooltip" title="Modifier la campaign Showroom"></i></a></td>

                                            <td><a href="{{ path('delete_campaign_showroom', {'id': data.id}) }}" class="table-action" onclick="return(confirm('Voulez-vous réellement supprimer cette campaign Showroom ?'));"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer la campaign Showroom ?"></i></a></td>
                                            
                                        </tr>
                                    {% endfor %}

                                {% else %}
                                        
                                    <tr>
                                        <td colspan="20">Aucune campaign Showroom</td>
                                    </tr>    

                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
    
{% endblock %}