{% extends "base_admin.html.twig" %}

{% block title %}
    Moddity | Evenements Fashion Weeks
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title mb-0">Evenements Fashion Weeks</h4>&nbsp;&nbsp;
                            <a href="{{ path('add_evenement_fws') }}" class="btn btn-primary btn-sm">Add Evenement Fashion Weeks</a>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="{{ path('add_evenement_fws') }}">Add new Evenement Fashion Weeks</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Affichage des messages utilisateur de validation de suppresion #}
                        {% for message in app.flashes('success') %}
                            
                            <div class="col-md-4 bg-success text-center p-2 text-white mx-auto rounded mb-4">
                            {{ message }}
                            </div>

                        {% endfor %}

                        <div class="table-responsive">
                            <table id="table-salons" class="table table-striped table-bordered text-center">
                                <thead class="">
                                    <tr>
                                            <th scope="col">Fashion Weeks</th>
                                            <th scope="col">Event Fashion Week</th>
                                            <th scope="col">Organisateur Event</th>
                                            <th scope="col">Publish map</th>
                                            <th scope="col">Uniq Date</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Location</th>
                                            <th scope="col">Publish online</th>
                                            <th scope="col">Details</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Supp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if evenementsFws %}
                                        
                                    {% set i = 1 %}    
                                    {% for data in evenementsFws %}
                                        <tr>
                                            <td>{{ data.fashionWeeks.name }}</td>
                                            <td>{{ data.organisteurEvent.label }}</td>
                                            <td>{{ data.EventFws.label }}</td>

                                            {% if data.publishMap == true %}    
                                                <td><i class="far fa-check-square text-success"></i></td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            {% if data.dateUnique == true %}
                                                <td>{{ data.dateUnique|date('d/m/Y H:i:s') }}</td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            {% if data.dateDebut == true %}
                                                <td>{{ data.dateDebut|date('d/m/Y H:i:s') }}</td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            {% if data.dateFin == true %}
                                                <td>{{ data.dateFin|date('d/m/Y H:i:s') }}</td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            <td>{{ data.location }}</td>
                                            {# <td>{{ data.description }}</td>

                                            {% if data.image %}
                                                <td><img src="{{ asset('uploads/images/' ~ data.image) }}" alt="{{ data.location }}" class="img-evenements"></td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %} #}

                                            {% if data.publishOnline == true %}
                                                <td><i class="far fa-check-square text-success"></i></td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            {# <td>{{ data.adresse }}</td>
                                            <td>{{ data.ville }}</td>
                                            <td>{{ data.codePostal }}</td>
                                            <td>{{ data.nom }}</td>
                                            <td>{{ data.titre }}</td>
                                            <td>{{ data.telephone }}</td>
                                            <td>{{ data.email }}</td> #}

                                            <td>
                                                <a href="" class="table-action" type="button" data-toggle="modal" data-target="#modal-event-fws{{ i }}">
                                                    <i class="fas fa-eye" data-toggle="tooltip" title="voir les details de l'évènement Fashion Week"></i>
                                                </a>
                                            </td>

                                            <td><a href="{{ path('update_evenement_fws', {'id': data.id}) }}" class="table-action"><i class="fas fa-edit" data-toggle="tooltip" title="Modifier l'évènement fashion week"></i></a></td>

                                            <td><a href="{{ path('delete_evenement_fws', {'id': data.id}) }}" class="table-action" onclick="return(confirm('Voulez-vous réellement supprimer ce salon ?'));"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer l'évènement fashion week ?"></i></a></td>
                                        </tr>

                                        <!--  Modal content for the above example -->
                                        <div class="modal fade" id="modal-event-fws{{ i }}" tabindex="-1" role="dialog"
                                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myLargeModalLabel">Event Fashion Week</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Fashion Week</strong>
                                                            <span>{{ data.fashionWeeks.name }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Organisateur Event</strong>
                                                            <span>{{ data.organisteurEvent.label }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Event Fashion Week</strong>
                                                            <span>{{ data.EventFws.label }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Publish Map</strong>
                                                            <span>
                                                            {% if data.publishMap == true %}    
                                                                <i class="far fa-check-square text-success"></i>
                                                            {% else %}
                                                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                                            {% endif %}
                                                            </span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Uniq Date</strong>
                                                            <span>
                                                            {% if data.dateUnique == true %}
                                                                {{ data.dateUnique|date('d/m/Y H:i:s') }}
                                                            {% else %}
                                                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                                            {% endif %}
                                                            </span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Start Date</strong>
                                                            <span>
                                                            {% if data.dateDebut == true %}
                                                                {{ data.dateDebut|date('d/m/Y H:i:s') }}
                                                            {% else %}
                                                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                                            {% endif %}
                                                            </span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>End Date</strong>
                                                            <span>
                                                            {% if data.dateFin == true %}
                                                                {{ data.dateFin|date('d/m/Y H:i:s') }}
                                                            {% else %}
                                                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                                            {% endif %}
                                                            </span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Location</strong>
                                                            <span>{{ data.location }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Description</strong>
                                                            <span class="col-8 text-right px-0">{{ data.description }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Picture</strong>
                                                            <span>
                                                            {% if data.image %}
                                                                <img src="{{ asset('uploads/images/' ~ data.image) }}" alt="{{ data.location }}" class="img-evenements">
                                                            {% else %}
                                                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                                            {% endif %}
                                                            </span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Address</strong>
                                                            <span>{{ data.adresse }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>City</strong>
                                                            <span>{{ data.ville }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Zip code</strong>
                                                            <span>{{ data.codePostal }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Name</strong>
                                                            <span>{{ data.nom }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Title</strong>
                                                            <span>{{ data.titre }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Phone</strong>
                                                            <span>{{ data.telephone }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Email</strong>
                                                            <span>{{ data.email }}</span>
                                                        </p>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->

                                        {% set i = i + 1 %}

                                    {% endfor %}

                                {% else %}
                                        
                                    <tr>
                                        <td colspan="20">Aucun évènement Fashion Weeks</td>
                                    </tr>    

                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
    
{% endblock %}