{% extends "base_admin.html.twig" %}

{% block title %}
    Moddity | Catégories actualités
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title mb-0">Catégories actualités</h4>&nbsp;&nbsp;
                            <a href="{{ path('add_category_actu') }}" class="btn btn-primary btn-sm">Add Category Actu</a>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="{{ path('add_category_actu') }}">Add new Category Actu</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Affichage des messages utilisateur de validation de suppresion #}
                        {% for message in app.flashes('success') %}
                            
                            <div class="col-md-4 bg-success text-center p-2 text-white mx-auto rounded mb-4">
                            {{ message }}
                            </div>

                        {% endfor %}

                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead class="thead-dark">
                                    <tr>
                                    {% for data in colonnes %}

                                        {% if data != 'id' %}

                                            <th scope="col">{{ data }}</th>

                                        {% endif %}

                                    {% endfor %}
                                            <th scope="col">Modifier</th>
                                            <th scope="col">Supprimer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if categoryActu %}
                                        
                                    {% for data in categoryActu %}
                                        <tr>
                                            <td>{{ data.label }}</td>
                                            
                                            <td><a href="{{ path('update_category_actu', {'id': data.id}) }}" class="table-action"><i class="fas fa-edit" data-toggle="tooltip" title="Modifier catégorie actualité"></i></a></td>

                                            <td><a href="{{ path('delete_category_actu', {'id': data.id}) }}" class="table-action" onclick="return(confirm('Voulez-vous réellement supprimer cette catégorie actualité ?'));"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer la catégorie actualité ?"></i></a></td>
                                        </tr>
                                    {% endfor %}

                                {% else %}
                                        
                                    <tr>
                                        <td colspan="20">Aucune catégorie d'actualité</td>
                                    </tr>    

                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
    
{% endblock %}