{% extends "base_admin.html.twig" %}

{% block title %}
    Moddity | Salons
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title mb-0">Salons</h4>&nbsp;&nbsp;
                            <a href="{{ path('add_salon') }}" class="btn btn-primary btn-sm">Add Salon</a>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="#">Add new Salon</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Affichage des messages utilisateur de validation de suppresion #}
                        {% for message in app.flashes('success') %}
                            
                            <div class="col-md-4 bg-success text-center p-2 text-white mx-auto rounded mb-4">
                            {{ message }}
                            </div>

                        {% endfor %}

                        <div class="table-responsive">
                            <table id="table-salons" class="table table-striped table-bordered text-center">
                                <thead class="">
                                    <tr>
                                        <th scope="col">Fashion Weeks</th>
                                        <th scope="col">Publish Map</th>
                                        <th scope="col">Salon type</th>
                                        <th scope="col">Saison mode</th>
                                        <th scope="col">Start date</th>
                                        {# <th scope="col">Start end</th> #}
                                        {# <th scope="col">Location</th>
                                        <th scope="col">Address</th> #}
                                        <th scope="col">City</th>
                                        <th scope="col">Publish Online</th>
                                        <th scope="col">Details</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Supp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if salons %}

                                    {% set i = 1 %}
                                    {% for data in salons %}

                                        <tr>
                                            {% if data.fashionWeeks %}
                                                <td>{{ data.fashionWeeks.name }}</td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            {% if data.publishMap == true %}
                                                <td><i class="far fa-check-square text-success"></i></td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            <td>{{ data.salonType.label }} - {{ data.salonType.type }} - {{ data.salonType.choix }}</td>
                                            <td>{{ data.saisonMode.label }}</td>
                                            <td>{{ data.startDate|date('d/m/Y H:i:s') }}</td>
                                            {# <td>{{ data.endDate|date('d/m/Y H:i:s') }}</td> #}
                                            {# <td>{{ data.location }}</td>
                                            <td>{{ data.address }}</td> #}
                                            <td>{{ data.city }}</td>

                                            {% if data.publishOnline == true %}
                                                <td><i class="far fa-check-square text-success"></i></td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}
                                            
                                            <td>
                                                <a href="" class="table-action" type="button" data-toggle="modal" data-target="#modal-salon{{ i }}">
                                                    <i class="fas fa-eye" data-toggle="tooltip" title="voir les details du salon"></i>
                                                </a>
                                            </td>

                                            <td><a href="{{ path('update_salon', {'id': data.id}) }}" class="table-action"><i class="fas fa-edit" data-toggle="tooltip" title="Modifier le salon"></i></a></td>

                                            <td><a href="{{ path('delete_salon', {'id': data.id}) }}" class="table-action" onclick="return(confirm('Voulez-vous réellement supprimer ce salon ?'));"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer le salon"></i></a></td>
                                        </tr>

                                        <!--  Modal content for the above example -->
                                        <div class="modal fade" id="modal-salon{{ i }}" tabindex="-1" role="dialog"
                                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myLargeModalLabel">Salon session</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Fashion Week</strong>
                                                            <span>
                                                            {% if data.fashionWeeks %}
                                                                {{ data.fashionWeeks.name }}
                                                            {% else %}
                                                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                                            {% endif %}
                                                            </span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Publish Map</strong>
                                                            <span>
                                                            {% if data.publishMap == true %}
                                                                <i class="far fa-check-square text-success"></i>
                                                            {% else %}
                                                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                                            {% endif %}
                                                            </span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Type salon</strong>
                                                            <span>{{ data.salonType.label }} - {{ data.salonType.type }} - {{ data.salonType.choix }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Saison mode</strong>
                                                            <span>{{ data.saisonMode.label }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Start Date</strong>
                                                            <span>{{ data.startDate|date('d/m/Y H:i:s') }}</span>
                                                        </p>
                                                        {# <p class="d-flex justify-content-between">
                                                            <strong>End Date</strong>
                                                            <span>{{ data.endDate|date('d/m/Y H:i:s') }}</span>
                                                        </p> #}
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Location</strong>
                                                            <span>{{ data.location }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Address</strong>
                                                            <span>{{ data.address }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>City</strong>
                                                            <span>{{ data.city }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Zip Code</strong>
                                                            <span>{{ data.zipCode }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Comments</strong>
                                                            <span class="col-8 text-right px-0">{{ data.comments }}</span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Link salon digital</strong>
                                                            <span><a href="{{ data.linkSalonDigital }}" target="_blank">{{ data.linkSalonDigital }}</a></span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Link exposants</strong>
                                                            <span><a href="{{ data.linkExposants }}" target="_blank">{{ data.linkExposants }}</a></span>
                                                        </p>
                                                        <p class="d-flex justify-content-between">
                                                            <strong>Publish Online</strong>
                                                            <span>
                                                            {% if data.publishOnline == true %}
                                                                <i class="far fa-check-square text-success"></i>
                                                            {% else %}
                                                                <i class="fas fa-exclamation-triangle text-danger"></i>
                                                            {% endif %}
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->

                                        {% set i = i + 1 %}
                                        
                                    {% endfor %}

                                {% else %}
                                    
                                    <tr>
                                        <td colsapn="16">Aucun salon enregistré.</td>
                                    </tr>

                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}