{% extends "base_admin.html.twig" %}

{% block title %}
    Moddity | Fil actualités
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title mb-0">Fil actualités</h4>&nbsp;&nbsp;
                            <a href="{{ path('add_fil_actu') }}" class="btn btn-primary btn-sm">Add Fil Actualité</a>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="{{ path('add_fil_actu') }}">Add new fil actualités</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Affichage des messages utilisateur de validation de suppresion #}
                        {% for message in app.flashes('success') %}
                            
                            <div class="col-md-4 bg-success text-center p-2 text-white mx-auto rounded mb-4">
                            {{ message }}
                            </div>

                        {% endfor %}

                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead class="thead-dark">
                                    <tr>
                                            <th>Salon</th>
                                            <th>Catégorie Actu</th>
                                    {% for data in colonnes %}

                                        {% if data != 'id' %}

                                            <th scope="col">{{ data }}</th>

                                        {% endif %}

                                    {% endfor %}
                                            <th scope="col">Modifier</th>
                                            <th scope="col">Supprimer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if filActu %}
                                        
                                    {% for data in filActu %}
                                        <tr>
                                            <td>{{ data.salon.location }}</td>
                                            <td>{{ data.categorieActu.label }}</td>
                                            <td>{{ data.saison }}</td>
                                            <td>{{ data.textNews }}</td>

                                            {% if data.image %}
                                                <td><img src="{{ asset('uploads/images/' ~ data.image) }}" alt="" class="img-evenements"></td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            <td>{{ data.contact }}</td>

                                            {% if data.publishOnline == true %}
                                                <td><i class="far fa-check-square text-success"></i></td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            {% if data.publishDirect == true %}
                                                <td><i class="far fa-check-square text-success"></i></td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            {% if data.datePublication == true %}
                                                <td>{{ data.datePublication|date('d/m/Y') }}</td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}

                                            {% if data.publicationMultiple == true %}
                                                <td>{{ data.publicationMultiple|date('d/m/Y') }}</td>
                                            {% else %}
                                                <td><i class="fas fa-exclamation-triangle text-danger"></i></td>
                                            {% endif %}
                                            
                                            <td><a href="{{ path('update_fil_actu', {'id': data.id}) }}" class="table-action"><i class="fas fa-edit" data-toggle="tooltip" title="Modifier fil actualité"></i></a></td>

                                            <td><a href="{{ path('delete_fil_actu',{'id': data.id}) }}" class="table-action" onclick="return(confirm('Voulez-vous réellement supprimer ce fil actualité ?'));"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer le fil actualité ?"></i></a></td>
                                        </tr>
                                    {% endfor %}

                                {% else %}
                                        
                                    <tr>
                                        <td colspan="20">Aucun fil d'actualité</td>
                                    </tr>    

                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
    
{% endblock %}