{% extends "base_admin.html.twig" %}

{% block title %}
    Moddity | 
    
    {% if editMode %}
        Update
    {% else %}
        Add
    {% endif %}
    Fil actualités
    
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title mb-0">
                            {% if editMode %}
                                Update
                            {% else %}
                                Add
                            {% endif %}
                            
                            Fil actualités</h4>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="#">Add Fil actualités</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                        {{ form_start(formFilActu) }}

                            {{ form_row(formFilActu.salon) }}
                            {{ form_row(formFilActu.categorieActu) }}
                            {{ form_row(formFilActu.saison) }}
                            {{ form_row(formFilActu.text_news) }}
                            {{ form_row(formFilActu.image) }}

                            {% if image %}

                                <p class="mt-3">
                                    <em class="pb-2">Vous pouvez uploder une image si vous souhaitez la modifier</em><br><br>
                                    <img src="{{ asset('uploads/images/' ~ image) }}" alt="" class="img-evenements">
                                </p>
                                
                            {% endif %}

                            {{ form_row(formFilActu.contact) }}
                            {{ form_row(formFilActu.publish_online) }}
                            {{ form_row(formFilActu.publish_direct) }}
                            {{ form_row(formFilActu.date_publication) }}
                            {{ form_row(formFilActu.publication_multiple) }}

                            <button class="btn btn-primary">
                            {% if editMode %}
                                update
                            {% else %}
                                Save
                            {% endif %}
                            </button>

                        {{ form_end(formFilActu) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}
