{% extends "base_admin.html.twig" %}

{% block title %}
    Moddity | Add Saison Mode
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title mb-0">
                            {% if editMode %}
                                Update
                            {% else %}
                                Add
                            {% endif %}
                            
                            Salon</h4>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="#">Add new Salon</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                        
                        {{ form_start(formSalon) }}

                            {{ form_row(formSalon.fashion_weeks) }}
                            {{ form_row(formSalon.publish_map) }}
                            {{ form_row(formSalon.salon_type) }}
                            {{ form_row(formSalon.saison_mode) }}
                            {{ form_row(formSalon.start_date) }}
                            {{ form_row(formSalon.end_date) }}
                            {{ form_row(formSalon.location) }}
                            {{ form_row(formSalon.address) }}
                            {{ form_row(formSalon.city) }}
                            {{ form_row(formSalon.zip_code) }}
                            {{ form_row(formSalon.comments) }}
                            {{ form_row(formSalon.link_salon_digital) }}
                            {{ form_row(formSalon.link_exposants) }}
                            {{ form_row(formSalon.publish_online) }}

                            <button class="btn btn-primary">
                            {% if editMode %}
                                update
                            {% else %}
                                Save
                            {% endif %}
                            </button> 

                        {{ form_end(formSalon) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}
