{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block menu %}
    {% include 'menu.html.twig' %}
{% endblock %}

{% block content %}
      <section class="homeContent">
        <p class="title-home u-grey">What you will find:</p>
        <div class="flexSection">
          <div class="flexSection-card">
            <p class="flexSection-card-title">Calendar</p>
            <p class="flexSection-card-subtitle">
              Fashion & Sourcing Events Worldwide
              <span class="u-light">
                (Tradeshows, Fashion Weeks, Sales...)</span
              >
            </p>
            <div class="flexSection-card-hover">
              <p>See Calendar</p>
              <svg
                class="arrow u-180 u-white"
                width="2.6rem"
                height="auto"
                viewBox="0 0 17 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7L16 9ZM0.292894 7.29287C-0.0976315 7.68339 -0.0976314 8.31656 0.292893 8.70708L6.65684 15.0711C7.04737 15.4616 7.68053 15.4616 8.07106 15.0711C8.46158 14.6805 8.46158 14.0474 8.07106 13.6568L2.41421 7.99998L8.07108 2.34313C8.4616 1.95261 8.4616 1.31945 8.07108 0.92892C7.68055 0.538395 7.04739 0.538394 6.65686 0.928918L0.292894 7.29287ZM16 7L1 6.99998L0.999998 8.99998L16 9L16 7Z"
                  fill="currentColor"
                />
              </svg>
            </div>
          </div>
          <div class="flexSection-card">
            <p class="flexSection-card-title">News Feed</p>
            <p class="flexSection-card-subtitle">
              See all our Partners' daily News
              <span class="u-light"> (Be the first to know...)</span>
            </p>
            <div class="flexSection-card-hover">
              <p>See News</p>
              <svg
                class="arrow u-180 u-white"
                width="2.6rem"
                height="auto"
                viewBox="0 0 17 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7L16 9ZM0.292894 7.29287C-0.0976315 7.68339 -0.0976314 8.31656 0.292893 8.70708L6.65684 15.0711C7.04737 15.4616 7.68053 15.4616 8.07106 15.0711C8.46158 14.6805 8.46158 14.0474 8.07106 13.6568L2.41421 7.99998L8.07108 2.34313C8.4616 1.95261 8.4616 1.31945 8.07108 0.92892C7.68055 0.538395 7.04739 0.538394 6.65686 0.928918L0.292894 7.29287ZM16 7L1 6.99998L0.999998 8.99998L16 9L16 7Z"
                  fill="currentColor"
                />
              </svg>
            </div>
          </div>
          <div class="flexSection-card">
            <p class="flexSection-card-title">Sales Campaigns</p>
            <p class="flexSection-card-subtitle">
              Worldwide overview
              <span class="u-light">
                (All Brands & Showrooms sales at a glance...)</span
              >
            </p>
            <div class="flexSection-card-hover">
              <p>See Campaigns</p>
              <svg
                class="arrow u-180 u-white"
                width="2.6rem"
                height="auto"
                viewBox="0 0 17 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7L16 9ZM0.292894 7.29287C-0.0976315 7.68339 -0.0976314 8.31656 0.292893 8.70708L6.65684 15.0711C7.04737 15.4616 7.68053 15.4616 8.07106 15.0711C8.46158 14.6805 8.46158 14.0474 8.07106 13.6568L2.41421 7.99998L8.07108 2.34313C8.4616 1.95261 8.4616 1.31945 8.07108 0.92892C7.68055 0.538395 7.04739 0.538394 6.65686 0.928918L0.292894 7.29287ZM16 7L1 6.99998L0.999998 8.99998L16 9L16 7Z"
                  fill="currentColor"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="gridSection">
          <div class="gridSection-card">
            <p class="gridSection-card-title">Brands</p>
            <p class="gridSection-card-subtitle">Search your favorites</p>
            <p class="gridSection-card-subtitle">Discover and explore...</p>
          </div>
          <div class="gridSection-card">
            <p class="gridSection-card-title">Showrooms</p>
            <p class="gridSection-card-subtitle">Multi-brands Agents</p>
            <p class="gridSection-card-subtitle">Distributors Importers...</p>
          </div>
          <div class="gridSection-card">
            <p class="gridSection-card-title">Tradeshows</p>
            <p class="gridSection-card-subtitle">Accessories...</p>
            <p class="gridSection-card-subtitle">Sourcing</p>
            <p class="gridSection-card-subtitle">Fashion</p>
          </div>
          <div class="gridSection-card">
            <p class="gridSection-card-title">Production</p>
            <p class="gridSection-card-subtitle">Sourcing</p>
            <p class="gridSection-card-subtitle">Manufacturing</p>
            <p class="gridSection-card-subtitle">Trend Agencies</p>
            <p class="gridSection-card-subtitle">Product Developement...</p>
          </div>
          <div class="gridSection-card">
            <p class="gridSection-card-title">Stores</p>
            <p class="gridSection-card-subtitle">Department Stores</p>
            <p class="gridSection-card-subtitle">Multi-Label Stores</p>
            <p class="gridSection-card-subtitle">e-Commerce...</p>
          </div>
          <div class="gridSection-card">
            <p class="gridSection-card-title">Communication</p>
            <p class="gridSection-card-subtitle">Press Offices</p>
            <p class="gridSection-card-subtitle">Marketing & PR</p>
            <p class="gridSection-card-subtitle">Agencies</p>
            <p class="gridSection-card-subtitle">Media...</p>
          </div>
          <div class="gridSection-card">
            <p class="gridSection-card-title">Services</p>
            <p class="gridSection-card-subtitle">Consulting</p>
            <p class="gridSection-card-subtitle">Logistics</p>
            <p class="gridSection-card-subtitle">Institutions...</p>
          </div>
          <div class="cardJoin">
            <div class="cardJoin-container">
              <img class="cardJoin-container-img" src="./images/join-ico.svg" />
              <div>
                <p class="cardJoin-container-text">
                  Join the Moddity Community
                </p>
                <button class="button is-p is-rounded is-small">Join us</button>
              </div>
            </div>
            <p class="cardJoin-text">Join the Moddity Community</p>
          </div>
        </div>
      </section>

{% endblock %}
