<form method="post" action="{{ path('admin_external_delete', {'id': external.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ external.id) }}">
    <button class="btn">Delete</button>
</form>
