{% extends 'base_admin.html.twig' %}

{% block title %}Edit External{% endblock %}

{% block content %}
    <h1>Edit External</h1>

    {{ include('admin/admin_external/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_external_index') }}">back to list</a>

    {{ include('admin/admin_external/_delete_form.html.twig') }}
{% endblock %}
