{% extends 'base_admin.html.twig' %}

{% block title %}External index{% endblock %}

{% block content %}
    <h1>External index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for external in externals %}
            <tr>
                <td>{{ external.id }}</td>
                <td>{{ external.label }}</td>
                <td>{{ external.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ external.createdAt ? external.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ external.updatedAt ? external.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_external_show', {'id': external.id}) }}">show</a>
                    <a href="{{ path('admin_external_edit', {'id': external.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_external_new') }}">Create new</a>
{% endblock %}
