{% extends 'base_admin.html.twig' %}

{% block title %}New External{% endblock %}

{% block content %}
    <h1>Create new External</h1>

    {{ include('admin/admin_external/_form.html.twig') }}

    <a href="{{ path('admin_external_index') }}">back to list</a>
{% endblock %}
