{% extends 'base_admin.html.twig' %}

{% block title %}External{% endblock %}

{% block content %}
    <h1>External</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ external.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ external.label }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ external.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ external.createdAt ? external.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ external.updatedAt ? external.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_external_index') }}">back to list</a>

    <a href="{{ path('admin_external_edit', {'id': external.id}) }}">edit</a>

    {{ include('admin/admin_external/_delete_form.html.twig') }}
{% endblock %}
