@import "./animations/pages";
@import "./utils/variables";
@import "./utils/utilities";
@import "./utils/mixins";
@import "./components/badge";
@import "./components/buttons";
@import "./components/checkbox";
@import "./components/card-join";
@import "./components/overview-card";
@import "./components/show-detail";
@import "./components/selectSection";
@import "./components/loading-ring";
@import "./base/base";
@import "./base/typography";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/home";
@import "./pages/articles";
@import "./pages/overview";

main {
  margin-top: 11.2rem;
  @include desktop {
    margin-top: 16.3rem;
    padding-bottom: 6rem;

    &.home {
      margin-top: 0;
      padding-bottom: 0;
    }
  }
}
