.barba-once {
  opacity: 0;
}
.barba-once-active {
  transition: opacity 1.4s ease-in-out;
}
.barba-once-to {
  opacity: 1;
}

.home-once {
  transform: translateX(0);
}
.home-once-active {
  transition: all 0.7s ease-in-out;
}
.home-once-to {
  transform: translateX(100%);
}

.home-enter {
  transform: translateX(-100%);
}
.home-enter-active {
  transition: all 0.7s ease-in-out;
}
.home-enter-to {
  transform: translateX(0);
  position: absolute;
  top: 0;
}
