<form method="post" action="{{ path('admin_sourcing_delete', {'id': sourcing.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sourcing.id) }}">
    <button class="btn">Delete</button>
</form>
