{% extends 'base_admin.html.twig' %}

{% block title %}Edit Sourcing{% endblock %}

{% block content %}
    <h1>Edit Sourcing</h1>

    {{ include('admin/admin_sourcing/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_sourcing_index') }}">back to list</a>

    {{ include('admin/admin_sourcing/_delete_form.html.twig') }}
{% endblock %}
