{% extends 'base_admin.html.twig' %}

{% block title %}Sourcing index{% endblock %}

{% block content %}
    <h1>Sourcing index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sourcing in sourcings %}
            <tr>
                <td>{{ sourcing.id }}</td>
                <td>{{ sourcing.label }}</td>
                <td>{{ sourcing.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ sourcing.createdAt ? sourcing.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sourcing.updatedAt ? sourcing.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_sourcing_show', {'id': sourcing.id}) }}">show</a>
                    <a href="{{ path('admin_sourcing_edit', {'id': sourcing.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_sourcing_new') }}">Create new</a>
{% endblock %}
