{% extends 'base_admin.html.twig' %}

{% block title %}New Sourcing{% endblock %}

{% block content %}
    <h1>Create new Sourcing</h1>

    {{ include('admin/admin_sourcing/_form.html.twig') }}

    <a href="{{ path('admin_sourcing_index') }}">back to list</a>
{% endblock %}
