{% extends 'base_admin.html.twig' %}

{% block title %}Sourcing{% endblock %}

{% block content %}
    <h1>Sourcing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sourcing.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ sourcing.label }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ sourcing.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ sourcing.createdAt ? sourcing.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ sourcing.updatedAt ? sourcing.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_sourcing_index') }}">back to list</a>

    <a href="{{ path('admin_sourcing_edit', {'id': sourcing.id}) }}">edit</a>

    {{ include('admin/admin_sourcing/_delete_form.html.twig') }}
{% endblock %}
