<form method="post" action="{{ path('admin_collection_delete', {'id': collection.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collection.id) }}">
    <button class="btn">Delete</button>
</form>
