{% extends 'base_admin.html.twig' %}

{% block title %}Edit Collection{% endblock %}

{% block content %}
    <h1>Edit Collection</h1>

    {{ include('admin/admin_collection/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_collection_index') }}">back to list</a>

    {{ include('admin/admin_collection/_delete_form.html.twig') }}
{% endblock %}
