{% extends 'base_admin.html.twig' %}

{% block title %}Collection index{% endblock %}

{% block content %}
    <h1>Collection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collection in collections %}
            <tr>
                <td>{{ collection.id }}</td>
                <td>{{ collection.label }}</td>
                <td>{{ collection.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ collection.createdAt ? collection.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ collection.updatedAt ? collection.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_collection_show', {'id': collection.id}) }}">show</a>
                    <a href="{{ path('admin_collection_edit', {'id': collection.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_collection_new') }}">Create new</a>
{% endblock %}
