{% extends 'base_admin.html.twig' %}

{% block title %}New Collection{% endblock %}

{% block content %}
    <h1>Create new Collection</h1>

    {{ include('admin/admin_collection/_form.html.twig') }}

    <a href="{{ path('admin_collection_index') }}">back to list</a>
{% endblock %}
