{% extends 'base_admin.html.twig' %}

{% block title %}Collection{% endblock %}

{% block content %}
    <h1>Collection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collection.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ collection.label }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ collection.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ collection.createdAt ? collection.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ collection.updatedAt ? collection.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_collection_index') }}">back to list</a>

    <a href="{{ path('admin_collection_edit', {'id': collection.id}) }}">edit</a>

    {{ include('admin/admin_collection/_delete_form.html.twig') }}
{% endblock %}
