

/* a.table-action{
    font-size: 18px; 
    color: #41d3e5;
}

a.text-action{
    font-size: 14px; 
    color: #41d3e5;
}

a.table-action:hover{
    color: lightsalmon;
}

.green{
    color: lighgreen;
    background: lighgreen;
} */

th, td {
    vertical-align: middle !important;
}

.img-evenements{
    width: 100px !important;
}