.badge {
  font-size: 1.6rem;
  font-weight: 800;
  color: map-get($colors, "black");
  border-radius: 2.5rem;
  padding: 1.4rem 2rem;
  border: 2px solid map-get($colors, "black");
  background-color: 2px solid map-get($colors, "white");
  transition: all 0.2 ease-in-out;

  &:hover {
    border-color: map-get($colors, "primary");
    color: map-get($colors, "primary");
  }
}
