.button {
  font-family: Montserrat;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: map-get($colors, "white");
  background-color: map-get($colors, "white");
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;

  &.is-p {
    background-color: map-get($colors, "primary");
    border-color: map-get($colors, "primary");

    @include desktop {
      &:hover {
        background-color: map-get($colors, "black");
        border-color: map-get($colors, "black");
        color: map-get($colors, "white");
      }
    }
  }

  &.is-p-out {
    border-color: map-get($colors, "primary");
    color: map-get($colors, "primary");
    background-color: transparent;

    @include desktop {
      &:hover {
        background-color: map-get($colors, "primary");
        color: map-get($colors, "white");
      }
    }

    &.active {
      border-color: map-get($colors, "primary");
      color: map-get($colors, "white");
      background-color: map-get($colors, "primary");
    }
  }

  &.is-white {
    background-color: map-get($colors, "white");
    border-color: map-get($colors, "white");
    color: map-get($colors, "black");

    @include desktop {
      &:hover {
        background-color: map-get($colors, "black");
        color: map-get($colors, "white");
      }
    }
  }

  &.is-white-out {
    border-color: map-get($colors, "white");
    color: map-get($colors, "white");
    background-color: map-get($colors, "black");

    @include desktop {
      &:hover {
        background-color: map-get($colors, "white");
        color: map-get($colors, "black");
      }
    }
  }

  &.is-black-out {
    border-color: map-get($colors, "black");
    color: map-get($colors, "black");
    background-color: map-get($colors, "white");

    @include desktop {
      &:hover {
        background-color: map-get($colors, "black");
        color: map-get($colors, "white");
      }
    }
  }

  &.is-rounded {
    border-radius: 50px;
  }

  &.is-small {
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &.is-t {
    border-color: #d3d3d3;
    color: map-get($colors, "black");
    padding: 0.8rem 2rem;
  }

  &.with-icon {
    svg {
      margin-left: 1.3rem;
      width: 1.3rem;
    }
  }

  &.with-icon-download {
    font-size: 1.6rem;
    padding: 1.8rem 2rem 1.8rem 2.4rem;

    &:hover {
      background-color: map-get($colors, "black");
    }
    svg {
      transform: rotate(-90deg);
      margin-left: 9rem;
      width: 1.6rem;
    }
  }

  &.is-login {
    height: 4.2rem;
    padding: 0 5.5rem 0 1.2rem;
    font-size: 1.3rem;
    color: map-get($colors, "white");
    background-color: map-get($colors, "black");
    position: relative;
    border-radius: 50px;

    @include desktop {
      &:hover {
        background-color: map-get($colors, "grey");
      }
    }

    svg {
      display: block;
      position: absolute;
      right: -3px;
      top: 50%;
      border-radius: 50%;
      width: 4.3rem;
      height: 4.3rem;
      transform: translateY(-50%);
      color: transparent;
    }
  }
}

.buttonMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  &-mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    border-radius: 50%;
    margin-bottom: 0.8rem;
    border: 2px solid map-get($colors, "black");
    img {
      width: 2.2rem;
    }
  }

  &-mapText {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 800;
    color: map-get($colors, "black");
    text-align: center;
    max-width: 8rem;
  }

  &.primary {
    .buttonMap-mapContainer {
      border: 2px solid map-get($colors, "primary");
      color: map-get($colors, "primary");
    }
    .buttonMap-mapText {
      color: map-get($colors, "primary");
    }
  }
  &.grey {
    .buttonMap-mapContainer {
      border: 2px solid map-get($colors, "grey");
      color: map-get($colors, "grey");
    }
    .buttonMap-mapText {
      color: map-get($colors, "grey");
    }
    &:hover {
      .buttonMap-mapContainer {
        border: 2px solid map-get($colors, "primary");
        background-color: map-get($colors, "primary");
        color: map-get($colors, "white");
      }
      .buttonMap-mapText {
        color: map-get($colors, "primary");
      }
    }
    &.active {
      .buttonMap-mapContainer {
        border: 2px solid map-get($colors, "primary");
        background-color: map-get($colors, "primary");
        color: map-get($colors, "white");
      }
      .buttonMap-mapText {
        color: map-get($colors, "primary");
      }
    }
  }
}
