.cardJoin {
  &-container {
    display: flex;
    align-items: center;
    &-text {
      display: none;

      @include tablet {
        display: block;
        font-size: 1.6rem;
        font-weight: 800;
        color: map-get($colors, "black");
        margin-bottom: 1rem;
      }
    }
    &-img {
      margin-right: 2rem;
    }
  }

  &-text {
    font-size: 1.6rem;
    font-weight: 800;
    color: map-get($colors, "black");
    margin-top: 1rem;

    @include tablet {
      display: none;
    }
  }
}
