.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;

  .checked-ico {
    visibility: hidden;
    margin-left: 1rem;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      font-weight: 800;
    }

    &:checked ~ .checked-ico {
      visibility: visible;
    }
  }
}
