.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.3rem;
}
.loading-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 4px solid map-get($colors, "black");
    border-radius: 50%;
    animation: loading-ring 1.4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: map-get($colors, "black") transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
      background-color: map-get($colors, "lightGrey");
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      background-color: map-get($colors, "white");
      border-radius: 50%;
    }
  }
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
