.overview-card {
  position: relative;
  font-size: 1.3rem;
  cursor: pointer;

  .overviewContainer {
    width: 100%;
    padding-top: 100%;
    background-color: map-get($colors, "lightGrey");
    position: relative;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-text {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 100%;
      padding: 1rem;
      z-index: 10;

      .title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 800;
        max-height: 2.6rem;
        margin-bottom: 0.7rem;
      }
    }
  }
  .overviewFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    padding: 0.6rem 0;
  }

  &.primary {
    .overviewContainer-text {
      background-color: map-get($colors, "primary");
      color: map-get($colors, "white");
    }
  }

  &.black {
    .overviewContainer-text {
      background-color: map-get($colors, "black");
      color: map-get($colors, "white");
    }
  }

  &.white {
    .overviewContainer-text {
      background-color: map-get($colors, "white");
      color: map-get($colors, "primary");
    }
  }

  .down-ico {
    fill: none;
    color: map-get($colors, "grey");
  }

  &.is-open {
    padding-bottom: 33rem;

    .down-ico {
      transform: rotate(180deg);
      color: map-get($colors, "primary");
    }
    .overviewSeeMore {
      display: block;
    }

    &.primary {
      .overviewContainer {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: map-get($colors, "primary");
          mix-blend-mode: multiply;
        }
      }
      .overviewContainer-text {
        background-color: map-get($colors, "black");
        color: map-get($colors, "white");
      }
    }

    &.white {
      .overviewContainer {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: map-get($colors, "primary");
          mix-blend-mode: multiply;
        }
      }
    }
  }

  &:hover {
    &.primary {
      .overviewContainer {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: map-get($colors, "primary");
          mix-blend-mode: multiply;
        }
      }
      .overviewContainer-text {
        background-color: map-get($colors, "black");
        color: map-get($colors, "white");
      }
    }

    &.black {
      .overviewContainer {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: map-get($colors, "primary");
          mix-blend-mode: multiply;
        }
      }
    }

    &.white {
      .overviewContainer {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: map-get($colors, "primary");
          mix-blend-mode: multiply;
        }
      }
    }
  }
  &__link {
    display: block;
    position: absolute;
    inset: 0;
    background-color: black;
    z-index: 15;

    @include tablet {
      display: none;
    }
  }
}

.overviewSeeMore {
  width: calc(100vw - 4.8rem);
  @include desktop {
    width: calc(100vw - 30rem);
  }
  position: absolute;
  left: 0;
  background-color: white;
  z-index: 20;
  padding: 6rem 0;
  // border-bottom: 1px solid map-get($colors, "grey");
  display: none;

  &-flex {
    display: flex;
    column-gap: 2.4rem;
  }

  &-card {
    width: 20%;
  }

  &-name {
    padding-top: 2rem;
  }

  &-text {
    margin: 1rem 0;
    height: 4.4rem;
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-subtitle {
    padding-top: 2rem;
  }

  &-button {
    flex: 1;
    padding-top: 6rem;
    a {
      justify-self: flex-end;
      float: right;
      padding: 1.2rem 4.2rem;
    }
  }
}

.overview-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop {
    justify-content: flex-start;
    padding-top: 5rem;
  }

  &-text {
    font-size: 1.3rem;
    font-weight: 800;
    color: map-get($colors, "primary");
    margin-bottom: 1.6rem;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.7rem;

    @include tablet {
      font-size: 1.8rem;
      line-height: 2.2rem;
      max-width: 35rem;
    }
  }
}
