.selector-section {
  display: none;
  @include tablet {
    display: block;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    margin-top: 2rem;

    .headerSelector {
      padding-bottom: 3.2rem;
      border-bottom: 1px solid map-get($colors, "grey");

      .button-select {
        font-size: 2rem;
        font-weight: 800;
        display: inline-flex;
        align-items: center;

        svg {
          margin-left: 1rem;
          fill: none;
          transition: 240ms ease-in-out;
        }

        &.is-active {
          svg {
            transform: rotate(180deg);
          }
        }

        &:not(:last-child) {
          margin-right: 5rem;
        }
      }

      .button {
        padding: 0.8rem 1.5rem;
      }

      &-selects {
      }
    }
  }

  @include desktop {
    margin-top: 4rem;
    padding-left: 15rem;
    padding-right: 15rem;

    .button-select {
      font-size: 2.6rem;
    }
  }
}

.selectorElement {
  padding-top: 3rem;
  display: none;

  &.is-active {
    display: block;
    border-bottom: 1px solid map-get($colors, "grey");
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 20rem;

    &__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-top: 4rem;

      column-gap: 12rem;
      row-gap: 2.4rem;
      height: 20rem;
    }

    .checkbox-container {
      font-size: 1.6rem;
    }
  }
}

.selectorsAdded {
  display: none;
  justify-content: space-between;
  padding-top: 3rem;

  #selectorsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 2rem;

    .selectorItem {
      display: flex;
      column-gap: 1.5rem;
      row-gap: 1.5rem;
      font-weight: 800;
      font-size: 2rem;
      color: map-get($colors, "grey");
      svg {
        color: map-get($colors, "grey");
      }
    }
  }

  .button {
    margin-left: 3rem;
    white-space: nowrap;
    align-self: center;
  }
}
