.wrapper-show {
  margin: 2.2rem 0;
  border-top: 1px solid map-get($colors, "black");

  @include tablet {
    border: 0;
    margin-top: 0;
  }
}

.show-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
  width: 100%;
  border-bottom: 1px solid map-get($colors, "grey");
  column-gap: 0.5rem;
  font-size: 1.2rem;

  @include tablet {
    font-size: 1.3rem;
  }

  @include desktop {
    justify-content: unset;
    font-size: 1.6rem;
    padding: 3rem 0;
  }

  .date {
    width: 7rem;
    @include tablet {
      width: 8rem;
    }
    @include desktop {
      width: 17rem;
    }
  }

  .event-mobile {
    flex: 1;
    span {
      font-weight: 800;
      margin-top: 0.7rem;
      display: block;
    }

    @include tablet {
      display: none;
    }
  }

  .event-name,
  .event-type {
    font-weight: 800;
    width: 17rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .address {
    margin-top: 1rem;
    font-weight: 300;
    @include tablet {
      margin-top: 0;
    }
  }

  .date-mobile {
    @include desktop {
      display: none;
    }
  }

  .date-desktop {
    display: none;
    @include desktop {
      display: block;
    }
  }

  &-button {
    padding: 0.6rem 1rem;
    font-weight: 800;
    background-color: map-get($colors, "black");
    color: map-get($colors, "white");
    font-size: 1rem;
    border-radius: 2.5rem;

    @include desktop {
      font-size: 1.3rem;
      margin-left: auto;
    }
  }
}
