.articles {
  overflow: hidden;
  svg {
    fill: none;
  }

  @include desktop {
    padding-bottom: 13rem;
  }
  .return {
    display: none;

    @include tablet {
      display: flex;
      align-items: center;
      color: map-get($colors, "black");
      svg {
        margin-right: 1.1rem;
      }
      font-size: 1.3rem;
      font-weight: 700;
    }
  }

  .articleHeader {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2.5rem;
      padding-bottom: 3rem;
    }

    &-brand {
      display: flex;
      margin-bottom: 1.6rem;
      justify-content: space-between;

      @include tablet {
        width: 100%;
        margin-bottom: 0;
      }

      img {
        width: calc(50% - 8px);
        height: auto;
        @include tablet {
          width: 100%;
        }
      }
      .brand-title {
        width: calc(50% - 8px);
        @include tablet {
          display: none;
        }
      }
    }

    &-text {
      margin-bottom: 2.4rem;
      @include tablet {
        padding-left: 12rem;
        padding-right: 12rem;
      }

      img {
        margin-bottom: 1.6rem;

        @include tablet {
          margin-bottom: 3rem;
        }
      }

      .brand-title {
        display: none;
        @include desktop {
          display: block;
        }
      }
    }
  }

  .contactSection {
    padding: 2.1rem 0;
    border-bottom: 1px solid map-get($colors, "grey");
    border-top: 1px solid map-get($colors, "grey");

    @include tablet {
      padding: 2.4rem 0;
      display: flex;
      justify-content: space-between;
    }

    &-element {
      margin-bottom: 2.4rem;
      @include tablet {
        margin-bottom: 0;
      }
    }

    span {
      margin-left: 1rem;
    }

    p:not(:last-child) {
      margin-bottom: 0.8rem;

      @include desktop {
        margin-bottom: 1rem;
      }
    }

    .link {
      font-weight: 800;
      font-size: 1.6rem;
      display: flex;

      &:not(:last-child) {
        margin-bottom: 0.8rem;

        @include desktop {
          margin-bottom: 1rem;
        }
      }
      svg {
        margin-left: 1rem;
        color: map-get($colors, "primary");
        transform: rotate(180deg);
      }
    }
  }

  .socials {
    position: relative;
    align-self: center;
    margin-bottom: 0;
    @include desktop {
      margin-bottom: 2.1rem;
    }

    button {
      padding: 1rem 0.8rem;
      font-size: 1.1rem;
      font-weight: 600;
      border: 2px solid map-get($colors, "black");
      display: flex;
      align-items: center;
      line-height: 0;

      svg {
        margin-left: 1.5rem;
      }
    }

    .popinSocials {
      position: absolute;
      background-color: map-get($colors, "white");
      top: calc(100% - 2px);
      left: 0;
      padding: 1rem 1.2rem;
      border: 2px solid map-get($colors, "black");
      display: none;
      column-gap: 1rem;

      svg {
        display: block;
      }

      &.is-open {
        display: flex;
      }
    }

    @include tablet {
      padding-right: 20rem;
    }
  }

  .section {
    padding-top: 4.2rem;
    @include tablet {
      overflow: hidden;
    }
    @include desktop {
      padding-top: 4.5rem;
    }
    position: relative;

    &.events {
      .swiper-slide {
        height: 18rem;
        background-color: map-get($colors, "lightGrey");
      }
    }

    &.brands {
      .swiper-slide {
        padding-bottom: 170px;
        background-color: map-get($colors, "lightGrey");
      }
    }

    &.contacts {
      .swiper-slide {
        padding-bottom: 180px;
        background-color: map-get($colors, "lightGrey");
      }
    }

    .section5 {
      width: 100%;
      max-width: 50rem;
      margin: 0 auto;
      overflow: hidden;
      .button-next-section5,
      .button-prev-section5 {
        cursor: pointer;
        z-index: 10;
        position: absolute;
        top: 50%;
        transform: translateY(44px);
        right: 0;
        @include tablet {
          right: calc(25% - 65px);
        }
      }
      .button-prev-section5 {
        left: 0;
        @include tablet {
          left: calc(25% - 65px);
        }
        right: unset;
        transform: translateY(44px) rotate(180deg);
      }
      .swiper-wrapper {
        z-index: 5;
      }
      .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include tablet {
          align-items: center;
        }

        img {
          @include tablet {
            margin-right: 1.6rem;
          }
        }
        .content {
          padding: 2.4rem 2.4rem 0 2.4rem;
          font-size: 1.6rem;
          .date {
            font-size: 1.4rem;
            @include tablet {
              margin-bottom: 1.1rem;
            }
          }
          .text {
            font-size: 1.6rem;
            margin-top: 1rem;
            font-weight: 800;
          }
        }
      }
    }
  }
  .section6 {
    .section-wrapper {
      display: flex;
      flex-wrap: wrap;
      @include tablet {
        flex-wrap: nowrap;
        column-gap: 2.4rem;
      }
      .section-inner {
        width: 100%;
        &:last-child {
          padding-top: 4.2rem;
          @include tablet {
            padding-top: 0;
          }
        }
        @include tablet {
          overflow: hidden;
          width: 50%;
        }
        position: relative;

        .swiper-slide {
          padding-bottom: 180px;
          background-color: map-get($colors, "lightGrey");
        }
      }
    }
  }

  .section7 {
    .section-wrapper {
      padding-top: 3rem;
    }
  }

  .section8 {
    .swiper-slide-video {
      padding-bottom: 20rem;
      background-color: map-get($colors, "lightGrey");

      &-title {
        padding-top: 2rem;
        font-size: 1.6rem;
        font-weight: 800;
        color: map-get($colors, "lightGrey");
      }
    }
    .swiper-wrapper {
      padding-bottom: 1rem;
    }
  }

  .section9 {
    .section-wrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: 2.4rem;
      row-gap: 2.4rem;
      margin-top: 3rem;
      .section-element {
        padding: 1.7rem 2.6rem;
        width: 100%;

        @include tablet {
          width: calc(33.33% - (2 * 2.4rem / 3));
        }
        background-color: map-get($colors, "lightGrey");

        .city {
          margin-bottom: 2.4rem;
        }
      }
    }
  }

  .section10,
  .section10bis {
    .section-wrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1.6rem;
      row-gap: 1.6rem;
      @include tablet {
        column-gap: 2.4rem;
        row-gap: 2.4rem;
      }
      margin-top: 3rem;
      .overview-card {
        width: calc(50% - (1.6rem / 2));
        @include tablet {
          width: calc(20% - (4 * 2.4rem / 5));
        }

        .overviewContainer-text {
          padding: 1rem 1.5rem;
          width: 85%;

          .title {
            line-height: 1;
            max-height: 2.6rem;
          }
          .subtitle {
            margin-top: 0.7rem;
            line-height: 1;
          }
        }
      }
    }
  }

  .section11,
  .section11bis {
    .section-wrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: 2.4rem;
      row-gap: 2.4rem;
      margin-top: 3rem;
      .section-element {
        width: 100%;
        @include tablet {
          width: calc(50% - (2.4rem / 2));
        }
      }
    }
  }

  .section11 {
    .text {
      font-weight: 400;
      margin-top: 1.7rem;

      @include tablet {
        width: 80%;
      }
    }
  }

  .section11bis {
    .title-container {
      display: flex;
      .title {
        margin-right: 2.6rem;
        font-size: 1.6rem;
        font-weight: 800;
        line-height: 1;
      }
      .subtitle {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
      }

      &:not(:last-child) {
        margin-bottom: 0.7rem;
      }
    }
    .img {
      margin-top: 1.6rem;
    }
  }

  .section12 {
    .section-wrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1.6rem;
      row-gap: 1.6rem;
      margin-top: 3rem;
    }
  }

  .swiper-wrapper {
    padding-bottom: 3rem;
  }

  .swiper-pagination {
    bottom: 0;
    top: unset;
    background-color: map-get($colors, "lightGrey");
    height: 1px;

    span {
      background-color: map-get($colors, "black");
    }
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }

  .controls {
    position: relative;
    display: flex;
    column-gap: 3rem;

    .button-prev,
    .button-next {
      color: map-get($colors, "grey");
      cursor: pointer;
    }
    .swiper-button-disabled {
      color: map-get($colors, "lightGrey");
      cursor: auto;
    }
  }
}
