.heroContainer {
  @include tablet {
    display: flex;
  }
  &-left {
    @include tablet {
      width: 55%;
    }
    @include desktop {
      width: 50%;
    }
    position: relative;

    &-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-title {
      position: absolute;
      bottom: 1rem;
      left: 2rem;
      transform-origin: left;
      transform: rotate(-90deg);
      color: map-get($colors, "white");
      line-height: 0;

      @include tablet {
        bottom: 2rem;
      }
      @include desktop {
        left: 3rem;
        bottom: 4rem;
      }
    }
  }

  &-right {
    padding: 1.6rem;
    @include tablet {
      width: 45%;
      padding-top: 5.5rem;
    }
    @include desktop {
      width: 50%;
      padding: 16rem 4.6rem 4.6rem 4.6rem;
    }
    h1 {
      margin-bottom: 2.4rem;
    }
  }

  .homeLinkSection {
    display: none;
  }
  @include desktop {
    .homeLinkSection {
      display: flex;
      align-items: flex-start;
      margin-bottom: 4rem;

      .button {
        // margin: 0 0.8rem 0.8rem 0;
        max-height: 3.5rem;
      }

      &-left {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.8rem;
        column-gap: 0.8rem;
        width: 45%;
        margin-right: 10%;
      }

      &-right {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.8rem;
        column-gap: 0.8rem;
        width: 45%;
      }
    }
  }
}

.homeContent {
  padding: 2.8rem 1.6rem;

  @include tablet {
    padding: 2.8rem 2.4rem;
  }
  @include desktop {
    padding: 3rem 13rem 8rem 13rem;
  }

  .title-home {
  }

  .flexSection {
    @include mobile-only {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    row-gap: 2rem;
    column-gap: 3.5rem;

    padding-top: 1rem;
    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 2rem;
    }
    @include desktop {
      padding-top: 4rem;
    }

    &-card {
      position: relative;
      @include mobile-only {
        &:not(:first-child) {
          max-width: 22rem;
        }
      }
      font-size: 1.8rem;
      line-height: 2.4rem;

      @include desktop {
        font-size: 2.6rem;
        line-height: 3rem;
      }
      font-weight: 800;
      &-title {
        color: map-get($colors, "primary");
      }
      &-subtitle {
        color: map-get($colors, "black");
      }
      &:hover {
        .flexSection-card-hover {
          opacity: 1;
        }
      }

      &-hover {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        padding: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: map-get($colors, "primary");
        font-size: 2.6rem;
        font-weight: 800;
        color: map-get($colors, "white");
        transition: opacity 0.2s ease-in-out;

        .arrow {
          display: block;
          margin-left: 2rem;
        }
      }
    }
  }
  .gridSection {
    margin-top: 2rem;
    row-gap: 2rem;
    justify-content: space-between;
    @include mobile-only {
      display: flex;
      flex-wrap: wrap;
    }
    @include tablet {
      display: grid;
      column-gap: 3.5rem;
      grid-template-columns: repeat(3, 1fr);
    }

    @include desktop {
      margin-top: 5rem;
      column-gap: 4rem;
      row-gap: 5rem;
    }
    &-card {
      @include mobile-only {
        width: 50%;
      }
      font-size: 1.8rem;
      line-height: 2.4rem;
      @include desktop {
        font-size: 2.6rem;
        line-height: 3rem;
      }
      &-title {
        font-weight: 800;
        color: map-get($colors, "primary");
      }
      &-subtitle {
        font-weight: 300;
      }
    }

    .cardJoin {
      width: 50%;
      @include tablet {
        width: 100%;
      }
      grid-column: 2 / 4;
      align-self: flex-end;
    }
  }
}
