.overview {
  padding-bottom: 6rem;
  .selectNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.6rem;
    &-left {
      display: flex;
      align-items: center;

      &-text {
        margin-right: 1rem;
      }
    }

    .filter-ico {
      margin-left: 1.6rem;
    }

    @include tablet {
      display: none;
    }
  }

  .section {
    padding: 1.6rem 0;
    &:first-child {
      padding: 0 0 1.6rem 0;
    }
    &:not(:last-child) {
      border-bottom: 1px solid map-get($colors, "grey");
    }
    &-title {
      font-size: 1.8rem;
    }
    &-container {
      display: flex;
      flex-wrap: wrap;
      row-gap: 1.6rem;
      column-gap: 1.6rem;
      margin-top: 1.6rem;
      align-items: center;

      .checkbox-container {
        width: 30%;
      }
    }
  }

  #wrapper-infinite {
    border: none;
  }

  &-wrapper {
    .zoning-pub {
      width: 100%;
      padding: 0 1.6rem;

      @include tablet {
        padding: 2rem 0;
        width: 70%;
        margin: auto;
      }
    }
    .container {
      .wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 2.4rem 0;
        row-gap: 1.6rem;
        column-gap: 1.6rem;
        position: relative;
        border-bottom: 1px solid map-get($colors, "grey");

        @include tablet {
          row-gap: 2.4rem;
          column-gap: 2.4rem;
        }

        .overview-card {
          width: calc(50% - 0.8rem);

          @include tablet {
            width: calc(25% - (3 * 2.4rem / 4));
          }

          @include desktop {
            width: calc(20% - (4 * 2.4rem / 5));
          }
        }

        .overview-cta {
          width: calc(50% - 0.8rem);

          @include tablet {
            width: calc(25% - (3 * 2.4rem / 4));
            flex-grow: 1;
          }

          @include desktop {
            width: initial;
          }
        }
      }
    }
  }
}
