<form method="post" action="{{ path('admin_internal_delete', {'id': internal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ internal.id) }}">
    <button class="btn">Delete</button>
</form>
