{% extends 'base_admin.html.twig' %}

{% block title %}Edit Internal{% endblock %}

{% block content %}
    <h1>Edit Internal</h1>

    {{ include('admin/admin_internal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_internal_index') }}">back to list</a>

    {{ include('admin/admin_internal/_delete_form.html.twig') }}
{% endblock %}
