{% extends 'base_admin.html.twig' %}

{% block title %}Internal index{% endblock %}

{% block content %}
    <h1>Internal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for internal in internals %}
            <tr>
                <td>{{ internal.id }}</td>
                <td>{{ internal.label }}</td>
                <td>{{ internal.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ internal.createdAt ? internal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ internal.updatedAt ? internal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_internal_show', {'id': internal.id}) }}">show</a>
                    <a href="{{ path('admin_internal_edit', {'id': internal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_internal_new') }}">Create new</a>
{% endblock %}
