{% extends 'base_admin.html.twig' %}

{% block title %}New Internal{% endblock %}

{% block content %}
    <h1>Create new Internal</h1>

    {{ include('admin/admin_internal/_form.html.twig') }}

    <a href="{{ path('admin_internal_index') }}">back to list</a>
{% endblock %}
