{% extends 'base_admin.html.twig' %}

{% block title %}Internal{% endblock %}

{% block content %}
    <h1>Internal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ internal.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ internal.label }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ internal.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ internal.createdAt ? internal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ internal.updatedAt ? internal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_internal_index') }}">back to list</a>

    <a href="{{ path('admin_internal_edit', {'id': internal.id}) }}">edit</a>

    {{ include('admin/admin_internal/_delete_form.html.twig') }}
{% endblock %}
