@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, "mobile")) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, "desktop")) {
    @content;
  }
}
