.footer {
  padding: 2.6rem 1.6rem;
  display: block;

  &.desktop {
    display: none;
  }

  @include tablet {
    padding: 4rem 2.5rem 2.5rem;
    &.desktop {
      display: block;
    }

    &-flexContainer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .buttonSection {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
      }
    }

    .linkSection {
      display: flex;
      color: map-get($colors, "white");
      column-gap: 2.4rem;
      margin: 3rem 0 2rem 0;
      a {
        display: block;
        font-size: 1.3rem;
        font-weight: 700;
        color: inherit;
        &:hover {
          color: map-get($colors, "grey");
        }
      }

      &.legal {
        padding-top: 2.6rem;
        color: map-get($colors, "grey");

        a:hover {
          color: map-get($colors, "white");
        }
      }
    }

    .shareSection {
      display: flex;
      justify-content: space-between;

      a {
        display: block;
        font-size: 1.3rem;
        font-weight: 700;
        color: inherit;
      }

      .legal {
        display: flex;
        column-gap: 2.4rem;
        align-items: flex-end;
        color: map-get($colors, "grey");
        a:hover {
          color: map-get($colors, "white");
        }
      }

      .about {
        display: flex;
        column-gap: 2.4rem;

        color: map-get($colors, "white");
        a:hover {
          color: map-get($colors, "grey");
        }
      }

      &-socialsIcons {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;
        column-gap: 1rem;
        color: map-get($colors, "white");

        svg {
          width: 2.7rem;
          height: 2.7rem;
          transition: all 0.2s ease-in-out;
        }

        a:hover svg {
          color: map-get($colors, "primary");
        }
      }
    }

    &.mobile {
      display: none;
    }
  }

  @include desktop {
    padding: 5rem 13rem 2.5rem;
  }

  background-color: map-get($colors, "black");

  &-linkSection {
    text-align: center;
    color: map-get($colors, "white");

    li {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    a {
      display: block;
      font-size: 1.3rem;
      font-weight: 700;
      color: inherit;
      &:hover {
        color: map-get($colors, "grey");
      }
    }

    &.legal {
      padding-top: 2.6rem;
      color: map-get($colors, "grey");

      a:hover {
        color: map-get($colors, "white");
      }
    }
  }

  &-buttonSection {
    padding: 2.6rem 0;

    text-align: center;
    .button {
      display: inline-flex;
    }
    &-flex {
      margin-bottom: 1.3rem;
      display: flex;
      justify-content: space-between;
      column-gap: 1rem;
    }

    &.with-icon:hover {
      .arrow {
        color: map-get($colors, "primary");
      }
    }
  }

  &-shareSection {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 0;
    border-top: 1px solid map-get($colors, "grey");
    border-bottom: 1px solid map-get($colors, "grey");

    &-logo {
      color: map-get($colors, "primary");
    }

    &-socials {
      display: flex;
      img {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}
