.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: map-get($colors, "white");
  // height: 118px;
  flex-wrap: wrap;
  .navigationHome {
    display: none;
  }

  @include desktop {
    padding: 2rem 4rem;
    height: auto;
  }
  &.is-home-nav {
    .nav-container {
      justify-content: space-between;
    }
    @include desktop {
      padding: 6rem 4rem;
      background-color: transparent;
      height: auto;

      .nav__home {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        padding-left: 4.6rem;
        float: right;
      }

      .nav-container {
        background-color: transparent;
        justify-content: unset;
      }
    }
  }
  @include desktop {
    .navigationHome {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &-searchIcon {
        margin-right: 2rem;
        cursor: pointer;
      }
    }
  }

  transition: height 0.4s;
  z-index: 40;

  &__logo-home img {
    display: none;
  }

  &-container {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 40;
    background-color: map-get($colors, "white");
    padding: 1.6rem;
    @include desktop {
      padding: 0;
    }
  }

  &__logo {
    @include desktop {
      align-self: flex-start;
    }
    &-img {
      width: 5.1rem;
      display: block;
      @include desktop {
        width: 7.8rem;
      }
    }
  }
  @include desktop {
    &__logo {
      &-home {
        display: block;
        position: absolute;
        top: 3rem;
        left: 3rem;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 100%;

    &-wrapper {
      @include desktop {
        display: flex;
        justify-content: center;
        justify-content: space-between;
      }
      align-items: center;

      &.with-nav {
        span {
          display: block;
        }
      }
    }

    .nav__title-left {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0 2rem;
      align-items: center;

      @include desktop {
        text-align: left;
        align-items: unset;
        align-self: flex-start;
        padding: 0;
      }
    }

    &.without-bigTitle {
      display: block;
      @include desktop {
        display: block;
        padding-right: 4rem;
        .nav__title-left {
          align-self: unset;
        }
        .nav__title-right {
          margin-right: 0;
          padding-right: 4rem;
        }
      }
    }

    &.without-nav {
      display: block;
      @include desktop {
        .nav__title-wrapper {
          align-items: flex-start;
        }
        display: flex;
        .nav__title-left {
          align-self: unset;
        }
        .nav__title-right {
          margin-right: 0;
          align-self: center;
        }
      }
    }

    .nav__title-right {
      display: flex;
      text-align: right;
      align-items: center;
      justify-content: flex-end;
      max-width: 45%;
      color: map-get($colors, "lightGrey");
      @include desktop {
        margin-left: auto;
        margin-right: 6rem;
      }
      .big {
        display: none;

        @include desktop {
          display: block;
          margin-left: auto;
        }
      }
    }

    @include tablet {
      font-size: 3.2rem;
    }

    @include desktop {
      justify-content: space-between;

      // overflow: hidden;
      font-size: 4.2rem;
      text-align: left;
      padding-left: 4rem;
    }
    &-second {
      font-weight: 800;
    }
  }

  &__burger {
    position: relative;
    width: 5.1rem;
    height: 3.3rem;

    span,
    span:before,
    span:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 3rem;
      height: 0.6rem;
      background-color: map-get($colors, "black");
      transition: all 0.4s;
    }

    span:before {
      top: 1.1rem;
    }
    span:after {
      top: 2.2rem;
    }

    &.is-open {
      span {
        background-color: transparent;

        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
          top: 1.1rem;
        }
      }
    }
  }

  @include desktop {
    &__burger {
      display: none;
    }
  }

  // &.is-sticky {
  //   height: 90px;
  // }

  @include desktop {
    &.is-home-nav {
      position: absolute;
      display: block;
      justify-content: flex-end;

      .nav__logo {
        img {
          display: none;
        }
      }

      .nav__logo-home,
      .nav__logo-home img {
        display: block;
      }
    }
  }
}

.sticky-subnav {
  padding: 0 1.6rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: map-get($colors, "white");
  transition: all 0.4s;
  z-index: 30;

  @include desktop {
    display: none;
  }
}

.menuMobile {
  position: absolute;
  padding-top: 1.6rem;
  top: 100%;
  width: 100%;
  z-index: 30;
  transform: translateY(calc(-100% - 300px));
  background-color: map-get($colors, "white");
  border-top: 1px solid map-get($colors, "grey");

  transition: all 0.4s;
  transform-origin: top;
  box-shadow: 0px 4px 4px 0px #00000040;

  &.is-open {
    transform: translateY(0);

    h1 {
      //   transform: translateY(250%);
    }
  }

  @include desktop {
    display: none;
  }

  &-section {
    @include tablet {
      padding: 0;
    }

    &.linkSection {
      padding: 0 1.6rem 0 1.6rem;

      @include tablet {
        display: flex;
      }

      .button {
        margin: 0 1.4rem 1.4rem 0;
      }
    }

    &.bottomSection {
      border-top: 1px solid map-get($colors, "grey");

      @include tablet {
        display: flex;
      }

      &-mapSection {
        display: flex;
        align-items: center;
        padding: 1.6rem;

        @include tablet {
          border-right: 1px solid map-get($colors, "grey");
          flex: 1;
        }

        .buttonMap:not(:last-child) {
          margin: 0 2rem 0 0;
        }
      }

      &-accountSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem;
        border-top: 1px solid map-get($colors, "grey");

        @include tablet {
          padding: 2rem;

          .greetings {
            p {
              margin-right: 4rem;
            }
          }
        }

        .greetings {
          display: flex;
          align-items: center;

          p {
            margin-left: 1.6rem;
            //styleName: MOBILE - BTN Nav;
            font-family: Montserrat;
            font-size: 13px;
            font-style: normal;
            font-weight: 800;
            line-height: 29px;
            letter-spacing: 0px;
            text-align: left;
            color: map-get($colors, "black");
          }
        }
      }
    }
  }
}

.filter-menu {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(calc(-100% - 118px));
  background-color: map-get($colors, "white");
  transition: all 0.4s;
  transform-origin: top;
  box-shadow: 0px 4px 4px 0px #00000040;

  &.is-open {
    transform: translateY(0);

    h1 {
      //   transform: translateY(250%);
    }
  }

  @include tablet {
    display: none;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.6rem;
    border-top: 1px solid map-get($colors, "grey");
    border-bottom: 1px solid map-get($colors, "grey");
  }

  &-container {
    padding: 1.6rem;

    .section {
      // padding: 0 1.6rem;
    }
  }
}

.nav-desktop {
  display: none;
  z-index: 50;

  @include desktop {
    display: block;

    &--left {
      position: absolute;
      left: 4rem;
      top: 16.3rem;
      transform-origin: 0 0;
      transform: rotate(-90deg) translateX(-100%);
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        row-gap: 1rem;
        column-gap: 1rem;
        max-width: 45rem;

        li,
        a {
          max-height: 3.5rem;
        }
      }
    }

    &--right {
      position: absolute;
      right: 4rem;
      top: 16.3rem;
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
    }
  }
}

.nav-articles {
  display: flex;
  column-gap: 0.7rem;
  overflow-x: scroll;
  padding-bottom: 2rem;
  background-color: map-get($colors, "white");
  z-index: 40;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 0.8rem 1.5rem;
    background-color: map-get($colors, "grey");
    font-weight: 800;
    color: map-get($colors, "white");
    border-radius: 2rem;
    font-size: 1.3rem;

    &.active {
      background-color: map-get($colors, "primary");
    }

    &:first-child {
      margin-left: 1.6rem;
    }
    &:last-child {
      margin-right: 1.6rem;
    }
  }
  @include tablet {
    display: none;
  }

  &.desktop {
    display: none;
    @include desktop {
      display: flex;
    }
    margin-top: 1rem;
    padding-bottom: 0;
    margin-right: 15rem;

    a {
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.nav-calendar {
  display: flex;
  column-gap: 0.7rem;
  overflow-x: scroll;
  padding-bottom: 2rem;
  background-color: map-get($colors, "white");
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 0.7rem;
    background-color: map-get($colors, "grey");
    font-weight: 600;
    color: map-get($colors, "white");
    font-size: 1.3rem;
    box-shadow: inset 0px 0px 0px 2px map-get($colors, "grey");
    border-radius: 0.4rem;

    &.map {
      color: map-get($colors, "primary");
      box-shadow: inset 0px 0px 0px 2px map-get($colors, "primary");
      background-color: map-get($colors, "white");

      &.active {
        color: map-get($colors, "white");
      }
    }

    &.active {
      background-color: map-get($colors, "primary");
      box-shadow: inset 0px 0px 0px 2px map-get($colors, "primary");
    }

    &:first-child {
      margin-left: 1.6rem;
    }
    &:last-child {
      margin-right: 1.6rem;
    }
  }
  @include tablet {
    display: none;
  }

  &.desktop {
    display: none;
    @include desktop {
      display: flex;
    }
    margin-top: 1rem;
    padding-bottom: 0;

    a {
      @include desktop {
        &:hover {
          background-color: map-get($colors, "primary");
          box-shadow: inset 0px 0px 0px 2px map-get($colors, "primary");
          color: map-get($colors, "white");
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
