<form method="post" action="{{ path('admin_land_delete', {'id': land.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ land.id) }}">
    <button class="btn">Delete</button>
</form>
