{% extends 'base_admin.html.twig' %}

{% block title %}Edit Land{% endblock %}

{% block content %}
    <h1>Edit Land</h1>

    {{ include('admin/admin_land/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_land_index') }}">back to list</a>

    {{ include('admin/admin_land/_delete_form.html.twig') }}
{% endblock %}
