{% extends 'base_admin.html.twig' %}

{% block title %}Land index{% endblock %}

{% block content %}
    <h1>Land index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for land in lands %}
            <tr>
                <td>{{ land.id }}</td>
                <td>{{ land.label }}</td>
                <td>{{ land.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ land.createdAt ? land.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ land.updatedAt ? land.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_land_show', {'id': land.id}) }}">show</a>
                    <a href="{{ path('admin_land_edit', {'id': land.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_land_new') }}">Create new</a>
{% endblock %}
