{% extends 'base_admin.html.twig' %}

{% block title %}New Land{% endblock %}

{% block content %}
    <h1>Create new Land</h1>

    {{ include('admin/admin_land/_form.html.twig') }}

    <a href="{{ path('admin_land_index') }}">back to list</a>
{% endblock %}
