{% extends 'base_admin.html.twig' %}

{% block title %}Land{% endblock %}

{% block content %}
    <h1>Land</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ land.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ land.label }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ land.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ land.createdAt ? land.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ land.updatedAt ? land.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_land_index') }}">back to list</a>

    <a href="{{ path('admin_land_edit', {'id': land.id}) }}">edit</a>

    {{ include('admin/admin_land/_delete_form.html.twig') }}
{% endblock %}
