{% extends 'base_admin.html.twig' %}

{% block title %}New Product{% endblock %}

{% block content %}
    <h1>Create new Product</h1>

    {{ include('admin/admin_product/_form.html.twig') }}

    <a href="{{ path('admin_product_index') }}">back to list</a>
{% endblock %}
