{% extends 'base_admin.html.twig' %}

{% block title %}Product{% endblock %}

{% block content %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ product.label }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ product.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_product_index') }}">back to list</a>

    <a href="{{ path('admin_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('admin/admin_product/_delete_form.html.twig') }}
{% endblock %}
