#navbarSupportedContent{
    box-shadow: 0px 0px 7px silver;
}

.text-mc{
    color: #1595D1;
}

h1{
    margin: 30px 0 60px 0;
    color: #3f51b5; 
}

.custom-between{
    justify-content: space-between;
    display: flex;
}

.select-bubble{
    background: linear-gradient(to right, #8971ea, #7f72ea, #7574ea, #6a75e9, #5f76e8);
    box-shadow: 0px 7px 12px 0px rgba(95, 118, 232, 0.21);
    width: 200px;
}

.alert-danger ul, .alert-danger ul li {
    list-style: none !important;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
}

.bubble-custom-style .card-header {
    display: flex;
    justify-content: space-between;
}

.eyeShow:hover{
    cursor: pointer;
}

.dropdown-bubble{
    text-align: center;
    margin-top: 20px;
}

.mc-photo-edit{
    position: relative;
    right: 40px;
    bottom: -80px;
    color: white; 
    text-shadow: 1px 1px grey;
    visibility: hidden;
}
.qc-image + .mc-photo-edit{
    position: absolute;
    background: #80787870;
    border-radius: 30px;
    height: 40px;
    right: auto;
    text-align: center;
    border: 2px solid white;
    display: flex;
    align-items: center;
    width: 40px;
    justify-content: center;
    bottom: 30px;
    color: white;
    visibility: hidden;
    margin: 0 auto;
    font-size: 20px;
}

.mc-photo-user:hover + .mc-photo-edit,
.qc-image:hover + .mc-photo-edit{
    visibility: visible
}

.mc-photo-edit:hover{
    visibility: visible;
    color: #FFF; 
}


.plan .card-header h4{
    font-size: 14px !important; 
    margin-top: 5px;
}

.plan .card-body h3{
    font-size: 12px !important; 
}

.plan .card-body p.card-text{
    font-size: 12px !important; 
}


/***

LOGIN

****/

.auth-wrapper .auth-box .modal-bg-img{
    max-width: 350px;
}

.login-window{
    width: 900px;
}

.login-window-content{
    width: 100%;
}

.login-second-action{
    display: flex; 
    justify-content: space-between
}

.login-second-action .mc-btn{
    font-size: 12px;
    text-align: left;
}

.login-second-action .mc-btn:hover{
    color: #1595D1;
}

.login-sep{
    margin: 30px 0 10px 0;
}


.tranche-group{
    padding-left: 0px !important;
}

table#tranches,
table#tranches ~ table{
    margin-left: 14px;
}



/* MC own Framework CSS */

.mc-opacity-5{
    opacity: 0.5;
}

.mc-opacity-6{
    opacity: 0.6;
}

.mc-opacity-7{
    opacity: 0.7;
}

.mc-opacity-8{
    opacity: 0.8;
}

.mc-opacity-9{
    opacity: 0.9;
}

.mc-bg{
    background: linear-gradient(to right, #8971ea, #7f72ea, #7574ea, #6a75e9, #5f76e8);
}

.mc-bg-2{
    background: linear-gradient(to left, #ffbe07, #ffbe07, #FF9800, #ff7600, #FF5722);
}

.text-custom{
    color: #33314A;
}

.role_icon{
    text-shadow: 0px 1px 2px grey;
    margin-right: -15px;
    z-index: 1000;
    position: relative;
    top: -10px;
    color: rgb(82, 179, 224);
}

.icon-sa{
    border: 2px solid #FE6040;
}
.icon-ba{
    border: 2px solid #ffff00;
}
.icon-op{
    border: 2px solid #e91e30
}
.icon-ind{
    border: 2px solid #795548
}
.icon-va{
    border: 2px solid #f490ff
}
.icon-man{
        border: 2px solid #62c34a
}


.text-ba{
    color: #ffff00;
}
.text-op{
    color: #e91e30
}
.text-ind{
    color: #795548
}
.text-va{
    color: #f490ff
}
.text-man{
    color: #62c34a
}


.orange{
    color: #FE6040;
}
/* for debug */
pre.sf-dump {
    z-index: 30 !important;
}


/*** MC LABELS ***/
label.mc-label{
    position: absolute;
    margin-top: -38px;
    margin-left: 15px;
    transition: 0.2s;
    color: #A7A7A7;
    font-weight: 400; 
    left: 12px;
}

form .fa-eye-slash,
form .fa-eye{
    position: absolute;
    margin-top: -45px;
    right: 30px;
}  

textarea.mc-form-control ~ label.mc-label {
    margin-top: -150px;
}

input.mc-form-control, textarea.mc-form-control{
    border-radius: 3px !important;
    height: calc(1.5em + 0.75rem + 16px);
    box-shadow: none; 
    padding-top: 22px;
    text-indent: 4px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    margin-top: 30px; 
    border: 1px solid #DDDDDD;
}

input.mc-form-control:focus, textarea.mc-form-control:focus{
    box-shadow: none !important; 
}

input.mc-form-control[type="password"]{
    border-radius: 3px 0px 0px 3px !important;
}
input.mc-form-control[type="password"] ~ .input-group-text{
    border-radius: 0px 3px 3px 0px !important;
}
input.mc-form-control:focus, 
textarea.mc-form-control:focus{
    border: 1px solid #239DE8;
}

input.mc-form-control:focus ~ label.mc-label,
label.mc-label-fixed, textarea.mc-form-control:focus ~ label.mc-label {
    margin-top: -46px;
    padding: 0px 5px 0px 5px;
    z-index: 10000;
    color: #239DE8;
    font-size: 12px; 
}

textarea.mc-form-control{
    height: 154px;
    resize: none; 
}
textarea.mc-form-control:focus ~ label.mc-label,
textarea.mc-form-control ~ label.mc-label-fixed{
    margin-top: -150px;
}
label.mc-label-fixed{
    color: #A7A7A7;
}

label.mc-label ~ label.input-group-text{
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 100;
    background: transparent !important;
    border: none;
}

/* custom empty */
.custom-empty{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}


/** historique impression **/

td.border-danger{
    border-left: 5px solid #ff4f70;
}
td.border-success{
    border-left: 5px solid #22ca80;
}
td.border-warning{
    border-left: 5px solid #fdc16a;
}

#myTable{
    font-size: 12px; 
}

#myTable thead th{
    background-image: none; 
    border-left: 1px solid #ececec;
}

#myTable thead tr:first-child th:first-child{
    border: none !important;
}

.sidebar-link:hover{
    color: #818181;
    background: #c0c0c03b;
    opacity: 1;
    border-radius: 0px 60px 60px 0px;
}



/** Custom badge notifications **/
.mc-custom-notif-bagde{
    background: #ff4f70;
    min-width: 20px !important;
    display: inline-block;
    color: white;
    border-radius: 10px;
    padding: 0 7px;
    font-size: 10px;
    height: 20px;
    position: absolute;
    z-index: 0;
    top: 20px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mc-custom-notif-bagde-nav{
    position: relative;
    left: 2px;
    top:0;
    display: inline-block;
}


/*** Form Errors ***/
.form_error ul{
    list-style: none; 
    color: #F26040;
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 16px; 

}
.form_error{
    color: #F26040;
    margin-top: -15px;
}

/** sorting tables **/
#myTable{
    padding: 0; 
    border: none; 
    margin: 0; 
}


/** form add uer to bubble **/

/** modal  **/
.modal-content{
    box-shadow: 0px 5px 15px black;
    border-radius: 10px; 
}

/** ECO MODEL **/

.modal-info-ecomodel .spe_ecomodel{
    color: #FE6040;
}

/***  custom tri/filtre form  ***/

select.selecttri,
input.search-table{
    height: 40px;
    background: #ececec;
    color: grey;
    border: none;
    border-radius: 6px;
    border: 1px solid #ececec;
    padding: 10px 30px;
    transition: 0.2s;
    
}

input.search-table{
    width: calc(100% - 60px);
    border-radius: 6px 0 0 6px;
}

input.search-table ~ label{
    width: 50px;
}

select.selecttri ~ label,
input.search-table ~ label{
    margin-right: 10px; 
}

select.selecttri:focus,
select.selecttri:focus ~ label,
input.search-table:focus,
input.search-table:focus ~ label{
    border: none;
    box-shadow: none;
    color: #499df3;
    background: #499df3;
    background: #c7e2ff;
}
select.selecttri:focus ~ label,
input.search-table:focus ~ label{
    border: none;
    border-bottom: 1px solid #499df3;
    border-right: 1px solid #499df3;
    border-top: 1px solid #499df3;
}
select.selecttri:focus,
input.search-table:focus{ 
    border: none;
    border-bottom: 1px solid #499df3;
    border-left: 1px solid #499df3;
    border-top: 1px solid #499df3;
}



.input-group-text{
    border-radius: 0 6px 6px 0;
    height: 40px;
}

.add-button-group{
    width: 400px;
}

.nav-table a{
    text-decoration: none; 
    color: #495057;
}

.nav-table.nav-bordered li a.active {
    border-bottom: 4px solid #1595D1;
    
}

table .btn, table{
    font-size: 12px; 
}

.label-filter a{
    font-size: 10px; 
    padding: 5px 10px; 
    margin: 5px; 
    border-radius: 50px;
    background: red;
}
.label-filter a:first-child{
    margin-left: 0px; 
}
.label-filter a{
    color: white;
    background: red;
}

/** ON / OFF BUTTON **/
td.td-center{
    text-align: center !important;
}
.on-off-btn,
.on-off-print-btn{
    overflow: hidden;
    height: 22px;
    margin: 5px;
    width: 44px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 4px 0px #0000004a;
    cursor: pointer;
    transition: 0.3s;
}

.on-off-btn .on-off-cursor,
.on-off-print-btn .on-off-cursor{
    background: #e3e3e3;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-top: 1px;
    transition: 0.3s;
}

.on{
    background: lightgreen;
    
}
.off{
    background: transparent;
}

.on .on-off-cursor{
    margin-left: 23px;
    box-shadow: 1px 1px 3px #00000085;
}

.off .on-off-cursor{
    margin-left: 1px;
    box-shadow: 0px 0px 3px #00000085;
}

textarea.qc-textarea{
    font-size: 12px;
    margin: 2% 2% 0 2%; 
    width: 96%;
    resize: none;
    transition: 0.4s;
    height: 50px; 
    padding: 10px; 
}

textarea.qc-textarea-deployed{
    height: 150px; 
}

a.textarea-action{
    font-size: 10px; 
    margin: 0 0 0 2%; 
}

a.textarea-action ~ i{
    font-size: 8px; 
    transition: 0.4s;
}

img.qc-image{
    height: 40px; 
    margin: 2%; 
    margin-top: 10px;
}

label.photo-action,
label.mc-photo-edit{
    position: relative; 
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.qc-image-2{
    height: 100px; 
    margin: 2%; 
    margin-top: 10px;
}

.textarea-compteur{
    font-size: 10px; 
    float: right;
    margin: 2%;
    background: white; 
    padding: 2px; 
}

.piecePhotoField  .custom-file{
    display: none; 
}
.td-center .form-check{
    display: none;
}

/*** CUSTOM CTA  ***/
.mc-cta{
    font-size: 1em;
    background: #1595D1;
    color: white;
    padding: 7px 10px;
    margin: 0 10px;
    border-radius: 4px;
    transition: 0.3s;
}
.mc-cta:hover{
    color: white;
    box-shadow: 0px 3px 9px #1595D180;
}
.mc-cta svg{
    width:14px;
    margin-right: 4px;
    margin-top:-2px;
}

.mc-cta-bordered{
    background: transparent;
    border: 1px solid #1595D1;
    color: #1595D1;
}
.mc-cta-bordered:hover{
    color:  white;
    background: #1595D1;
}

.mc-input-bordered{
    background: transparent;
    border: 1px solid #1595D1;
    color: #1595D1;
    text-indent: 5px;
    padding: 3px 0;
    border-radius: 4px;
    height: 40px;
}


/***** CUSTOM MC FORM ******/

.mc-form{
    display:flex; 
    justify-content:space-between; 
    flex-wrap: wrap;
    align-items : center; 
}

.mc-form .mc-form-group-link{
    margin-top: 23px;
    text-align: right; 
}

.mc-form .mc-form-group a.form-link:hover{
    text-decoration: underline; 
}

.mc-form .mc-cta{
    padding: 8px 10px; 
}

.mc-filter-form{

}

.mc-form-group{
    margin: 0 5px;
}

.mc-form-group-3{width: calc(50% - 10px);}
.mc-form-group-3{width: calc(33% - 10px);}
.mc-form-group-4{width: calc(25% - 10px);}
.mc-form-group-5{width: calc(20% - 10px);}
.mc-form-group-6{width: 1calc(6% - 10px) ;}
    
.mc-filter-form .mc-form-group select,
.mc-filter-form  a.nav-link,
.mc-filter-form .mc-form-group input{
    background: #ececec;
    font-size: 14px; 
    border-radius: 5px;
    color: grey;
}

.mc-filter-form .mc-form-group select, 
.mc-filter-form  a.nav-link{
    background: #ececec url('../images/custom-select.png') no-repeat right 0.75rem center/8px 10px;
}

.filter-dropdown-menu{
    position: absolute;
    transform: translate3d(20px, 66px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 3px 6px 0px rgba(0, 0, 0, 0.1);
    width: 25%;
}

.filter-dropdown-menu .dropdown-menu-field{
    display: flex;
    justify-content: space-between;
    height: 30px;
    font-size: 14px;
    margin: 10px 5px;
    align-items: center;
}

.filter-dropdown-menu .dropdown-menu-field input{
    margin-top: 4px;
    margin-right: 5px;
}

.filter-dropdown-menu .dropdown-menu-field .badge{
    border-radius: 10px;
    background: #dcdbdb;
    color: grey; 
}



#filter-number{
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    background: #1595D1;
    color: white;
    padding: 0 3px;
    margin: 0 2px;
    font-size: 12px; 
}


/***** CUSTOM MC DATA TABLE   *****/
/** bleu : #1595D1 **/
/** ombre : 0px 3px 9px #1595D180 **/

.mc-table-page .mc-row-action{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 14px; 
}

.mc-table-page .mc-row-filter,
.mc-table-page .mc-row-table{
    padding: 30px 20px;
    background: white;
    width: 100%;
    margin: 10px;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #919191bd;
    font-size: 14px; 
}
.mc-table-page .mc-row-table{
    margin-top: 0px;
    padding: 10px 20px;
}

.mc-table-page .mc-row-table ul li a{
    padding-left: 0;
    margin-right: 10px; 
}

.mc-table-nav{
    display: flex;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(108, 117, 125, 0.2);
    justify-content: space-between;
}

.mc-table-nav-bottom{
    margin-top: 20px;
    display: flex;
    padding-bottom: 0;
    border-bottom: none;
    justify-content: flex-end;
    margin-bottom: 20px; 
}

.mc-table-nav-left{
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

.mc-table-nav-left form{
    width: 400px; 
}


.mc-table-nav ul{
    margin-bottom: 0 !important;
    border: none; 
}

.mc-table-nav ul.nav-bordered{
    margin-bottom: 0 !important;
    border: none; 
}

/* pagination */
.mc-pagination a{
    color: #1595D1;
    text-align:center; 
}

.mc-table-page .mc-row-table .mc-pagination a.page-link{
    color: #1595D1;
    text-align:center; 
    margin: 0; 
    border-bottom: 1px solid rgba(108, 117, 125, 0.2);
    padding: 8px; 
    border-radius: 0px; 
    margin-right : -1px; 
    font-size: 12px; 
}

.mc-table-page .mc-row-table .mc-pagination li:first-child a,
.mc-table-page .mc-row-table .mc-pagination li:last-child a{
    margin-top: 8px;
    display: block;
    font-size: 12px;
}

.mc-table-page .mc-row-table .mc-pagination li:first-child a:hover,
.mc-table-page .mc-row-table .mc-pagination li:last-child a:hover{
    text-decoration: underline;
}
.mc-table-page .mc-row-table .mc-pagination a.page-link-first{
    border-radius: 3px 0px 0px 3px;
}
.mc-table-page .mc-row-table .mc-pagination a.page-link-last{
    border-radius: 0px 3px 3px 0px;
    margin-right: 10px; 
}

.mc-table-page .mc-row-table .mc-pagination a.page-link:hover,
.mc-table-page .mc-row-table .mc-pagination a.active{
    background: #1595D1;
    color: white; 
    border: 1px solid #1595D1;
}

/* search form custom */
.mc-search-form label{
    border-radius: 3px 0px 0px 3px;
    height: 36px;
    background: #ececec;
    border: 1px solid #ececec;
}
.mc-search-form input{
    border-radius: 0px 3px 3px 0px;
    width: calc(100% - 79px);
    margin-right: 15px; 
    height: 36px;
    background: #ececec;
    border: 1px solid #ececec;
    text-indent: 0px !important;
    padding: 0; 
}
.mc-search-form input:focus{
    background: #ececec;
    border: 1px solid #ececec;
    text-indent: 0px !important;
}

.mc-table{
    margin-top: 30px; 
    border-bottom: none !important;
}

.mc-table thead tr:hover{
    background: white !important;
}
.mc-table tr:hover{
    background: #1595d12b !important;
}

.mc-table tr,
.mc-table td,
.mc-table th,
.mc-table thead,
.mc-table thead th{
    border: none;
}

.mc-table thead tr{
    color: black; 
    text-align: center; 
    background: white; 
}

.mc-table thead tr th,
.mc-table thead tr td{
    border-left: 1px solid #ececec !important;
}

.mc-table th,
.mc-table td{
    border-left: 1px solid #ececec;
}

.mc-table th:first-child,
.mc-table td:first-child{
    border-left: none;
}

.mc-table tbody tr:nth-child(odd){
    background: #fafafa;
}


.mc-table tbody{
    
}

#myTable_filter,
#myTable_info{
    display: none;
}

.mc-table{
    margin-top: 30px !important; 
}

.mc-table thead tr th{
    background: transparent !important;
}

.mc-table thead th .arrow{
    width: 14px;
    height: 14px;
}

.mc-table thead th .arrow{
    display: none;
    color: black;
}
.mc-table thead th .arrow-right{
    display: inline-block;
}
.mc-table thead th.sorting_desc .arrow-down{
    display: inline-block;
    color: #1595D1;
}
.mc-table thead th.sorting_asc .arrow-up{
    display: inline-block;
    color:#1595D1;
}
.mc-table thead th.sorting_desc .arrow-down{
    display: inline-block;
    color:#1595D1;
}
.mc-table thead th.sorting_desc .arrow-right,
.mc-table thead th.sorting_asc .arrow-right{
    display: none
}

.mc-table thead th.sorting_desc,
.mc-table thead th.sorting_asc{
    color:#1595D1;
}

.dataTables_filter, .dataTables_info{
    display: none !important; 
}

table.dataTable thead th, table.dataTable thead td {
    /* padding: 10px 18px; */
    border: none !important;
    border-left: 1px solid #ececec !important;
}

.mc-table .mc-table-center{
    text-align: center;
}
.mc-table .mc-table-bold{
    font-weight: bold;
}
.mc-table .mc-table-left{
    text-align: left;
}

.mc-table td{
    vertical-align: middle; 
}

.mc-table .mc-table-indent-10{
    text-indent: 10px; 

}

.mc-point{
    font-size: 9px; 
}

.mc-table-action-group{
    opacity:0.12;
}

tr:hover .mc-table-action-group{
    opacity: 1;
}

.mc-table-action-small{
    background: #1595D1 !important;
    border: none;
    border-radius: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    padding: 0;
    height: 30px;
    line-height: 24px;
    font-size: 14px !important;
    vertical-align: middle;
    margin-right: 5px; 
}

.mc-table-action-small-edit{
    background: #d15a15 !important;
}

.td-mc-table-action{
    display: flex;
    justify-content: flex-end;
}


.mc-table-more-action .dropdown-toggle{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: transparent;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    
}
.mc-table-more-action .dropdown-toggle svg{
    color: #1595D1;
}
.mc-table-more-action .dropdown-toggle:hover,
#miniSidebar:hover{
    background:  #1595d138;
    color: #1595D1;
}

.mc-table .dropdown-item{
    border-bottom: 1px solid rgba(108, 117, 125, 0.2);
}

.mc-table .dropdown-item:hover{
    background: #1595D1;
    color: white;
}

.mc-table .dropdown-menu{
    padding-top:0;
    padding-bottom: 0;
}


/*** DIVERS  **/

#miniSidebar{
    color: rgba(108, 117, 125, 0.2);
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: transparent;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    margin-left: 20px;  
}

.mc-loader{
    height: 65px !important;
    width: 65px !important;
    background-image: url('../img/mc-loader.gif');
    background-size: 65px 65px; 
}

/** LIGHET BOX ***/

.petite, .grande {
    cursor: pointer
}

.grande {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.grande img {
    width: 60%;
    border: 4px white solid;
    border-radius: 5px;
}



/**** MC CARD ****/ 
.mc-card, .mc-form .mc-custom-form-check .form-check,
.mc-form .mc-custom-form-block{
    padding: 30px 20px;
    background: white;
    width: 100%;
    margin: 10px;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #919191bd;
    font-size: 14px;
}




/*** MC TEXT ***/
.mc-h5{
    color: black;
    margin-top: 20px; 
    font-weight: bold;
}

.mc-text{
    font-size: 14px; 
    color: #38393b;
}

.mc-text-small{
    font-size: 14px; 
}

/*** mc-divider ***/
.mc-divider{
    height: 1px; 
    background: silver;
    width: 100%;
    margin: 10px auto;
}

/**** MC FORM ***/

.mc-card-field, .mc-form .mc-custom-form-check .form-check,
.mc-card-field, .mc-form .mc-custom-form-block {
    padding: 20px 30px 20px 10px;
}

.mc-card-field .w-100,
.mc-card-field .input-group{
    padding-left : 15px;
}

.mc-form .mc-custom-form-check  .form-check input{
    margin-left: 0;
}

.mc-form input{
    height: 40px;
}

.mc-form input[type="radio"],
.mc-form input[type="checkbox"]
{
    height: 10px;
}

.mc-form input{
    border-radius: 4px; 
}
.mc-form  label{
    font-size: 14px;
    padding-left: 15px;
}

.mc-form input[type="radio"] ~ label,
.mc-form input[type="checkbox"] ~ label,
.mc-form label[for="eco_model_periodDateFromString"],
.mc-form label[for="eco_model_periodDateToString"]
{
    padding-left: 0;
}

.mc-form label[for="eco_model_planAmount"]{
    margin: 20px 15px 10px 5px;
}

.mc-form label[for="eco_model_quantityAmount"]{
    padding-left: 0px;
}

.form-check label{
    margin-left: 20px;
}

.mc-form input[type="checkbox"] ~ label{
    margin-left: 0;
}

input#eco_model_quantityAmount{
    margin-left: -2px; 
}

.mc-form .input-group-text{
    border-radius: 4px 0px 0px 4px;
}

.mc-form .label[for="eco_model_planAmount"]{
    margin-top: 20px;
}


.mc-card-field-p2 .input-group-prepend{
    margin-left: 3px; 
}

.mc-form #eco_model_isPeriodPermanent .form-check:last-child,
.mc-form #eco_model_isQuantityUnlimited .form-check:last-child{
    height: 140px; 
}

.mc-tranches-area .w-100{
    
}
.mc-form .mc-card-date{
    margin-top: -125px;
    margin-left: 15px;
}

.mc-select-align{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    margin: 20px 15px;
    overflow:hidden;
}

.form-user .mc-select-align{
    margin-left: 0px;
}

.mc-select-align .mc-select-align-item{
    color: black;
    display: block;
    height: 40px;
    display: flex;
    align-items: center;
    width: 33.3333333333333333%;
    justify-content: center;
    margin: 0;
    border-right: 1px solid #e9ecef;
    transition: 0.2s;
}
.form-user .mc-select-align .mc-select-align-item{
    width: 50%;
}

.mc-select-align .mc-select-align-item:last-child{
    border:none;
}

.mc-select-align .mc-select-align-item:hover{
    cursor: pointer;
    background: #1595D1;
    color: white;
}

.mc-form .mc-select-align .active{
    background: #1595D1;
    color: white;
}

.mc-form #eco_model_contractRange{
    display: none;
}

.mc-form .mc-tranches-area{
    padding: 10px 20px;
}

a.tranche-action-btn {
    /*height: 30px;
    width: 30px;
    margin-top: -5px;
    display: block;
    vertical-align: middle;
    line-height: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 3px 6px #00000033;*/
    margin-top: -5px;
    display: block;
    color: #1595D1;
    vertical-align: middle;
    line-height: 24px;
    font-size: 14px;
    align-items: center;
}

a.tranche-action-btn:hover{
    color: #FE6041;
}

.mc-form .mc-custom-form-submit{
    display: flex; 
    justify-content: flex-end;
}

.mc-form .mc-custom-form-submit button{
    padding: 8px 30px; 
    border: none; 
    margin-right: 3px !important;
}

.mc-form .mc-custom-form-submit span.main-action{
    font-size: 20px; 
}


.mc-form td.tranche-add-cell{
    padding-top: 20px; 
    padding-bottom: 10px;
}
.mc-form td.tranche-add-cell a.mc-cta{
    border: none; 
    padding: 0; 
    margin: 20px 0px 15px 0px; 
    background: transparent;
    color: #1595D1;


}

.mc-form td.tranche-add-cell a.mc-cta:hover{
    border: none; 
    padding: 0; 
    margin-top: 10px; 
    color: #1595D1;
    text-decoration: underline;
    box-shadow: none;
}

.alert-info a{
    color: #FE6040; 
}

.to-sub-line i, tr.sub-line{
    transition: 0.6s;
}

.to-sub-line i.rotate{
    transform : rotate(180deg);
}

.sub-line-hide{
    height: 0; 
    padding: 0;
}

.mc-row-step{
    
    width: 100%;
    margin: 10px;
    margin-top: 20px;
    border-radius: 3px;
    /*box-shadow: 0px 0px 5px #919191bd;
    background: white;*/
    font-size: 14px;
    display: flex;
    padding: 20px;
}

.step{
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.step1{
    
}

.step-range{
    width: 100%;
    text-align:center; 
}


.step-range-bar{
    height: 2px;
    background: #D6EAF6;
    margin-top: 20px;
    width: 100%;
}




.step-range-picto{
    width: 40px;
    height: 40px;
    background: #D6EAF6;
    border-radius: 40px;
    display: inline-block;
    margin-top: -24px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    color: white;
}

.step-finished .step-range-bar, 
.step-finished .step-range-picto,
.step-actif .step-range-bar,
.step-actif .step-range-picto{
background: #1595D1;
}

.step1 .step-range{
    width: 100%;
    text-align:left; 
}

.last-step .step-range{
    width: 100%;
    text-align:right; 
}

.step-text{
    text-align: center;
}

.step-text h5{
    font-weight: bold;
    margin-top: 10px; 
}
.step-text h5 i{
    display: none;
}
.step-actif .step-text h5 i{
    display: inline;
    color: #1595D1;
}

.step-text p{

}


.mc-alert{
    background: #1595D1;
    color: white;
    border: none;
    display: flex; 
    justify-content: center; 
    padding: 10px;
}

.mc-alert a{
    color: white; 
    padding: 5px 15px; 
    border: 1px solid white; 
    border-radius: 6px;
    display: inline-block;
    margin-left: 40px; 
    transition: 0.5s;
}

.mc-alert p{
    margin: 0; 
}

.mc-alert a:hover{
    color:#1595D1; 
    background: white; 
}


/*** TABLE/FORM ADD PIECE  ***/

.field_piece,
.input-group-piece{
    min-width: 400px; 
}
#piece_table tbody{
    width: 100%;
}
#piece_table .piece_check, 
#piece_table .fa-exclamation-circle,
#piece_table .loader,
#piece_table .piece_delete{
    display: none; 
}

#piece_table .piece_check,
#piece_table .piece_validate_action{
    font-size: 16px; 
    color: #1595D1;
}

#piece_table .piece_error{
    font-size: 16px; 
    color: red;
}

#piece_table .loader{
    color: #1595D1;
}

.piece_number{
    width: 22px; 
    height: 22px; 
    background: #1595D1;
    border-radius: 18px; 
    margin: 5px; 
    text-align: center; 
    color: white; 
    display: inline-block;
    line-height: 22px; 
    vertical-align: middle; 
}

/**** FORM USER ***/

.form-user h5{
    color: black;
    display: inline-block;
    height: 35px; 
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
    padding-left: 20px;
}

.mc-form .mc-custom-form-block{
    padding: 15px 0px 10px 0px;

}
.form-user label{
    padding-left: 0;
}

.form-user .input-group{
    margin-top: 20px;
}

.form-user select.hidden{
    display: none;
}

/*** API Access ***/

.apiToken .row{
    display: flex;
    align-items: flex-end;
}


.apiToken .mc-card-field{
    display:flex; 
    justify-content: space-between;
    height: 60px; 
}

.apiToken .mc-card-field .tokenHash{
    border: none;
    font-family: Courier, monospace;
    width: auto;
    width: 90%;
}

.apiToken .mc-card-field .key span{
    transition: 0.1s;
    font-size: 18px;
    position: absolute;
    margin-top: -4px;
    right: 30px; 
    z-index: 9;
}

.apiToken .mc-card-field .key span.tall{
    font-size: 22px;
    margin-top: -6px;     
    right: 28px;
}
.spanToken{
    background: #e9ecef;
    position: absolute;
    border: none;
    font-family: Courier, monospace;
    color: black;
    padding: 0 10px;
}

.invisible-copie{
    height: 20px;
    width: 20px;
    right: 28px;
    position: absolute;
    transition: 0.2s;
    display: none;
}
h2.login-title{
    margin-top: 30px; 
}


.success-login-message .picto-success{
    font-size: 40px; 
    color: #40ce30;
}

.success-login-message h2{
    margin-bottom: 40px; 
    margin-top: 10px; 
    color: #40ce30;
}

/** charts MORRIS  **/

.morris-hover, 
.morris-default-style{
    background: white;
    min-width: 200px;
    max-width: 300px;
    position: absolute;
    border: 1px solid rgb(189, 183, 183);
    border-radius: 4px;
    padding: 10px;
    box-shadow: rgb(130 128 128) 0px 2px 6px;
    top: 101px;
    display: none;
}


.creditArea{
    position: absolute;
    left: 20px;
    font-size: 10px;
    bottom: 50px;
}

.creditArea .version{
    font-size: 12px;
}
