{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminUserController!{% endblock %}

{% block content %}


   
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title">Pro Profiles</h4>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="#">Add new Pro Profile</a>
                                        <a class="dropdown-item" href="#">Add new Service profile</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col"></th>
                                <th scope="col">Email</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Role</th>
                                <th scope="col">Inscrit le</th>
                                <th style="text-align:center">Statut</th>
                                <th style="text-align:center">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for user in users %}
                              <tr>
                                <th scope="row">{{ user.id }}</th>
                                <td>
                                  {% if user.isConfirm %}
                                  <i class="fas fa-circle text-success" data-toggle="tooltip" title="Email confirmé"></i>&nbsp;
                                  {% else %}
                                  <i class="fas fa-circle text-warning" data-toggle="tooltip" title="Email en attente de confirmation"></i>&nbsp;
                                  {% endif %}
                                </td>
                                <td>
                                  <a href="" class="table-action text-action" data-toggle="tooltip" title="Voir les infos du profil">{{ user.email }}</a>
                                </td>
                                <td>{{ user.lname }}</td>
                                <td>{{ user.fname }}</td>
                                <td>
                                  {% if (user.role == 'ROLE_USER') %}
                                  <i class="fas fa-user text-secondary" data-toggle="tooltip" title="Visiteur"></i>&nbsp;
                                  Visiteur
                                  {% elseif (user.role == 'ROLE_CLIENT') %}
                                  <i class="fas fa-user-tie text-primary" data-toggle="tooltip" title="Annonceur"></i>&nbsp;
                                  Annonceur
                                  {% elseif (user.role == 'ROLE_ADMIN') %}
                                  <i class="fas fa-user-tag text-success" data-toggle="tooltip" title="Admin"></i>&nbsp;
                                  Administrateur
                                  {% elseif (user.role == 'ROLE_SUPER_ADMIN') %}
                                  <i class="fas fa-user-shield text-warning" data-toggle="tooltip" title="Intouchable :) "></i>&nbsp;
                                  Super Admin
                                  {% endif %}
                                </td>
                                <td>
                                  {{ user.createdAt | date('d/m/Y') }}
                                </td>
                                <td align="center">
                                  {% if (user.isActive == 'true') %}
                                      {% if (user.isValidated) %}
                                          <i class="fas fa-circle text-success" data-toggle="tooltip" title="Profil approuvé"></i>&nbsp;
                                          Approuvé
                                      {% else %}
                                          <i class="fas fa-circle text-warning" data-toggle="tooltip" title="Profil en attente"></i>&nbsp;
                                          En attente
                                      {% endif %}
                                  {% else %}
                                      <i class="fas fa-circle text-danger" data-toggle="tooltip" title="Profil supprimé (désactivé)"></i>&nbsp;
                                      Désactivé
                                  {% endif %}
                                </td>
                                  <td>
                                      {% if (user.role != 'ROLE_SUPER_ADMIN') %}
                                          <a href="{{ path('admin_user_update', {'id': user.id}) }}" class="table-action"><i class="fas fa-edit" data-toggle="tooltip" title="Modifier le profil"></i></a>&nbsp;
                                          {% if (user.isActive == 'true') %}
                                          <a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="table-action"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer le profil"></i></a>&nbsp;
                                          {% else %}
                                          <a href="{{ path('admin_user_save', {'id': user.id}) }}" class="table-action"><i class="fas fa-sync-alt" data-toggle="tooltip" title="Ré-activer le profil supprimé"></i></a>&nbsp;
                                          {% endif %}

                                          &nbsp;
                                          |
                                          &nbsp;

                                          {% if (user.role == 'ROLE_CLIENT') %}
                                          <a href="{{ path('admin_user_show', {'id': user.id}) }}" class="table-action"><i class="fas fa-eye" data-toggle="tooltip" title="Voir les entités"></i></a>&nbsp;
                                          {% endif %}
                                          {% if (user.isConfirm == false) %}
                                          <a href="{{ path('admin_user_confirm', {'id': user.id}) }}" class="table-action"><i class="fas fa-check-circle" data-toggle="tooltip" title="Confirmé l'email"></i></a>&nbsp;
                                          {% endif %}
                                          {% if (user.isValidated == false) %}
                                          <a href="{{ path('admin_user_validate', {'id': user.id}) }}" class="table-action"><i class="fas fa-check-square" data-toggle="tooltip" title="Valider le profil"></i></a>&nbsp;
                                          {% endif %}
                                          
                                      {% endif %}
                                  </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                    </div>
                  </div>

                </div>
              </div>
          </div>
        </div>
{% endblock %}
