{% extends 'base_other.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
      <div class="container">
        <a class="return" href="./overview.html">
          <svg
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7L16 9ZM0.292894 7.29287C-0.0976315 7.68339 -0.0976314 8.31656 0.292893 8.70708L6.65684 15.0711C7.04737 15.4616 7.68053 15.4616 8.07106 15.0711C8.46158 14.6805 8.46158 14.0474 8.07106 13.6568L2.41421 7.99998L8.07108 2.34313C8.4616 1.95261 8.4616 1.31945 8.07108 0.92892C7.68055 0.538395 7.04739 0.538394 6.65686 0.928918L0.292894 7.29287ZM16 7L1 6.99998L0.999998 8.99998L16 9L16 7Z"
              fill="#1C1C1C"
            />
          </svg>
          All Producers
        </a>
        <section id="presentation" class="articleHeader">
          <div class="articleHeader-brand">

            <img
            class="articleHeader-img"
            src="./images/header-img.jpg"
            alt=""
            srcset=""
            />
            <img class="brand-title" src="./images/header-logo.svg" alt="" srcset="" />

          </div>
          <div class="articleHeader-text">
            <img class="brand-title" src="./images/header-logo.svg" alt="" srcset="" />
            <p class="text text-light">
              <span class="u-fat">Cecchi de Rossi</span> is an Italian fashion
              label that aims to celebrate the traditions of leather working
              whilst creating unique and contemporary designs. Exclusive,
              innovative and entirely handmade, Cecchi de Rossi is also zero
              waste and eco-friendly. Thanks to a wine-spilling accident, a
              natural coloring technique which wine and other natural extracts
              to color the leather, was developed and patented later in 2009.
            </p>
          </div>
        </section>
        <section id="section1" class="contactSection">
          <div class="contactSection-element">
            <p class="text">Name<span class="u-fat">Name</span></p>
            <p class="text">Category<span class="u-fat">Category</span></p>
            <p class="text">Type<span class="u-fat">Type</span></p>
          </div>
          <div class="contactSection-element">
            <a class="text link"
              >Contact 1<svg
                width="17"
                height="16"
                viewBox="0 0 17 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7L16 9ZM0.292894 7.29287C-0.0976315 7.68339 -0.0976314 8.31656 0.292893 8.70708L6.65684 15.0711C7.04737 15.4616 7.68053 15.4616 8.07106 15.0711C8.46158 14.6805 8.46158 14.0474 8.07106 13.6568L2.41421 7.99998L8.07108 2.34313C8.4616 1.95261 8.4616 1.31945 8.07108 0.92892C7.68055 0.538395 7.04739 0.538394 6.65686 0.928918L0.292894 7.29287ZM16 7L1 6.99998L0.999998 8.99998L16 9L16 7Z"
                  fill="currentColor"
                />
              </svg>
            </a>
            <a class="text link"
              >Contact 2<svg
                width="17"
                height="16"
                viewBox="0 0 17 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7L16 9ZM0.292894 7.29287C-0.0976315 7.68339 -0.0976314 8.31656 0.292893 8.70708L6.65684 15.0711C7.04737 15.4616 7.68053 15.4616 8.07106 15.0711C8.46158 14.6805 8.46158 14.0474 8.07106 13.6568L2.41421 7.99998L8.07108 2.34313C8.4616 1.95261 8.4616 1.31945 8.07108 0.92892C7.68055 0.538395 7.04739 0.538394 6.65686 0.928918L0.292894 7.29287ZM16 7L1 6.99998L0.999998 8.99998L16 9L16 7Z"
                  fill="currentColor"
                />
              </svg>
            </a>
            <a class="text link"
              >Official Website<svg
                width="17"
                height="16"
                viewBox="0 0 17 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7L16 9ZM0.292894 7.29287C-0.0976315 7.68339 -0.0976314 8.31656 0.292893 8.70708L6.65684 15.0711C7.04737 15.4616 7.68053 15.4616 8.07106 15.0711C8.46158 14.6805 8.46158 14.0474 8.07106 13.6568L2.41421 7.99998L8.07108 2.34313C8.4616 1.95261 8.4616 1.31945 8.07108 0.92892C7.68055 0.538395 7.04739 0.538394 6.65686 0.928918L0.292894 7.29287ZM16 7L1 6.99998L0.999998 8.99998L16 9L16 7Z"
                  fill="currentColor"
                />
              </svg>
            </a>
          </div>
          <div class="contactSection-element socials">
            <div class="socials-container">
              <button class="socialsPopinButton">
                SOCIAL NETWORKS
                <svg
                  width="16"
                  height="9"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <div class="popinSocials">
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9404 10.4945C19.9404 4.95446 15.4766 0.463379 9.97018 0.463379C4.4638 0.463379 0 4.95446 0 10.4945C0 15.5012 3.64593 19.6512 8.41234 20.4037V13.3941H5.88085V10.4945H8.41234V8.28451C8.41234 5.77047 9.90086 4.38178 12.1782 4.38178C13.2687 4.38178 14.41 4.5777 14.41 4.5777V7.0463H13.1529C11.9144 7.0463 11.528 7.81959 11.528 8.61366V10.4945H14.2932L13.8512 13.3941H11.528V20.4037C16.2944 19.6512 19.9404 15.5012 19.9404 10.4945Z"
                    fill="#1C1C1C"
                  />
                </svg>
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9404 10.4945C19.9404 4.95446 15.4766 0.463379 9.97018 0.463379C4.4638 0.463379 0 4.95446 0 10.4945C0 15.5012 3.64593 19.6512 8.41234 20.4037V13.3941H5.88085V10.4945H8.41234V8.28451C8.41234 5.77047 9.90086 4.38178 12.1782 4.38178C13.2687 4.38178 14.41 4.5777 14.41 4.5777V7.0463H13.1529C11.9144 7.0463 11.528 7.81959 11.528 8.61366V10.4945H14.2932L13.8512 13.3941H11.528V20.4037C16.2944 19.6512 19.9404 15.5012 19.9404 10.4945Z"
                    fill="#1C1C1C"
                  />
                </svg>
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9404 10.4945C19.9404 4.95446 15.4766 0.463379 9.97018 0.463379C4.4638 0.463379 0 4.95446 0 10.4945C0 15.5012 3.64593 19.6512 8.41234 20.4037V13.3941H5.88085V10.4945H8.41234V8.28451C8.41234 5.77047 9.90086 4.38178 12.1782 4.38178C13.2687 4.38178 14.41 4.5777 14.41 4.5777V7.0463H13.1529C11.9144 7.0463 11.528 7.81959 11.528 8.61366V10.4945H14.2932L13.8512 13.3941H11.528V20.4037C16.2944 19.6512 19.9404 15.5012 19.9404 10.4945Z"
                    fill="#1C1C1C"
                  />
                </svg>
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9404 10.4945C19.9404 4.95446 15.4766 0.463379 9.97018 0.463379C4.4638 0.463379 0 4.95446 0 10.4945C0 15.5012 3.64593 19.6512 8.41234 20.4037V13.3941H5.88085V10.4945H8.41234V8.28451C8.41234 5.77047 9.90086 4.38178 12.1782 4.38178C13.2687 4.38178 14.41 4.5777 14.41 4.5777V7.0463H13.1529C11.9144 7.0463 11.528 7.81959 11.528 8.61366V10.4945H14.2932L13.8512 13.3941H11.528V20.4037C16.2944 19.6512 19.9404 15.5012 19.9404 10.4945Z"
                    fill="#1C1C1C"
                  />
                </svg>
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9404 10.4945C19.9404 4.95446 15.4766 0.463379 9.97018 0.463379C4.4638 0.463379 0 4.95446 0 10.4945C0 15.5012 3.64593 19.6512 8.41234 20.4037V13.3941H5.88085V10.4945H8.41234V8.28451C8.41234 5.77047 9.90086 4.38178 12.1782 4.38178C13.2687 4.38178 14.41 4.5777 14.41 4.5777V7.0463H13.1529C11.9144 7.0463 11.528 7.81959 11.528 8.61366V10.4945H14.2932L13.8512 13.3941H11.528V20.4037C16.2944 19.6512 19.9404 15.5012 19.9404 10.4945Z"
                    fill="#1C1C1C"
                  />
                </svg>
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9404 10.4945C19.9404 4.95446 15.4766 0.463379 9.97018 0.463379C4.4638 0.463379 0 4.95446 0 10.4945C0 15.5012 3.64593 19.6512 8.41234 20.4037V13.3941H5.88085V10.4945H8.41234V8.28451C8.41234 5.77047 9.90086 4.38178 12.1782 4.38178C13.2687 4.38178 14.41 4.5777 14.41 4.5777V7.0463H13.1529C11.9144 7.0463 11.528 7.81959 11.528 8.61366V10.4945H14.2932L13.8512 13.3941H11.528V20.4037C16.2944 19.6512 19.9404 15.5012 19.9404 10.4945Z"
                    fill="#1C1C1C"
                  />
                </svg>
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9404 10.4945C19.9404 4.95446 15.4766 0.463379 9.97018 0.463379C4.4638 0.463379 0 4.95446 0 10.4945C0 15.5012 3.64593 19.6512 8.41234 20.4037V13.3941H5.88085V10.4945H8.41234V8.28451C8.41234 5.77047 9.90086 4.38178 12.1782 4.38178C13.2687 4.38178 14.41 4.5777 14.41 4.5777V7.0463H13.1529C11.9144 7.0463 11.528 7.81959 11.528 8.61366V10.4945H14.2932L13.8512 13.3941H11.528V20.4037C16.2944 19.6512 19.9404 15.5012 19.9404 10.4945Z"
                    fill="#1C1C1C"
                  />
                </svg>
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9404 10.4945C19.9404 4.95446 15.4766 0.463379 9.97018 0.463379C4.4638 0.463379 0 4.95446 0 10.4945C0 15.5012 3.64593 19.6512 8.41234 20.4037V13.3941H5.88085V10.4945H8.41234V8.28451C8.41234 5.77047 9.90086 4.38178 12.1782 4.38178C13.2687 4.38178 14.41 4.5777 14.41 4.5777V7.0463H13.1529C11.9144 7.0463 11.528 7.81959 11.528 8.61366V10.4945H14.2932L13.8512 13.3941H11.528V20.4037C16.2944 19.6512 19.9404 15.5012 19.9404 10.4945Z"
                    fill="#1C1C1C"
                  />
                </svg>
              </div>
            </div>
          </div>
        </section>
        <section id="section2" class="section events">
          <div class="section-header">
            <h2 class="h2 section-title">Section 2</h2>
            <div class="controls">
              <div class="button-prev button-prev-event">
                <svg
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.5 2L2 9.5L9.5 17"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="button-next button-next-event">
                <svg
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 17L9.5 9.5L2 2"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
          <!-- Swiper -->
          <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
            </div>
            <div class="swiper-pagination swiper-pagination-events"></div>
          </div>
        </section>
        <section id="section3" class="section brands">
          <div class="section-header">
            <h2 class="h2 section-title">Section 3</h2>
            <div class="controls">
              <div class="button-prev button-prev-brand">
                <svg
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.5 2L2 9.5L9.5 17"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="button-next button-next-brand">
                <svg
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 17L9.5 9.5L2 2"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
          <!-- Swiper -->
          <div class="swiper-container brandsSwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
            </div>
            <div class="swiper-pagination swiper-pagination-brands"></div>
          </div>
        </section>
        <section id="section4" class="section contacts">
          <div class="section-header">
            <h2 class="h2 section-title">Section 4</h2>
            <div class="controls">
              <div class="button-prev button-prev-contact">
                <svg
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.5 2L2 9.5L9.5 17"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="button-next button-next-contact">
                <svg
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 17L9.5 9.5L2 2"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
          <!-- Swiper -->
          <div class="swiper-container contactsSwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
              <div class="swiper-slide">Slide 4</div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
              <div class="swiper-slide">Slide 4</div>
            </div>
          </div>
        </section>
        <section id="section5" class="section section-5">
          <h2 class="h2 section-title">Section 5</h2>
          <div class="swiper-container section5">
            <div class="button-next-section5">
              <svg
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 17L9.5 9.5L2 2"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
            </div>
            <div class="button-prev-section5">
              <svg
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 17L9.5 9.5L2 2"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="images/section5.jpg">
                <div class="content"><p class="date">JUN. 16th 2021</p>
                <p class="text">We are proud to announce a new collaboration with DEVOA...</p></div>
              </div>
              <div class="swiper-slide">
                <img src="images/section5.jpg">
                <div class="content"><p class="date">JUN. 16th 2021</p>
                <p class="text">We are proud to announce a new collaboration with DEVOA...</p></div>
              </div>
              <div class="swiper-slide">
                <img src="images/section5.jpg">
                <div class="content"><p class="date">JUN. 16th 2021</p>
                <p class="text">We are proud to announce a new collaboration with DEVOA...</p></div>
              </div>
              <div class="swiper-slide">
                <img src="images/section5.jpg">
                <div class="content"><p class="date">JUN. 16th 2021</p>
                <p class="text">We are proud to announce a new collaboration with DEVOA...</p></div>
              </div>
              <div class="swiper-slide">
                <img src="images/section5.jpg">
                <div class="content"><p class="date">JUN. 16th 2021</p>
                <p class="text">We are proud to announce a new collaboration with DEVOA...</p></div>
              </div>
              <div class="swiper-slide">
                <img src="images/section5.jpg">
                <div class="content"><p class="date">JUN. 16th 2021</p>
                <p class="text">We are proud to announce a new collaboration with DEVOA...</p></div>
              </div>
              
            </div>
          </div>
        </section>
        <section id="section6" class="section section6">
          <div class="section-wrapper">
            <div class="section-inner">
              <div class="section-header">
                <h2 class="h2 section-title">Section 6</h2>
                <div class="controls">
                  <div class="button-prev button-prev-section6">
                    <svg
                      width="11"
                      height="19"
                      viewBox="0 0 11 19"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M9.5 2L2 9.5L9.5 17"
                        stroke="currentColor"
                        stroke-width="3"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <div class="button-next button-next-section6">
                    <svg
                      width="11"
                      height="19"
                      viewBox="0 0 11 19"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2 17L9.5 9.5L2 2"
                        stroke="currentColor"
                        stroke-width="3"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
                <!-- Swiper -->
              </div>
                  <div class="swiper-container section6Swiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">Slide 1</div>
                      <div class="swiper-slide">Slide 2</div>
                      <div class="swiper-slide">Slide 3</div>
                      <div class="swiper-slide">Slide 4</div>
                      <div class="swiper-slide">Slide 1</div>
                      <div class="swiper-slide">Slide 2</div>
                      <div class="swiper-slide">Slide 3</div>
                      <div class="swiper-slide">Slide 4</div>
                    </div>
                  </div>
            </div>
            <div class="section-inner">
              <div class="section-header">
                <h2 class="h2 section-title">Section 6Bis</h2>
                <div class="controls">
                  <div class="button-prev button-prev-section6Bis">
                    <svg
                      width="11"
                      height="19"
                      viewBox="0 0 11 19"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M9.5 2L2 9.5L9.5 17"
                        stroke="currentColor"
                        stroke-width="3"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <div class="button-next button-next-section6Bis">
                    <svg
                      width="11"
                      height="19"
                      viewBox="0 0 11 19"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2 17L9.5 9.5L2 2"
                        stroke="currentColor"
                        stroke-width="3"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
                <!-- Swiper -->
              </div>
              <div class="swiper-container section6BisSwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">Slide 1</div>
                  <div class="swiper-slide">Slide 2</div>
                  <div class="swiper-slide">Slide 3</div>
                  <div class="swiper-slide">Slide 4</div>
                  <div class="swiper-slide">Slide 1</div>
                  <div class="swiper-slide">Slide 2</div>
                  <div class="swiper-slide">Slide 3</div>
                  <div class="swiper-slide">Slide 4</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section7">
          <h2 class="h2 section-title">Section 7</h2>
          <div class="section-wrapper">
            <button class="button is-p is-rounded with-icon-download">Title Download<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7L16 9ZM0.292894 7.29287C-0.0976315 7.68339 -0.0976314 8.31656 0.292893 8.70708L6.65684 15.0711C7.04737 15.4616 7.68053 15.4616 8.07106 15.0711C8.46158 14.6805 8.46158 14.0474 8.07106 13.6568L2.41421 7.99998L8.07108 2.34313C8.4616 1.95261 8.4616 1.31945 8.07108 0.92892C7.68055 0.538395 7.04739 0.538394 6.65686 0.928918L0.292894 7.29287ZM16 7L1 6.99998L0.999998 8.99998L16 9L16 7Z" fill="currentColor"/>
              </svg>
            </button>
          </div>
        </section>
        <section id="section8" class="section section8">
          <div class="section-header">
            <h2 class="h2 section-title">Section 8</h2>
            <div class="controls">
              <div class="button-prev button-prev-section8">
                <svg
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.5 2L2 9.5L9.5 17"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="button-next button-next-section8">
                <svg
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 17L9.5 9.5L2 2"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
          <!-- Swiper -->
          <div class="swiper-container section8Swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-slide-video"></div>
                <p class="swiper-slide-video-title">Name</p>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide-video"></div>
                <p class="swiper-slide-video-title">Name</p>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide-video"></div>
                <p class="swiper-slide-video-title">Name</p>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide-video"></div>
                <p class="swiper-slide-video-title">Name</p>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide-video"></div>
                <p class="swiper-slide-video-title">Name</p>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide-video"></div>
                <p class="swiper-slide-video-title">Name</p>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide-video"></div>
                <p class="swiper-slide-video-title">Name</p>
              </div>
            </div>
            <div class="swiper-pagination swiper-pagination-section8"></div>
          </div>
        </section>
        <section class="section section9">
          <h2 class="h2 section-title">Section 9</h2>
          <div class="section-wrapper">
            <div class="section-element">
              <p class="city h4 h4--light">City</p>
              <p class="highlight">Address</p>
            </div>
            <div class="section-element">
              <p class="city h4 h4--light">City</p>
              <p class="highlight">Address</p>
            </div>
            <div class="section-element">
              <p class="city h4 h4--light">City</p>
              <p class="highlight">Address</p>
            </div>
            <div class="section-element">
              <p class="city h4 h4--light">City</p>
              <p class="highlight">Address</p>
            </div>
          </div>
        </section>
        <section class="section section10">
          <h2 class="h2 section-title">Section 10</h2>
          <div class="section-wrapper">
            <div class="overview-card white">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">NOM SUR 1 LIGNE OU 2 LIGNES MAIS PAS 3 LIGNES NI 4 D'AILLEURS</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card white">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card white">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card white">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card white">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card white">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card white">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card white">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card white">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card white">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
          </div>
        </section>
        <section class="section section10bis">
          <h2 class="h2 section-title">Section 10bis</h2>
          <div class="section-wrapper">
            <div class="overview-card black">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">NOM SUR 1 LIGNE OU 2 LIGNES MAIS PAS 3 LIGNES NI 4 D'AILLEURS</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card black">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card black">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card black">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card black">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card black">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card black">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card black">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card black">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
            <div class="overview-card black">
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <a class="overview-card__link" href="{{path('articles')}}"></a>
            </div>
          </div>
        </section>
        <section class="section section11">
          <h2 class="h2 section-title">Section 11</h2>
          <div class="section-wrapper">
            <div class="section-element">
              <p class="title h3 h3--light">Title 1</p>
              <p class="text">Our Event department offers a selection of prestigious, contemporary, original, industrial or classic sites, which are totally suitable for any events.</p>
            </div>
            <div class="section-element">
              <p class="title h3 h3--light">Title 1</p>
              <p class="text">Our Event department offers a selection of prestigious, contemporary, original, industrial or classic sites, which are totally suitable for any events.</p>
            </div>
          </div>
        </section>
        <section class="section section11bis">
          <h2 class="h2 section-title">Section 11bis</h2>
          <div class="section-wrapper">
            <div class="section-element">
              <div class="title-container">
                <p class="title">Title 1</p>
                <p class="subtitle">subtitle 1</p>
              </div>
              <div class="title-container">
                <p class="title">Title 1</p>
                <p class="subtitle">subtitle 1</p>
              </div>
              <div class="title-container">
                <p class="title">Title 1</p>
                <p class="subtitle">subtitle 1</p>
              </div>
              <div class="title-container">
                <p class="title">Title 1</p>
                <p class="subtitle">subtitle 1</p>
              </div>
              <div class="title-container">
                <p class="title">Title 1</p>
                <p class="subtitle">subtitle 1</p>
              </div>
              <div class="title-container">
                <p class="title">Title 1</p>
              </div>
              <img class="img" src="./images/block-logo.png">
            </div>
            <div class="section-element">
              <p class="text">Our Event department offers a selection of prestigious, contemporary, original, industrial or classic sites, which are totally suitable for any events.</p>
            </div>
          </div>
        </section>
        <section class="section section12">
          <h2 class="h2 section-title">Section 12</h2>
          <div class="section-wrapper">
            <p class="badge">LVMH</p>
            <p class="badge">Givenchy</p>
            <p class="badge">Hermes</p>
            <p class="badge">Le Slip Français</p>
            <p class="badge">Cecchi de Rossi</p>
            <p class="badge">OFF_White</p>
            <p class="badge">Isabel Marant</p>
            <p class="badge">Maje</p>
            <p class="badge">Eric Bompard</p>
            <p class="badge">Justine Clenquet</p>
          </div>
        </section>
      </div>
    </div>

{% endblock %}

