{% extends 'base_other.html.twig' %}

{% block title %}{% endblock %}
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block content %}

<div class="sticky-subnav selectNav">
        <div class="selectNav-left">
          <p class="selectNav-left-text highlight is-italic">25 résultats</p>
          <button class="button is-black-out is-rounded">Clear all</button>
        </div>
        <button class="button is-black-out is-rounded filter-button">
          Select <img class="filter-ico" src="./images/filter.svg" />
        </button>
        <div class="filter-menu">
          <div class="filter-menu-header">
            <p class="highlight">Select</p>
            <button class="button is-p-out is-rounded filter-menu-resultBtn">
              See results
            </button>
            <button class="filter-menu-closeBtn">
              <img class="close-ico" src="./images/close.svg" />
            </button>
          </div>
          <div class="filter-menu-container">
            <div class="section">
              <h3 class="section-title">Country</h3>
              <div class="section-container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
            </div>
            <div class="section">
              <h3 class="section-title">Category</h3>
              <div class="section-container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
            </div>
            <div class="section">
              <h3 class="section-title">Date</h3>
              <div class="section-container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overview-wrapper">
        <div class="container">
          <a class="return" href="./overview.html">
            <svg
              width="17"
              height="16"
              viewBox="0 0 17 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7L16 9ZM0.292894 7.29287C-0.0976315 7.68339 -0.0976314 8.31656 0.292893 8.70708L6.65684 15.0711C7.04737 15.4616 7.68053 15.4616 8.07106 15.0711C8.46158 14.6805 8.46158 14.0474 8.07106 13.6568L2.41421 7.99998L8.07108 2.34313C8.4616 1.95261 8.4616 1.31945 8.07108 0.92892C7.68055 0.538395 7.04739 0.538394 6.65686 0.928918L0.292894 7.29287ZM16 7L1 6.99998L0.999998 8.99998L16 9L16 7Z"
                fill="#1C1C1C"
              />
            </svg>
            Calendrier General
          </a>
        </div>
        <img
          srcset="
            {{ asset('images/balenciaga-largex4.jpg') }} 760w,
            {{ asset('images/balenciaga-largex4.jpg') }} 770w
          "
          src="{{ asset('images/balenciaga-largex4.jpg') }}"
          alt="Moddity bienvenu"
          class="zoning-pub"
        />
        <div class="selector-section">
          <div class="headerSelector">
            <div class="headerSelector-selects">
              <button class="button-select" data-id="country">
                Country
                <svg
                  width="24"
                  height="14"
                  viewBox="0 0 24 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 2L12 12L22 2"
                    stroke="#B0B0B0"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button class="button-select" data-id="category">
                Category
                <svg
                  width="24"
                  height="14"
                  viewBox="0 0 24 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 2L12 12L22 2"
                    stroke="#B0B0B0"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button class="button-select" data-id="date">
                Date
                <svg
                  width="24"
                  height="14"
                  viewBox="0 0 24 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 2L12 12L22 2"
                    stroke="#B0B0B0"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button class="button-select" data-id="name">
                Name
                <svg
                  width="24"
                  height="14"
                  viewBox="0 0 24 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 2L12 12L22 2"
                    stroke="#B0B0B0"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorsAdded">
              <ul id="selectorsList"></ul>
              <button class="button is-black-out is-rounded removeAllElements">
                Clear all
              </button>
            </div>
          </div>
          <div class="selectorElement" id="country">
            <div class="selectorElement-header">
              <h3 class="h3 u-primary">Country</h3>
              <button class="closeSelectors">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="2"
                    y1="18.9705"
                    x2="18.9706"
                    y2="1.99998"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                  <line
                    x1="2.12132"
                    y1="2.09186"
                    x2="19.0919"
                    y2="19.0624"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorElement-body">
              <div class="selectorElement-body__container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
              <button class="button is-rounded is-p-out closeSelectors">
                See results
              </button>
            </div>
          </div>
          <div class="selectorElement" id="category">
            <div class="selectorElement-header">
              <h3 class="h3 u-primary">Category</h3>
              <button class="closeSelectors">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="2"
                    y1="18.9705"
                    x2="18.9706"
                    y2="1.99998"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                  <line
                    x1="2.12132"
                    y1="2.09186"
                    x2="19.0919"
                    y2="19.0624"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorElement-body">
              <div class="selectorElement-body__container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
              <button class="button is-rounded is-p-out closeSelectors">
                See results
              </button>
            </div>
          </div>
          <div class="selectorElement" id="name">
            <div class="selectorElement-header">
              <h3 class="h3 u-primary">Name</h3>
              <button class="closeSelectors">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="2"
                    y1="18.9705"
                    x2="18.9706"
                    y2="1.99998"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                  <line
                    x1="2.12132"
                    y1="2.09186"
                    x2="19.0919"
                    y2="19.0624"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorElement-body">
              <div class="selectorElement-body__container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
              <button class="button is-rounded is-p-out closeSelectors">
                See results
              </button>
            </div>
          </div>
          <div class="selectorElement" id="date">
            <div class="selectorElement-header">
              <h3 class="h3 u-primary">Date</h3>
              <button class="closeSelectors">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="2"
                    y1="18.9705"
                    x2="18.9706"
                    y2="1.99998"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                  <line
                    x1="2.12132"
                    y1="2.09186"
                    x2="19.0919"
                    y2="19.0624"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorElement-body">
              <div class="selectorElement-body__container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
              <button class="button is-rounded is-p-out closeSelectors">
                See results
              </button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="wrapper-show">
            <div class="show-detail">
              <p class="date">
                <span class="date-mobile">9:00 AM</span
                ><span class="date-desktop">27.09.2021 <br />> 29.09.2021</span>
              </p>
              <p class="event-mobile">
                <span>ROCHAS</span> <span>CatWalk</span>
                <span class="address">25, rue Vivienne, Paris FR</span>
              </p>
              <p class="event-name">ROCHAS</p>
              <p class="event-type">CatWalk</p>
              <p class="address">25, rue Vivienne, Paris FR</p>
              <a class="show-detail-button" href="">invitation</a>
            </div>
            <div class="show-detail">
              <p class="date">
                <span class="date-mobile">9:00 AM</span
                ><span class="date-desktop">27.09.2021 <br />> 29.09.2021</span>
              </p>
              <p class="event-mobile">
                <span>ROCHAS</span> <span>CatWalk</span>
                <span class="address">25, rue Vivienne, Paris FR</span>
              </p>
              <p class="event-name">ROCHAS</p>
              <p class="event-type">CatWalk</p>
              <p class="address">25, rue Vivienne, Paris FR</p>
              <a class="show-detail-button" href="">invitation</a>
            </div>
            <div class="show-detail">
              <p class="date">
                <span class="date-mobile">9:00 AM</span
                ><span class="date-desktop">27.09.2021 <br />> 29.09.2021</span>
              </p>
              <p class="event-mobile">
                <span>ROCHAS</span> <span>CatWalk</span>
                <span class="address">25, rue Vivienne, Paris FR</span>
              </p>
              <p class="event-name">ROCHAS</p>
              <p class="event-type">CatWalk</p>
              <p class="address">25, rue Vivienne, Paris FR</p>
              <a class="show-detail-button" href="">invitation</a>
            </div>
            <div class="show-detail">
              <p class="date">
                <span class="date-mobile">9:00 AM</span
                ><span class="date-desktop">27.09.2021 <br />> 29.09.2021</span>
              </p>
              <p class="event-mobile">
                <span>ROCHAS</span> <span>CatWalk</span>
                <span class="address">25, rue Vivienne, Paris FR</span>
              </p>
              <p class="event-name">ROCHAS</p>
              <p class="event-type">CatWalk</p>
              <p class="address">25, rue Vivienne, Paris FR</p>
              <a class="show-detail-button" href="">invitation</a>
            </div>
            <div class="show-detail">
              <p class="date">
                <span class="date-mobile">9:00 AM</span
                ><span class="date-desktop">27.09.2021 <br />> 29.09.2021</span>
              </p>
              <p class="event-mobile">
                <span>ROCHAS</span> <span>CatWalk</span>
                <span class="address">25, rue Vivienne, Paris FR</span>
              </p>
              <p class="event-name">ROCHAS</p>
              <p class="event-type">CatWalk</p>
              <p class="address">25, rue Vivienne, Paris FR</p>
              <a class="show-detail-button" href="">invitation</a>
            </div>
            <div class="show-detail">
              <p class="date">
                <span class="date-mobile">9:00 AM</span
                ><span class="date-desktop">27.09.2021 <br />> 29.09.2021</span>
              </p>
              <p class="event-mobile">
                <span>ROCHAS</span> <span>CatWalk</span>
                <span class="address">25, rue Vivienne, Paris FR</span>
              </p>
              <p class="event-name">ROCHAS</p>
              <p class="event-type">CatWalk</p>
              <p class="address">25, rue Vivienne, Paris FR</p>
              <a class="show-detail-button" href="">invitation</a>
            </div>
            <div class="show-detail">
              <p class="date">
                <span class="date-mobile">9:00 AM</span
                ><span class="date-desktop">27.09.2021 <br />> 29.09.2021</span>
              </p>
              <p class="event-mobile">
                <span>ROCHAS</span> <span>CatWalk</span>
                <span class="address">25, rue Vivienne, Paris FR</span>
              </p>
              <p class="event-name">ROCHAS</p>
              <p class="event-type">CatWalk</p>
              <p class="address">25, rue Vivienne, Paris FR</p>
              <a class="show-detail-button" href="">invitation</a>
            </div>
            <div class="show-detail">
              <p class="date">
                <span class="date-mobile">9:00 AM</span
                ><span class="date-desktop">27.09.2021 <br />> 29.09.2021</span>
              </p>
              <p class="event-mobile">
                <span>ROCHAS</span> <span>CatWalk</span>
                <span class="address">25, rue Vivienne, Paris FR</span>
              </p>
              <p class="event-name">ROCHAS</p>
              <p class="event-type">CatWalk</p>
              <p class="address">25, rue Vivienne, Paris FR</p>
              <a class="show-detail-button" href="">invitation</a>
            </div>
            <div class="show-detail">
              <p class="date">
                <span class="date-mobile">9:00 AM</span
                ><span class="date-desktop">27.09.2021 <br />> 29.09.2021</span>
              </p>
              <p class="event-mobile">
                <span>ROCHAS</span> <span>CatWalk</span>
                <span class="address">25, rue Vivienne, Paris FR</span>
              </p>
              <p class="event-name">ROCHAS</p>
              <p class="event-type">CatWalk</p>
              <p class="address">25, rue Vivienne, Paris FR</p>
              <a class="show-detail-button" href="">invitation</a>
            </div>
            <div class="show-detail">
              <p class="date">
                <span class="date-mobile">9:00 AM</span
                ><span class="date-desktop">27.09.2021 <br />> 29.09.2021</span>
              </p>
              <p class="event-mobile">
                <span>ROCHAS</span> <span>CatWalk</span>
                <span class="address">25, rue Vivienne, Paris FR</span>
              </p>
              <p class="event-name">ROCHAS</p>
              <p class="event-type">CatWalk</p>
              <p class="address">25, rue Vivienne, Paris FR</p>
              <a class="show-detail-button" href="">invitation</a>
            </div>
            <div class="show-detail">
              <p class="date">
                <span class="date-mobile">9:00 AM</span
                ><span class="date-desktop">27.09.2021 <br />> 29.09.2021</span>
              </p>
              <p class="event-mobile">
                <span>ROCHAS</span> <span>CatWalk</span>
                <span class="address">25, rue Vivienne, Paris FR</span>
              </p>
              <p class="event-name">ROCHAS</p>
              <p class="event-type">CatWalk</p>
              <p class="address">25, rue Vivienne, Paris FR</p>
              <a class="show-detail-button" href="">invitation</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
