{% extends 'base_other.html.twig' %}

{% block title %}{% endblock %}
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block content %}

<div class="sticky-subnav selectNav">
        <div class="selectNav-left">
          <p class="selectNav-left-text highlight is-italic">25 résultats</p>
          <button class="button is-black-out is-rounded">Clear all</button>
        </div>
        <button class="button is-black-out is-rounded filter-button">
          Select <img class="filter-ico" src="./images/filter.svg" />
        </button>
        <div class="filter-menu">
          <div class="filter-menu-header">
            <p class="highlight">Select</p>
            <button class="button is-p-out is-rounded filter-menu-resultBtn">
              See results
            </button>
            <button class="filter-menu-closeBtn">
              <img class="close-ico" src="./images/close.svg" />
            </button>
          </div>
          <div class="filter-menu-container">
            <div class="section">
              <h3 class="section-title">Country</h3>
              <div class="section-container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
            </div>
            <div class="section">
              <h3 class="section-title">Category</h3>
              <div class="section-container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
            </div>
            <div class="section">
              <h3 class="section-title">Date</h3>
              <div class="section-container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overview-wrapper">
        <div class="container">
          <a class="return" href="./overview.html">
            <svg
              width="17"
              height="16"
              viewBox="0 0 17 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7L16 9ZM0.292894 7.29287C-0.0976315 7.68339 -0.0976314 8.31656 0.292893 8.70708L6.65684 15.0711C7.04737 15.4616 7.68053 15.4616 8.07106 15.0711C8.46158 14.6805 8.46158 14.0474 8.07106 13.6568L2.41421 7.99998L8.07108 2.34313C8.4616 1.95261 8.4616 1.31945 8.07108 0.92892C7.68055 0.538395 7.04739 0.538394 6.65686 0.928918L0.292894 7.29287ZM16 7L1 6.99998L0.999998 8.99998L16 9L16 7Z"
                fill="#1C1C1C"
              />
            </svg>
            Calendrier General
          </a>
        </div>
        <img
          srcset="
            {{ asset('images/zoning-pub.jpg') }} 760w,
            {{ asset('images/zoning-pub-770.jpg') }} 770w
          "
          src="{{ asset('images/header.jpg') }}"
          alt="Moddity bienvenu"
          class="zoning-pub"
        />
        <div class="selector-section">
          <div class="headerSelector">
            <div class="headerSelector-selects">
              <button class="button-select" data-id="country">
                Country
                <svg
                  width="24"
                  height="14"
                  viewBox="0 0 24 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 2L12 12L22 2"
                    stroke="#B0B0B0"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button class="button-select" data-id="category">
                Category
                <svg
                  width="24"
                  height="14"
                  viewBox="0 0 24 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 2L12 12L22 2"
                    stroke="#B0B0B0"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button class="button-select" data-id="date">
                Date
                <svg
                  width="24"
                  height="14"
                  viewBox="0 0 24 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 2L12 12L22 2"
                    stroke="#B0B0B0"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button class="button-select" data-id="name">
                Name
                <svg
                  width="24"
                  height="14"
                  viewBox="0 0 24 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 2L12 12L22 2"
                    stroke="#B0B0B0"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorsAdded">
              <ul id="selectorsList"></ul>
              <button class="button is-black-out is-rounded removeAllElements">
                Clear all
              </button>
            </div>
          </div>
          <div class="selectorElement" id="country">
            <div class="selectorElement-header">
              <h3 class="h3 u-primary">Country</h3>
              <button class="closeSelectors">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="2"
                    y1="18.9705"
                    x2="18.9706"
                    y2="1.99998"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                  <line
                    x1="2.12132"
                    y1="2.09186"
                    x2="19.0919"
                    y2="19.0624"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorElement-body">
              <div class="selectorElement-body__container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
              <button class="button is-rounded is-p-out closeSelectors">
                See results
              </button>
            </div>
          </div>
          <div class="selectorElement" id="category">
            <div class="selectorElement-header">
              <h3 class="h3 u-primary">Category</h3>
              <button class="closeSelectors">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="2"
                    y1="18.9705"
                    x2="18.9706"
                    y2="1.99998"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                  <line
                    x1="2.12132"
                    y1="2.09186"
                    x2="19.0919"
                    y2="19.0624"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorElement-body">
              <div class="selectorElement-body__container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
              <button class="button is-rounded is-p-out closeSelectors">
                See results
              </button>
            </div>
          </div>
          <div class="selectorElement" id="name">
            <div class="selectorElement-header">
              <h3 class="h3 u-primary">Name</h3>
              <button class="closeSelectors">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="2"
                    y1="18.9705"
                    x2="18.9706"
                    y2="1.99998"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                  <line
                    x1="2.12132"
                    y1="2.09186"
                    x2="19.0919"
                    y2="19.0624"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorElement-body">
              <div class="selectorElement-body__container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
              <button class="button is-rounded is-p-out closeSelectors">
                See results
              </button>
            </div>
          </div>
          <div class="selectorElement" id="date">
            <div class="selectorElement-header">
              <h3 class="h3 u-primary">Date</h3>
              <button class="closeSelectors">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="2"
                    y1="18.9705"
                    x2="18.9706"
                    y2="1.99998"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                  <line
                    x1="2.12132"
                    y1="2.09186"
                    x2="19.0919"
                    y2="19.0624"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorElement-body">
              <div class="selectorElement-body__container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
              <button class="button is-rounded is-p-out closeSelectors">
                See results
              </button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="wrapper wrapper-overview">
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
              <img src={{ asset('images/overview.jpg') }}>

                <div class="overviewContainer-text">
                  <p class="title">NOM SUR 1 LIGNE OU 2 LIGNES</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card black">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            </div>
      </div>
{% endblock %}
