{% extends 'base_other.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <main id="container-infinite" class="overview">
      <div class="sticky-subnav selectNav">
        <div class="selectNav-left">
          <p class="selectNav-left-text highlight is-italic">25 résultats</p>
          <button class="button is-black-out is-rounded">Clear all</button>
        </div>
        <button class="button is-black-out is-rounded filter-button">
          Select <img class="filter-ico" src="./images/filter.svg" />
        </button>
        <div class="filter-menu">
          <div class="filter-menu-header">
            <p class="highlight">Select</p>
            <button class="button is-p-out is-rounded filter-menu-resultBtn">
              See results
            </button>
            <button class="filter-menu-closeBtn">
              <img class="close-ico" src="./images/close.svg" />
            </button>
          </div>
          <div class="filter-menu-container">
            <div class="section">
              <h3 class="section-title">Country</h3>
              <div class="section-container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
            </div>
            <div class="section">
              <h3 class="section-title">Category</h3>
              <div class="section-container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
            </div>
            <div class="section">
              <h3 class="section-title">Date</h3>
              <div class="section-container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overview-wrapper">
        <img
          srcset="
            {{ asset('/images/zoning-pub.jpg') }}     760w,
            {{ asset('/images/zoning-pub-770.jpg') }} 770w
          "
          src="{{ asset('/images/header.jpg') }}"
          alt="Moddity bienvenu"
          class="zoning-pub"
        />
        <div class="selector-section">
          <div class="headerSelector">
            <div class="headerSelector-selects">
              <button class="button-select" data-id="country">
                Country
                <svg
                  width="24"
                  height="14"
                  viewBox="0 0 24 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 2L12 12L22 2"
                    stroke="#B0B0B0"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button class="button-select" data-id="category">
                Category
                <svg
                  width="24"
                  height="14"
                  viewBox="0 0 24 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 2L12 12L22 2"
                    stroke="#B0B0B0"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button class="button-select" data-id="date">
                Date
                <svg
                  width="24"
                  height="14"
                  viewBox="0 0 24 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 2L12 12L22 2"
                    stroke="#B0B0B0"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button class="button-select" data-id="name">
                Name
                <svg
                  width="24"
                  height="14"
                  viewBox="0 0 24 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2 2L12 12L22 2"
                    stroke="#B0B0B0"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorsAdded">
              <ul id="selectorsList"></ul>
              <button class="button is-black-out is-rounded removeAllElements">
                Clear all
              </button>
            </div>
          </div>
          <div class="selectorElement" id="country">
            <div class="selectorElement-header">
              <h3 class="h3 u-primary">Country</h3>
              <button class="closeSelectors">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="2"
                    y1="18.9705"
                    x2="18.9706"
                    y2="1.99998"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                  <line
                    x1="2.12132"
                    y1="2.09186"
                    x2="19.0919"
                    y2="19.0624"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorElement-body">
              <div class="selectorElement-body__container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Country B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
              <button class="button is-rounded is-p-out closeSelectors">
                See results
              </button>
            </div>
          </div>
          <div class="selectorElement" id="category">
            <div class="selectorElement-header">
              <h3 class="h3 u-primary">Category</h3>
              <button class="closeSelectors">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="2"
                    y1="18.9705"
                    x2="18.9706"
                    y2="1.99998"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                  <line
                    x1="2.12132"
                    y1="2.09186"
                    x2="19.0919"
                    y2="19.0624"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorElement-body">
              <div class="selectorElement-body__container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Category B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
              <button class="button is-rounded is-p-out closeSelectors">
                See results
              </button>
            </div>
          </div>
          <div class="selectorElement" id="name">
            <div class="selectorElement-header">
              <h3 class="h3 u-primary">Name</h3>
              <button class="closeSelectors">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="2"
                    y1="18.9705"
                    x2="18.9706"
                    y2="1.99998"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                  <line
                    x1="2.12132"
                    y1="2.09186"
                    x2="19.0919"
                    y2="19.0624"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorElement-body">
              <div class="selectorElement-body__container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Name B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
              <button class="button is-rounded is-p-out closeSelectors">
                See results
              </button>
            </div>
          </div>
          <div class="selectorElement" id="date">
            <div class="selectorElement-header">
              <h3 class="h3 u-primary">Date</h3>
              <button class="closeSelectors">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="2"
                    y1="18.9705"
                    x2="18.9706"
                    y2="1.99998"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                  <line
                    x1="2.12132"
                    y1="2.09186"
                    x2="19.0919"
                    y2="19.0624"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="selectorElement-body">
              <div class="selectorElement-body__container">
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date A</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <span class="checkmark">Date B</span>
                  <img class="checked-ico" src="./images/checked.svg" />
                </label>
              </div>
              <button class="button is-rounded is-p-out closeSelectors">
                See results
              </button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="wrapper wrapper-overview">
            <div class="overview-card primary">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card primary">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title1</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card primary">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title2</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card primary">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title3</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card primary">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title4</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card primary">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title5</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card primary">
            <a class="overview-card__link" href="{{path('articles')}}"></a>
              <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title6</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-cta">
              <p class="overview-cta-text">
                Vous souhaitez apparaitre dans nos premiers résultats de
                recherche ?
              </p>
              <button class="button is-black-out is-rounded">
                Nous contacter
              </button>
            </div>
          </div>
        </div>

        <div class="container">
          <div id="wrapper-infinite" class="wrapper wrapper-overview">
            <div class="overview-card white">
 
 <a class="overview-card__link" href="{{path('articles')}}"></a>             <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title7</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card white">
 
 <a class="overview-card__link" href="{{path('articles')}}"></a>             <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title8</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card white">
 
 <a class="overview-card__link" href="{{path('articles')}}"></a>             <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title9</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card white">
 
 <a class="overview-card__link" href="{{path('articles')}}"></a>             <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  class="down-ico"
                  height="9"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title10</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="overview-card white">
 
 <a class="overview-card__link" href="{{path('articles')}}"></a>             <div class="overviewContainer">
                <div class="overviewContainer-text">
                  <p class="title">Title</p>
                  <p class="subtitle">SubTitle</p>
                </div>
              </div>
              <div class="overviewFooter">
                <p>More info</p>
                <svg
                  width="16"
                  height="9"
                  class="down-ico"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7.99512 8L14.9902 1"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="overviewSeeMore">
                <h3 class="overviewSeeMore-title h3">Title11</h3>
                <div class="overviewSeeMore-flex">
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-card">
                    <p class="overviewSeeMore-subtitle h3 h3--light">
                      Sep. 27 > Oct. 2
                    </p>
                    <p class="overviewSeeMore-name highlight">Event name</p>
                    <p class="overviewSeeMore-text text">
                      Adresse sur 1 ligne ou 2 lignes
                    </p>
                    <p class="overviewSeeMore-more text text--light">
                      info supplémentaire
                    </p>
                  </div>
                  <div class="overviewSeeMore-button">
                    <a href="{{ path('articles') }}" class="button is-p is-rounded"
                      >See full profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="loading-container" class="loading-container">
            <div class="loading-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
      </div>
    </main>
{% endblock %}

