{% extends 'base_admin.html.twig' %}

{% block title %}Edit CompanySize{% endblock %}

{% block content %}
    <h1>Edit CompanySize</h1>

    {{ include('admin/company_size/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('company_size_index') }}">back to list</a>

    {{ include('admin/company_size/_delete_form.html.twig') }}
{% endblock %}
