{% extends 'base_admin.html.twig' %}

{% block title %}CompanySize index{% endblock %}

{% block content %}
    <h1>CompanySize index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company_size in company_sizes %}
            <tr>
                <td>{{ company_size.id }}</td>
                <td>{{ company_size.label }}</td>
                <td>{{ company_size.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ company_size.createdAt ? company_size.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ company_size.updatedAt ? company_size.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('company_size_show', {'id': company_size.id}) }}">show</a>
                    <a href="{{ path('company_size_edit', {'id': company_size.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('company_size_new') }}">Create new</a>
{% endblock %}
