{% extends 'base_admin.html.twig' %}

{% block title %}New CompanySize{% endblock %}

{% block content %}
    <h1>Create new CompanySize</h1>

    {{ include('admin/company_size/_form.html.twig') }}

    <a href="{{ path('company_size_index') }}">back to list</a>
{% endblock %}
