{% extends 'base_admin.html.twig' %}

{% block title %}CompanySize{% endblock %}

{% block content %}
    <h1>CompanySize</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company_size.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ company_size.label }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ company_size.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ company_size.createdAt ? company_size.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ company_size.updatedAt ? company_size.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('company_size_index') }}">back to list</a>

    <a href="{{ path('company_size_edit', {'id': company_size.id}) }}">edit</a>

    {{ include('admin/company_size/_delete_form.html.twig') }}
{% endblock %}
