

Hello {{ username }},<br/>

You just registered to <strong>Moddity</strong>. You can validate your account, clicking on the link below.<br/> 
<br/>
<div style="margin: 20px auto; text-align:center;">
    <a style="display:block; padding: 10px 30px; background:yellow" href="{{ absolute_url(path('app_register_confirm', {'token' : token })) }}">I confirm my address email</a>
</div>