{% extends 'base_admin.html.twig' %}

{% block content %}

<!-- ============================================================== -->
    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title">Pro Profiles</h4>
                        </div>
                        <div class="table-responsive">

                            {{ form_start(form) }}
                            {{ form_rest(form) }}

                            <input type="input" class="btn btn-success" value="Add" />
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>


{% endblock %}