{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminUserController!{% endblock %}

{% block content %}
   
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- *************************************************************** -->
        <!-- Start First Cards -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h4 class="card-title">Pro Profiles</h4>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                        id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                        <a class="dropdown-item" href="#">Add new Pro Profile</a>
                                        <a class="dropdown-item" href="#">Add new Service profile</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table no-wrap v-middle mb-0">
                                <thead>
                                    <tr class="border-0">
                                        <th class="border-0 font-14 font-weight-medium text-muted">#</th>
                                        <th class="border-0 font-14 font-weight-medium text-muted">Email</th>
                                        <th class="border-0 font-14 font-weight-medium text-muted">Services</th>
                                        <th class="border-0 font-14 font-weight-medium text-muted">Ville</th>
                                        <th class="border-0 font-14 font-weight-medium text-muted">Status</th>
                                        <th class="border-0 font-14 font-weight-medium text-muted">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 {% for profile in profiles %}
                                    <tr>
                                        
                                        <td class="border-top-0 px-2 py-4">
                                            <div class="d-flex no-block align-items-center">
                                                {% set photoPath =  'admin_panel/images/users/widget-table-pic1.jpg' %}
                                                {% if profile.photos %}
                                                  {%  for photo in profile.photos %}
                                                    {% if photo.position == 1 %}
                                                      {% set photoPath =  'upload/img/' ~ photo.name %}
                                                    {% endif %}
                                                  {% endfor %}
                                                {% endif %}
                                                <div class="mr-3"><img
                                                        src="{{ asset(photoPath )}}"
                                                        alt="user" class="rounded-circle" width="45"
                                                        height="45" data-toggle="tooltip" title="ID {{ profile.id }}" />
                                                </div>
                                                <div class="">
                                                    <h5 class="text-dark mb-0 font-16 font-weight-medium">{{ profile.label }}</h5>
                                                    <span class="text-muted font-14">{{ profile.type }}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="border-top-0 text-muted px-2 py-4 font-14">{{ profile.emailMAin }}</td>
                                        <td class="border-top-0 px-2 py-4">
                                            <div class="popover-icon">
                                              {% if profile.users %}
                                                  {%  for user in profile.users %}
                                                    <a class="btn btn-primary rounded-circle btn-circle font-12"
                                                    href="javascript:void(0)" data-toggle="tooltip" title="{{ user.fname }} {{ user.lname }} {{ user.email }}"><i data-feather="user-check" class="feather-icon"></i></a>
                                                  {% endfor %}
                                                {% endif %}


                                                {% if profile.subPlan %}

                                                    {% if profile.subPlan.uuid == 0 %}

                                                    {% elseif profile.subPlan.uuid == 1 %}

                                                    {% else %}
                                                    <a class="btn btn-warning rounded-circle btn-circle font-12 popover-item"
                                                    href="javascript:void(0)" data-toggle="tooltip" title="Sub Plan : {{ profile.subPlan.label }} - {{ profile.subPlan.period }} - {{ profile.subPlan.price }}€"><i data-feather="dollar-sign" class="feather-icon"></i></a>
                                                    {% endif %}
                                                
                                                
                                                 {% endif %}




                                                <a class="btn btn-danger rounded-circle btn-circle font-12 popover-item"
                                                    href="javascript:void(0)" data-toggle="tooltip" title="Production: xxxxxx"><i data-feather="layers" class="feather-icon"></i></a>
                                                <a class="btn btn-cyan rounded-circle btn-circle font-12 popover-item"
                                                    href="javascript:void(0)" data-toggle="tooltip" title="Communication: xxxxxx"><i data-feather="share-2" class="feather-icon"></i></a>
                                                <a class="btn btn-success text-white rounded-circle btn-circle font-20"
                                                    href="javascript:void(0)">+</a>
                                            </div>
                                        </td>
                                        <td class="border-top-0 text-center px-2 py-4">{{ profile.zipCode }} {{ profile.city }}</td>
                                        <td
                                            class="border-top-0 text-center font-weight-medium text-muted px-2 py-4">
                                            <i
                                                class="fa fa-circle text-primary font-12" data-toggle="tooltip"
                                                data-placement="top" title="In Testing"></i>
                                        </td>
                                        <td class="font-weight-medium text-dark border-top-0 px-2 py-4">
                                          <div class="dropdown sub-dropdown">
                                            <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                                id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i data-feather="more-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1">
                                                <a class="dropdown-item" href="#"><i data-feather="check-square" class="feather-icon"></i>  Validate</a>
                                                <a class="dropdown-item" href="#"><i data-feather="eye" class="feather-icon"></i>  See on site</a>
                                                <a class="dropdown-item" href="#"><i data-feather="edit" class="feather-icon"></i>  Update</a>
                                                <a class="dropdown-item" href="#"><i data-feather="trash-2" class="feather-icon"></i>  Delete</a>
                                                <a class="dropdown-item" href="#"><i data-feather="copy" class="feather-icon"></i>  Duplicate</a>
                                                <a class="dropdown-item" href="#"><i data-feather="send" class="feather-icon"></i>  Contact</a>
                                                <a class="dropdown-item" href="#"><i data-feather="shopping-cart" class="feather-icon"></i>  Suscription</a>
                                            </div>
                                        </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>





{% endblock %}
