<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('admin_panel/images/favicon.ico')}}">
    <link rel="stylesheet" href="../styles/scss/main.css" />
{% block stylesheets %}
        {{ encore_entry_link_tags('css/main') }}
    {% endblock %}

    <title>Moddity homepage</title>
  </head>
  <body>
    <header>
        <nav class="nav is-home-nav">
          <div class="nav-container">
            <a class="nav__logo" href="/">
              <img class="nav__logo-img" src="./images/logo.svg" />
            </a>
            <a class="nav__logo-home" href="/">
              <img class="" src="./images/logo-white.svg" />
            </a>
            <div class="nav__home">
              <div class="navigationHome">
                <img
                  class="navigationHome-searchIcon"
                  src="./images/search.svg"
                  alt=""
                  srcset=""
                />
                <button class="button is-login">
                  Login
                  <svg
                    width="44"
                    height="44"
                    viewBox="0 0 44 44"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M22 43C33.598 43 43 33.598 43 22C43 10.402 33.598 1 22 1C10.402 1 1 10.402 1 22C1 33.598 10.402 43 22 43Z"
                      stroke="white"
                      stroke-width="2"
                      stroke-miterlimit="10"
                    />
                    <path
                      d="M21.9997 26.935C26.9869 26.935 31.0297 22.8921 31.0297 17.905C31.0297 12.9179 26.9869 8.875 21.9997 8.875C17.0126 8.875 12.9697 12.9179 12.9697 17.905C12.9697 22.8921 17.0126 26.935 21.9997 26.935Z"
                      stroke="white"
                      stroke-width="2"
                      stroke-miterlimit="10"
                    />
                    <path
                      d="M36.2797 36.4902C28.4047 28.6152 15.5947 28.6152 7.61475 36.4902"
                      stroke="white"
                      stroke-width="2"
                      stroke-miterlimit="10"
                    />
                  </svg>
                </button>
              </div>
            </div>

            <button class="nav__burger">
              <span></span>
            </button>
          </div>
          <div class="menuMobile">
            <section class="menuMobile-section linkSection">
              <div class="linkSection-left">
            <a href="{{ path('tradeshows') }}" class="button is-p">Tradeshows</a>
            <a href="{{ path('showrooms_agents') }}" class="button is-p">Showrooms</a>
            <a href="{{ path('services') }}" class="button is-p">Services</a>
            <a href="{{ path('production') }}" class="button is-p">Production</a>
            <a href="{{ path('stores') }}" class="button is-p">Stores</a>
            <a href="{{ path('brands') }}" class="button is-p">Brands</a>
            <a href="{{ path('communication') }}" class="button is-p">Communication</a>
          </div>
          <div class="linkSection-right">
            <a href="{{ path('calendar') }}" class="button is-p-out">Calendar</a>
            <a href="#" class="button is-p-out">News Feed</a>
            <a href="#" class="button is-p-out">Sales Campaign</a>
          </div>
            </section>
            <section class="menuMobile-section bottomSection">
              <div class="menuMobile-section bottomSection-mapSection">
                <a href="" class="buttonMap primary">
                  <div class="buttonMap-mapContainer">
                    <svg
                      width="22"
                      height="22"
                      viewBox="0 0 22 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M14.6419 2.63746L14.668 2.64659L14.6938 2.6366L21.214 0.109104L21.3956 0.0750397C21.6932 0.0785348 21.925 0.312567 21.925 0.611111V19.0911C21.925 19.3359 21.7663 19.5299 21.5363 19.6066L21.5361 19.6067L14.6671 21.9207L7.35811 19.3625L7.33201 19.3534L7.30623 19.3634L0.786029 21.8909L0.604358 21.925C0.306796 21.9215 0.075 21.6874 0.075 21.3889V2.90889C0.075 2.66408 0.233685 2.47005 0.463717 2.39337L0.463944 2.3933L7.33287 0.0792983L14.6419 2.63746ZM8.58033 2.9481L8.48056 2.91318V3.01889V17.27V17.3232L8.53078 17.3408L13.4197 19.0519L13.5194 19.0868V18.9811V4.73V4.67679L13.4692 4.65921L8.58033 2.9481ZM2.42051 4.15781L2.36944 4.175V4.22889V18.7122V18.8216L2.47149 18.7822L6.13816 17.3644L6.18611 17.3459V17.2944V2.99444V2.89006L6.08718 2.92336L2.42051 4.15781ZM19.5795 17.8422L19.6306 17.825V17.7711V3.3V3.19059L19.5285 3.23005L15.8618 4.64783L15.8139 4.66637V4.71778V19.0056V19.1099L15.9128 19.0766L19.5795 17.8422Z"
                        fill="currentColor"
                        stroke="white"
                        stroke-width="0.15"
                      />
                    </svg>
                  </div>
                  <p class="buttonMap-mapText">Event Map FW Paris</p>
                </a>
                <a href="" class="buttonMap primary">
                  <div class="buttonMap-mapContainer">
                    <svg
                      width="22"
                      height="22"
                      viewBox="0 0 22 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M14.6419 2.63746L14.668 2.64659L14.6938 2.6366L21.214 0.109104L21.3956 0.0750397C21.6932 0.0785348 21.925 0.312567 21.925 0.611111V19.0911C21.925 19.3359 21.7663 19.5299 21.5363 19.6066L21.5361 19.6067L14.6671 21.9207L7.35811 19.3625L7.33201 19.3534L7.30623 19.3634L0.786029 21.8909L0.604358 21.925C0.306796 21.9215 0.075 21.6874 0.075 21.3889V2.90889C0.075 2.66408 0.233685 2.47005 0.463717 2.39337L0.463944 2.3933L7.33287 0.0792983L14.6419 2.63746ZM8.58033 2.9481L8.48056 2.91318V3.01889V17.27V17.3232L8.53078 17.3408L13.4197 19.0519L13.5194 19.0868V18.9811V4.73V4.67679L13.4692 4.65921L8.58033 2.9481ZM2.42051 4.15781L2.36944 4.175V4.22889V18.7122V18.8216L2.47149 18.7822L6.13816 17.3644L6.18611 17.3459V17.2944V2.99444V2.89006L6.08718 2.92336L2.42051 4.15781ZM19.5795 17.8422L19.6306 17.825V17.7711V3.3V3.19059L19.5285 3.23005L15.8618 4.64783L15.8139 4.66637V4.71778V19.0056V19.1099L15.9128 19.0766L19.5795 17.8422Z"
                        fill="currentColor"
                        stroke="white"
                        stroke-width="0.15"
                      />
                    </svg>
                  </div>
                  <p class="buttonMap-mapText">Event Map FW NYC</p>
                </a>
                <a href="" class="buttonMap primary">
                  <div class="buttonMap-mapContainer">
                    <svg
                      width="22"
                      height="22"
                      viewBox="0 0 22 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M14.6419 2.63746L14.668 2.64659L14.6938 2.6366L21.214 0.109104L21.3956 0.0750397C21.6932 0.0785348 21.925 0.312567 21.925 0.611111V19.0911C21.925 19.3359 21.7663 19.5299 21.5363 19.6066L21.5361 19.6067L14.6671 21.9207L7.35811 19.3625L7.33201 19.3534L7.30623 19.3634L0.786029 21.8909L0.604358 21.925C0.306796 21.9215 0.075 21.6874 0.075 21.3889V2.90889C0.075 2.66408 0.233685 2.47005 0.463717 2.39337L0.463944 2.3933L7.33287 0.0792983L14.6419 2.63746ZM8.58033 2.9481L8.48056 2.91318V3.01889V17.27V17.3232L8.53078 17.3408L13.4197 19.0519L13.5194 19.0868V18.9811V4.73V4.67679L13.4692 4.65921L8.58033 2.9481ZM2.42051 4.15781L2.36944 4.175V4.22889V18.7122V18.8216L2.47149 18.7822L6.13816 17.3644L6.18611 17.3459V17.2944V2.99444V2.89006L6.08718 2.92336L2.42051 4.15781ZM19.5795 17.8422L19.6306 17.825V17.7711V3.3V3.19059L19.5285 3.23005L15.8618 4.64783L15.8139 4.66637V4.71778V19.0056V19.1099L15.9128 19.0766L19.5795 17.8422Z"
                        fill="currentColor"
                        stroke="white"
                        stroke-width="0.15"
                      />
                    </svg>
                  </div>
                  <p class="buttonMap-mapText">Event Map FW London</p>
                </a>
              </div>
              <div class="menuMobile-section bottomSection-accountSection">
                <div class="accountSection greetings">
                  <img class="avatar" src="./images/avatar.jpg" />
                  <p>Hi Pauline !</p>
                </div>
                <button class="button is-rounded is-t">Deconnexion</button>
              </div>
            </section>
          </div>
        </nav>
      </header>
    <main class="{{ (pageName is defined) ? pageName : '' }}">
        
        
        
        {# Boucle pour afficher les messages d'erreur #} 
        {% for message in app.flashes('errors') %}
            <div class="alert alert-danger"><strong>Erreur : </strong>{{ message | raw }}</div>
        {% endfor %} 
        {# Boucle pour afficher les messages de succès #} 
        {% for message in app.flashes('success') %}
            <div class="alert alert-success"><strong>Succès : </strong>{{ message | raw }}</div>
        {% endfor %}
        {# Boucle pour afficher les messages de succès #} 
        {% for message in app.flashes('infos') %}
            <div class="alert alert-info"><strong>Info : </strong>{{ message | raw }}</div>
        {% endfor %}


        {# MENU #}
        {# MENU #}
        {# MENU #}
        {# MENU #}
        {% block menu %}{% endblock %}
        {# END MENU #}
        {# END MENU #}
        {# END MENU #}
        {# END MENU #}

        {# CONTENT #}
        {# CONTENT #}
        {# CONTENT #}
        {# CONTENT #}
        {% block content %}{% endblock %}
        {# END CONTENT #}
        {# END CONTENT #}
        {# END CONTENT #}
        {# END CONTENT #}





    </main>
    <footer class="footer mobile">
      <ul class="footer-linkSection">
        <li><a href="{{ path('tradeshows') }}">Tradeshows</a></li>
        <li><a href="{{ path('showrooms_agents') }}">Showrooms</a></li>
        <li><a href="{{ path('services') }}">Services</a></li>
        <li><a href="{{ path('production') }}">Production</a></li>
        <li><a href="{{ path('stores') }}">Stores</a></li>
        <li><a href="{{ path('brands') }}">Brands</a></li>
        <li><a href="{{ path('communication') }}">Communication</a></li>
      </ul>
      <div class="footer-buttonSection">
        <div class="footer-buttonSection-flex">
          <a class="button is-white u-upper">Become a member</a>
          <a class="button is-white-out u-upper">Visitors’ Membership</a>
        </div>
        <a class="button is-p with-icon u-upper"
          >Newsletter
          <svg
            class="arrow u-180"
            width="2.6rem"
            height="auto"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7L16 9ZM0.292894 7.29287C-0.0976315 7.68339 -0.0976314 8.31656 0.292893 8.70708L6.65684 15.0711C7.04737 15.4616 7.68053 15.4616 8.07106 15.0711C8.46158 14.6805 8.46158 14.0474 8.07106 13.6568L2.41421 7.99998L8.07108 2.34313C8.4616 1.95261 8.4616 1.31945 8.07108 0.92892C7.68055 0.538395 7.04739 0.538394 6.65686 0.928918L0.292894 7.29287ZM16 7L1 6.99998L0.999998 8.99998L16 9L16 7Z"
              fill="currentColor"
            />
          </svg>
        </a>
      </div>
      <div class="footer-shareSection">
        <svg
          width="76"
          height="52"
          viewBox="0 0 76 52"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="footer-shareSection-logo"
        >
          <path
            d="M0 6.58877H13.0798L4.18746 12.408V12.5283L13.14 18.3836H0V24.6838H22.8867V17.9868L14.0304 12.5283L22.8867 7.08172V0.384766H0V6.58877Z"
            fill="currentColor"
          />
          <path
            d="M37.5428 25.0685C44.9912 25.0685 50.5745 19.4536 50.5745 12.5403V12.4681C50.5745 5.54272 45.0514 0 37.615 0C30.1667 0 24.5834 5.61486 24.5834 12.5282V12.6004C24.5834 19.5258 30.0945 25.0685 37.5428 25.0685ZM31.406 12.4681C31.406 8.9934 33.8487 6.02365 37.5428 6.02365C41.2009 6.02365 43.7157 9.05352 43.7157 12.5282V12.6004C43.7157 16.0751 41.2731 19.0448 37.615 19.0448C33.933 19.0448 31.4181 16.015 31.4181 12.5403V12.4681H31.406Z"
            fill="currentColor"
          />
          <path
            d="M9.01267 27.7017H0V51.0508H8.88031C17.2913 51.0508 22.2008 46.0492 22.2008 39.3041V39.232C22.2008 32.4989 17.3635 27.7017 9.01267 27.7017ZM15.5586 39.4123C15.5586 43.1876 12.9835 45.3157 9.10893 45.3157H6.47372V33.4368H9.10893C12.9835 33.4368 15.5586 35.6009 15.5586 39.3402V39.4123Z"
            fill="currentColor"
          />
          <path
            d="M62.3667 0.468872H53.0532V24.5996H62.2344C70.9221 24.5996 76 19.4296 76 12.4681V12.3959C75.988 5.43448 70.9943 0.468872 62.3667 0.468872ZM69.1292 12.5643C69.1292 16.4598 66.4699 18.6601 62.475 18.6601H59.7556V6.39634H62.475C66.482 6.39634 69.1292 8.63267 69.1292 12.4921V12.5643Z"
            fill="currentColor"
          />
          <path
            d="M32.7055 27.7017H26.1957V51.0508H32.7055V27.7017Z"
            fill="currentColor"
          />
          <path
            d="M56.23 27.7017H35.7258V33.3646H42.741V51.0508H49.2148V33.3646H56.23V27.7017Z"
            fill="currentColor"
          />
          <path
            d="M66.9634 27.7017H60.4536V36.5388L51.5732 51.0508H58.8171L63.6543 42.5504L68.4675 51.0508H75.8437L66.9634 36.4426V27.7017Z"
            fill="currentColor"
          />
        </svg>
        <div class="footer-shareSection-socials">
          <img src="{{ asset('/images/facebook.svg') }}" alt="" srcset="" />
          <img src="{{ asset('/images/insta.svg') }}" alt="" srcset="" />
          <img src="{{ asset('/images/linkedin.svg') }}" alt="" srcset="" />
        </div>
      </div>
      <ul class="footer-linkSection legal">
        <li><a href="#">Plan du site</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Legal</a></li>
      </ul>
    </footer>
    <footer class="footer desktop">
      <div class="footer-flexContainer">
        <svg
          width="134"
          height="90"
          viewBox="0 0 76 52"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="footer-shareSection-logo"
        >
          <path
            d="M0 6.58877H13.0798L4.18746 12.408V12.5283L13.14 18.3836H0V24.6838H22.8867V17.9868L14.0304 12.5283L22.8867 7.08172V0.384766H0V6.58877Z"
            fill="currentColor"
          />
          <path
            d="M37.5428 25.0685C44.9912 25.0685 50.5745 19.4536 50.5745 12.5403V12.4681C50.5745 5.54272 45.0514 0 37.615 0C30.1667 0 24.5834 5.61486 24.5834 12.5282V12.6004C24.5834 19.5258 30.0945 25.0685 37.5428 25.0685ZM31.406 12.4681C31.406 8.9934 33.8487 6.02365 37.5428 6.02365C41.2009 6.02365 43.7157 9.05352 43.7157 12.5282V12.6004C43.7157 16.0751 41.2731 19.0448 37.615 19.0448C33.933 19.0448 31.4181 16.015 31.4181 12.5403V12.4681H31.406Z"
            fill="currentColor"
          />
          <path
            d="M9.01267 27.7017H0V51.0508H8.88031C17.2913 51.0508 22.2008 46.0492 22.2008 39.3041V39.232C22.2008 32.4989 17.3635 27.7017 9.01267 27.7017ZM15.5586 39.4123C15.5586 43.1876 12.9835 45.3157 9.10893 45.3157H6.47372V33.4368H9.10893C12.9835 33.4368 15.5586 35.6009 15.5586 39.3402V39.4123Z"
            fill="currentColor"
          />
          <path
            d="M62.3667 0.468872H53.0532V24.5996H62.2344C70.9221 24.5996 76 19.4296 76 12.4681V12.3959C75.988 5.43448 70.9943 0.468872 62.3667 0.468872ZM69.1292 12.5643C69.1292 16.4598 66.4699 18.6601 62.475 18.6601H59.7556V6.39634H62.475C66.482 6.39634 69.1292 8.63267 69.1292 12.4921V12.5643Z"
            fill="currentColor"
          />
          <path
            d="M32.7055 27.7017H26.1957V51.0508H32.7055V27.7017Z"
            fill="currentColor"
          />
          <path
            d="M56.23 27.7017H35.7258V33.3646H42.741V51.0508H49.2148V33.3646H56.23V27.7017Z"
            fill="currentColor"
          />
          <path
            d="M66.9634 27.7017H60.4536V36.5388L51.5732 51.0508H58.8171L63.6543 42.5504L68.4675 51.0508H75.8437L66.9634 36.4426V27.7017Z"
            fill="currentColor"
          />
        </svg>
        <div class="buttonSection">
          <a class="button is-white u-upper">Become a member</a>
          <a class="button is-white-out u-upper">Visitors’ Membership</a>
          <a class="button is-p with-icon u-upper"
            >Newsletter
            <svg
              class="arrow u-180"
              width="2.6rem"
              height="auto"
              viewBox="0 0 17 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7L16 9ZM0.292894 7.29287C-0.0976315 7.68339 -0.0976314 8.31656 0.292893 8.70708L6.65684 15.0711C7.04737 15.4616 7.68053 15.4616 8.07106 15.0711C8.46158 14.6805 8.46158 14.0474 8.07106 13.6568L2.41421 7.99998L8.07108 2.34313C8.4616 1.95261 8.4616 1.31945 8.07108 0.92892C7.68055 0.538395 7.04739 0.538394 6.65686 0.928918L0.292894 7.29287ZM16 7L1 6.99998L0.999998 8.99998L16 9L16 7Z"
                fill="currentColor"
              />
            </svg>
          </a>
        </div>
      </div>
      <ul class="linkSection">
        <li><a href="{{ path('tradeshows') }}">Tradeshows</a></li>
        <li><a href="{{ path('showrooms_agents') }}">Showrooms</a></li>
        <li><a href="{{ path('services') }}">Services</a></li>
        <li><a href="{{ path('production') }}">Production</a></li>
        <li><a href="{{ path('stores') }}">Stores</a></li>
        <li><a href="{{ path('brands') }}">Brands</a></li>
        <li><a href="{{ path('communication') }}">Communication</a></li>
      </ul>

      <div class="shareSection">
        <ul class="shareSection-linkSection legal">
          <li><a href="#">Plan du site</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Legal</a></li>
        </ul>
        <div class="shareSection-socials">
          <ul class="shareSection-socialsIcons">
            <li>
              <a href="#"
                ><svg
                  width="24"
                  height="23"
                  viewBox="0 0 24 23"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21.3352 0.0913086H1.86709C0.934514 0.0913086 0.18042 0.828066 0.18042 1.73897V21.301C0.18042 22.2119 0.934514 22.9531 1.86709 22.9531H21.3352C22.2678 22.9531 23.0263 22.2119 23.0263 21.3054V1.73897C23.0263 0.828066 22.2678 0.0913086 21.3352 0.0913086ZM6.95834 19.5729H3.56715V8.66002H6.95834V19.5729ZM5.26275 7.17311C4.174 7.17311 3.29496 6.29346 3.29496 5.20842C3.29496 4.12338 4.174 3.24374 5.26275 3.24374C6.34704 3.24374 7.22607 4.12338 7.22607 5.20842C7.22607 6.289 6.34704 7.17311 5.26275 7.17311ZM19.6485 19.5729H16.2618V14.2683C16.2618 13.0046 16.2395 11.3749 14.4993 11.3749C12.7368 11.3749 12.469 12.7546 12.469 14.179V19.5729H9.08676V8.66002H12.3352V10.1514H12.3798C12.8305 9.29407 13.9371 8.38764 15.5836 8.38764C19.0149 8.38764 19.6485 10.647 19.6485 13.5851V19.5729Z"
                    fill="currentColor"
                  /></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg
                  width="27"
                  height="27"
                  viewBox="0 0 27 27"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.5654 2.51946C17.1433 2.51946 17.5669 2.53516 18.974 2.59798C20.2817 2.65555 20.9878 2.87539 21.4586 3.0586C22.0811 3.29937 22.5309 3.59249 22.9964 4.05835C23.4672 4.52944 23.7549 4.97435 23.9955 5.59724C24.1786 6.06832 24.3983 6.78019 24.4558 8.08353C24.5186 9.49679 24.5343 9.92077 24.5343 13.4958C24.5343 17.0761 24.5186 17.5001 24.4558 18.9081C24.3983 20.2167 24.1786 20.9233 23.9955 21.3944C23.7549 22.0173 23.462 22.4674 22.9964 22.9333C22.5257 23.4044 22.0811 23.6922 21.4586 23.933C20.9878 24.1162 20.2765 24.3361 18.974 24.3936C17.5617 24.4564 17.138 24.4722 13.5654 24.4722C9.98763 24.4722 9.56394 24.4564 8.15688 24.3936C6.8492 24.3361 6.14305 24.1162 5.67229 23.933C5.04983 23.6922 4.59999 23.3991 4.13446 22.9333C3.66369 22.4622 3.376 22.0173 3.13539 21.3944C2.95232 20.9233 2.73263 20.2114 2.67509 18.9081C2.61232 17.4948 2.59663 17.0708 2.59663 13.4958C2.59663 9.91554 2.61232 9.49156 2.67509 8.08353C2.73263 6.77495 2.95232 6.06832 3.13539 5.59724C3.376 4.97435 3.66892 4.5242 4.13446 4.05835C4.60522 3.58726 5.04983 3.29937 5.67229 3.0586C6.14305 2.87539 6.85443 2.65555 8.15688 2.59798C9.56394 2.53516 9.98763 2.51946 13.5654 2.51946ZM13.5654 0.106445C9.93009 0.106445 9.47502 0.122148 8.04704 0.18496C6.62428 0.247772 5.64614 0.478081 4.79876 0.807843C3.91477 1.15331 3.16678 1.60869 2.42401 2.3572C1.67602 3.10047 1.22095 3.84898 0.875721 4.72834C0.546186 5.58153 0.316034 6.55511 0.253265 7.97885C0.190497 9.41305 0.174805 9.86843 0.174805 13.5063C0.174805 17.1441 0.190497 17.5995 0.253265 19.0285C0.316034 20.4522 0.546186 21.431 0.875721 22.279C1.22095 23.1636 1.67602 23.9121 2.42401 24.6554C3.16678 25.3986 3.91477 25.8592 4.79353 26.1995C5.64614 26.5292 6.61905 26.7595 8.0418 26.8224C9.46979 26.8852 9.92486 26.9009 13.5602 26.9009C17.1956 26.9009 17.6506 26.8852 19.0786 26.8224C20.5014 26.7595 21.4795 26.5292 22.3269 26.1995C23.2057 25.8592 23.9536 25.3986 24.6964 24.6554C25.4392 23.9121 25.8995 23.1636 26.2395 22.2842C26.569 21.431 26.7992 20.4574 26.8619 19.0337C26.9247 17.6047 26.9404 17.1494 26.9404 13.5115C26.9404 9.87367 26.9247 9.41828 26.8619 7.98931C26.7992 6.56558 26.569 5.58677 26.2395 4.73881C25.9099 3.84898 25.4549 3.10047 24.7069 2.3572C23.9641 1.61393 23.2161 1.15331 22.3374 0.813077C21.4848 0.483315 20.5118 0.253006 19.0891 0.190194C17.6559 0.122148 17.2008 0.106445 13.5654 0.106445Z"
                    fill="currentColor"
                  />
                  <path
                    d="M13.5656 6.62329C9.76815 6.62329 6.68726 9.70634 6.68726 13.5065C6.68726 17.3066 9.76815 20.3897 13.5656 20.3897C17.3631 20.3897 20.444 17.3066 20.444 13.5065C20.444 9.70634 17.3631 6.62329 13.5656 6.62329ZM13.5656 17.9714C11.102 17.9714 9.10385 15.9719 9.10385 13.5065C9.10385 11.0411 11.102 9.04157 13.5656 9.04157C16.0293 9.04157 18.0274 11.0411 18.0274 13.5065C18.0274 15.9719 16.0293 17.9714 13.5656 17.9714Z"
                    fill="currentColor"
                  />
                  <path
                    d="M22.3214 6.35089C22.3214 7.24069 21.5996 7.95776 20.7156 7.95776C19.8264 7.95776 19.1097 7.23546 19.1097 6.35089C19.1097 5.46109 19.8316 4.74402 20.7156 4.74402C21.5996 4.74402 22.3214 5.46633 22.3214 6.35089Z"
                    fill="currentColor"
                  /></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg
                  width="27"
                  height="27"
                  viewBox="0 0 27 27"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M27 13.5825C27 6.08109 20.9558 0 13.5 0C6.04415 0 0 6.08109 0 13.5825C0 20.3618 4.93673 25.981 11.3906 27V17.5087H7.96289V13.5825H11.3906V10.5901C11.3906 7.18599 13.4061 5.30567 16.4898 5.30567C17.9663 5.30567 19.5117 5.57095 19.5117 5.57095V8.91352H17.8095C16.1325 8.91352 15.6094 9.96059 15.6094 11.0358V13.5825H19.3535L18.755 17.5087H15.6094V27C22.0633 25.981 27 20.3618 27 13.5825Z"
                    fill="currentColor"
                  /></svg
              ></a>
            </li>
          </ul>

          <ul class="shareSection-linkSection about">
            <li><a href="#">About</a></li>
            <li><a href="#">Team & Contacts</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
    <script src="https://kit.fontawesome.com/2d080911c1.js" crossorigin="anonymous"></script>
    {% block javascripts %}
        {{ encore_entry_script_tags('js/main') }}
    {% endblock %}
</html>
