<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/favicon-32x32.png') }}">
    <title>Moddity {% block title %}{% endblock %}</title>
    <!-- Custom CSS -->
    <link href="{{ asset ('admin_panel/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset ('admin_panel/css/app.css') }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
            style="background-image:url({{ asset('/images/background.jpeg')}});background-size: cover; background-position:center center ">
            <div class="auth-box row text-center">
                <div class="col-lg-6 col-md-5 modal-bg-img" style="background-image: url({{ asset('/images/header-desktop.jpg')}});">
                </div>
                <div class="col-lg-6 col-md-7 bg-white login-window">
                    <div class="p-3 login-window-content">
                        <img src="{{ asset('/images/logo-ho.svg')}}" width="150" alt="wrapkit">
                        {% block content %}
                        {% endblock %}
                    </div>
                    
                </div>
                <div class="creditArea" style="left: 0; color: black; background: rgba(255, 255, 255, 0.6); padding: 10px; margin: 0 auto;">
                    <div class="version">MODDITY v{{ MDY_VERSION }} - Copyright ©2021</div>
                    
                </div>
            </div>
            
        </div>
           <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="{{ asset('admin_panel/libs/jquery/dist/jquery.min.js') }} "></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ asset('admin_panel/libs/popper.js/dist/umd/popper.min.js') }} "></script>
    <script src="{{ asset('admin_panel/libs/bootstrap/dist/js/bootstrap.min.js')}} "></script>
    <script src="{{ asset('admin_panel/js/feather.min.js') }}"></script>
    <script src="{{ asset('admin_panel/js/custom.min.js') }}"></script>
    {# custom JS #}
    <script src="{{ asset('admin_panel/js/app.js') }}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $(".preloader ").fadeOut();
    </script>
</body>

</html>