<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('admin_panel/images/favicon2.ico') }}">
    <title>Moddity Admin Panel</title>
    <!-- Custom CSS -->

    <link rel="stylesheet" href="{{ asset('admin_panel/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css') }}">
    {# <link href="{{ asset('admin_panel/css/import.css') }}" rel="stylesheet"> #}
    <link href="{{ asset('admin_panel/css/style.min.css') }}" rel="stylesheet">
    {# <link href="{{ asset('admin_panel/css/app.css') }}" rel="stylesheet"> #}
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    

    {# CSS full Calendar #}
    <link rel="stylesheet" href="{{ asset('admin_panel/libs/fullcalendar/dist/fullcalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('admin_panel/libs/fullcalendar/dist/style.css') }}" />
    
    {% block stylesheets %} 
        
    {% endblock %}
</head>

<body>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="index.html">
                            <!-- Logo text -->
                            <span class="logo-text">
                                <img src="{{ asset('/images/logo-ho.svg') }}" width="100" alt="wrapkit">
                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <!-- Notification -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle pl-md-3 position-relative" href="javascript:void(0)"
                                id="bell" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span><i data-feather="bell" class="svg-icon"></i></span>
                                <span class="badge badge-primary notify-no rounded-circle">5</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left mailbox animated bounceInDown">
                                <ul class="list-style-none">
                                    <li>
                                        <div class="message-center notifications position-relative">
                                            <!-- Message -->
                                            <a href="javascript:void(0)"
                                                class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                <div class="btn btn-danger rounded-circle btn-circle"><i
                                                        data-feather="airplay" class="text-white"></i></div>
                                                <div class="w-75 d-inline-block v-middle pl-2">
                                                    <h6 class="message-title mb-0 mt-1">Luanch Admin</h6>
                                                    <span class="font-12 text-nowrap d-block text-muted">Just see
                                                        the my new
                                                        admin!</span>
                                                    <span class="font-12 text-nowrap d-block text-muted">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)"
                                                class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                <span class="btn btn-success text-white rounded-circle btn-circle"><i
                                                        data-feather="calendar" class="text-white"></i></span>
                                                <div class="w-75 d-inline-block v-middle pl-2">
                                                    <h6 class="message-title mb-0 mt-1">Event today</h6>
                                                    <span
                                                        class="font-12 text-nowrap d-block text-muted text-truncate">Just
                                                        a reminder that you have event</span>
                                                    <span class="font-12 text-nowrap d-block text-muted">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)"
                                                class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                <span class="btn btn-info rounded-circle btn-circle"><i
                                                        data-feather="settings" class="text-white"></i></span>
                                                <div class="w-75 d-inline-block v-middle pl-2">
                                                    <h6 class="message-title mb-0 mt-1">Settings</h6>
                                                    <span
                                                        class="font-12 text-nowrap d-block text-muted text-truncate">You
                                                        can customize this template
                                                        as you want</span>
                                                    <span class="font-12 text-nowrap d-block text-muted">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)"
                                                class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                <span class="btn btn-primary rounded-circle btn-circle"><i
                                                        data-feather="box" class="text-white"></i></span>
                                                <div class="w-75 d-inline-block v-middle pl-2">
                                                    <h6 class="message-title mb-0 mt-1">Pavan kumar</h6> <span
                                                        class="font-12 text-nowrap d-block text-muted">Just
                                                        see the my admin!</span>
                                                    <span class="font-12 text-nowrap d-block text-muted">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link pt-3 text-center text-dark" href="javascript:void(0);">
                                            <strong>Check all notifications</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Notification -->
                        <!-- ============================================================== -->
                        <!-- create new -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i data-feather="settings" class="svg-icon"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <div class="customize-input">
                                    <select
                                        class="custom-select form-control bg-white custom-radius custom-shadow border-0">
                                        <option selected>EN</option>
                                        <option value="1">AB</option>
                                        <option value="2">AK</option>
                                        <option value="3">BE</option>
                                    </select>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <form>
                                    <div class="customize-input">
                                        <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                            type="search" placeholder="Search" aria-label="Search">
                                        <i class="form-control-icon" data-feather="search"></i>
                                    </div>
                                </form>
                            </a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="{{ asset('admin_panel/images/users/profile-pic.jpg') }}" alt="user" class="rounded-circle"
                                    width="40">
                                <span class="ml-2 d-none d-lg-inline-block"><span>Hello,</span> <span
                                        class="text-dark">{{ app.user.username }}</span> <i data-feather="chevron-down"
                                        class="svg-icon"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="user"
                                        class="svg-icon mr-2 ml-1"></i>
                                    My Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="credit-card"
                                        class="svg-icon mr-2 ml-1"></i>
                                    My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="mail"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Inbox</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="settings"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Account Setting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}"><i data-feather="power"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Logout</a>
                                <div class="dropdown-divider"></div>
                                <div class="pl-4 p-3"><a href="javascript:void(0)" class="btn btn-sm btn-info">View
                                        Profile</a></div>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{ path('admin_dashboard') }}"
                                aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                                    class="hide-menu">Dashboard</span></a></li>
                        <li class="list-divider"></li>



                        <li class="nav-small-cap"><span class="hide-menu">Users settings</span></li>

                        <li class="sidebar-item"> <a class="sidebar-link" href="{{ path('admin_user') }}"
                                aria-expanded="false"><i data-feather="users" class="feather-icon"></i><span
                                    class="hide-menu">All users
                                </span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link" href="ticket-list.html"
                                aria-expanded="false"><i data-feather="shield" class="feather-icon"></i><span
                                    class="hide-menu">Moddity Admin
                                </span></a>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="app-chat.html"
                                aria-expanded="false"><i data-feather="plus-square" class="feather-icon"></i><span
                                    class="hide-menu">Add new user</span></a></li>
                        

                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Pro Profile settings</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="plus-square" class="feather-icon"></i><span
                                    class="hide-menu">Add Profiles</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('admin_designer_new') }}" class="sidebar-link"><span
                                            class="hide-menu">Add Designer
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="" class="sidebar-link"><span
                                            class="hide-menu">Add Showroom
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="" class="sidebar-link"><span
                                            class="hide-menu">Add Salon
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="" class="sidebar-link"><span
                                            class="hide-menu">Add Communication
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="" class="sidebar-link"><span
                                            class="hide-menu">Add services
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="" class="sidebar-link"><span
                                            class="hide-menu">Add Production
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="" class="sidebar-link"><span
                                            class="hide-menu">Add Boutique
                                        </span></a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Subscription Plans</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('admin_sub_plan_index') }}" class="sidebar-link"><span
                                            class="hide-menu">See All
                                        </span></a>
                                </li>
                                 <li class="sidebar-item"><a href="form-inputs.html" class="sidebar-link"><span
                                            class="hide-menu">Add new plan
                                        </span></a>
                                </li>
                            </ul>
                        </li>

                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Types setting</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Collection</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('admin_collection_index') }}" class="sidebar-link"><span
                                            class="hide-menu">See collections 
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_collection_new') }}" class="sidebar-link"><span
                                            class="hide-menu">Add collection
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                         <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Product</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('admin_product_index') }}" class="sidebar-link"><span
                                            class="hide-menu">See Products 
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_product_new') }}" class="sidebar-link"><span
                                            class="hide-menu">Add Product
                                <li class="sidebar-item"><a href="{{ path('admin_profiles_type', { type: 'designer' }) }}" class="sidebar-link"><span
                                            class="hide-menu">Designer
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_profiles_type', { type: 'showroom' }) }}" class="sidebar-link"><span
                                            class="hide-menu">Showroom
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_profiles_type', { type: 'boutique' }) }}" class="sidebar-link"><span
                                            class="hide-menu">Shop
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Style</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('admin_style_index') }}" class="sidebar-link"><span
                                            class="hide-menu">See styles 
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_style_new') }}" class="sidebar-link"><span
                                            class="hide-menu">Add style
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">sub style</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('admin_sub_style_index') }}" class="sidebar-link"><span
                                            class="hide-menu">See sub styles 
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_sub_style_new') }}" class="sidebar-link"><span
                                            class="hide-menu">Add sub style
                                        </span></a>
                                </li>
                            </ul>
                        </li>


                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Internal service</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('admin_internal_index') }}" class="sidebar-link"><span
                                            class="hide-menu">See internals 
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_internal_new') }}" class="sidebar-link"><span
                                            class="hide-menu">Add internal
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">external service</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('admin_external_index') }}" class="sidebar-link"><span
                                            class="hide-menu">See externals 
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_external_new') }}" class="sidebar-link"><span
                                            class="hide-menu">Add external
                                <li class="sidebar-item"><a href="{{ path('admin_externals_type', { type: 'service' }) }}" class="sidebar-link"><span
                                            class="hide-menu">Service
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_externals_type', { type: 'communication' }) }}" class="sidebar-link"><span
                                            class="hide-menu">Communication
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_externals_type', { type: 'production' }) }}" class="sidebar-link"><span
                                            class="hide-menu">Production
                                        </span></a>
                                </li>
                            </ul>
                        </li>

                        

                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Land</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('admin_land_index') }}" class="sidebar-link"><span
                                            class="hide-menu">See Lands 
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_land_new') }}" class="sidebar-link"><span
                                            class="hide-menu">Add Land
                                        </span></a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">sourcing</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('admin_sourcing_index') }}" class="sidebar-link"><span
                                            class="hide-menu">See sourcings 
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_sourcing_new') }}" class="sidebar-link"><span
                                            class="hide-menu">Add sourcing
                                </li>
                                <li class="sidebar-item"><a href="form-inputs.html" class="sidebar-link"><span
                                            class="hide-menu">Add new category
                                        </span></a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Company Size</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('company_size_index') }}" class="sidebar-link"><span
                                            class="hide-menu">See Company Sizes 
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('company_size_new') }}" class="sidebar-link"><span
                                            class="hide-menu">Add Company Size
                                        </span></a>
                                </li>
                            </ul>
                        </li>

                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Calendar settings</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Events</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('admin_salons') }}" class="sidebar-link"><span
                                            class="hide-menu">Salons
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_evenements_fws') }}" class="sidebar-link"><span
                                            class="hide-menu">Events Fashion Weeks
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_campaign_designer') }}" class="sidebar-link"><span
                                            class="hide-menu">Campaign Designer
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_campaign_showroom') }}" class="sidebar-link"><span
                                            class="hide-menu">Campaign Showroom
                                        </span></a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Settings</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('admin_fashion_weeks') }}" class="sidebar-link"><span
                                            class="hide-menu">Fashion weeks
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_events_fws') }}" class="sidebar-link"><span
                                            class="hide-menu">Event Fashion weeks
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_salon_type') }}" class="sidebar-link"><span
                                            class="hide-menu">Salon type
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_saisons_mode') }}" class="sidebar-link"><span
                                            class="hide-menu">Saisons Mode
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_saison_sourcing') }}" class="sidebar-link"><span
                                            class="hide-menu">Saisons Sourcing
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="{{ path('admin_organisateur_event') }}" class="sidebar-link"><span
                                            class="hide-menu">Organisateur Event
                                        </span></a>
                                </li>
                            </ul>
                        </li>

                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Calendar</span></li>

                        <li class="sidebar-item"> <a href="{{ path('admin_calendar') }}" class="sidebar-link sidebar-link" href="authentication-register1.html"
                                aria-expanded="false"><i data-feather="calendar" class="feather-icon"></i><span
                                    class="hide-menu">Calendar Salon & fashion Weeks
                                </span></a>
                        </li>

                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Fil actu settings</span></li>

                        <li class="sidebar-item"> <a href="{{ path('admin_fil_actu') }}" class="sidebar-link sidebar-link" href="authentication-register1.html"
                                aria-expanded="false"><i data-feather="calendar" class="feather-icon"></i><span
                                    class="hide-menu">Fil actu
                                </span></a>
                        </li>
                        <li class="sidebar-item"> <a href="{{ path('admin_category_actu') }}" class="sidebar-link sidebar-link" href="authentication-register1.html"
                                aria-expanded="false"><i data-feather="calendar" class="feather-icon"></i><span
                                    class="hide-menu">Catégories actu
                                </span></a>
                        </li>

                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
                        
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{{ path('app_logout') }}" aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Logout</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            {# <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Good Morning {{ app.user.username }}!</h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div> #}
            {% block content %}{% endblock %}


            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center text-muted">
                MODDITY v{{ MDY_VERSION }} - Copyright ©2021
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script src="{{ asset('admin_panel/js/import.js') }}"></script>
    <script>
    $('.mc-form-control').each(function(){
        if($(this).val().length > 0){
            $(this).next('.mc-label').addClass('mc-label-fixed');
        }
    });
    </script>

    {# start JS/QUERY full calendar #}
    <script src="{{ asset('admin_panel/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('admin_panel/js/app-style-switcher.js') }}"></script>
    <script src="{{ asset('admin_panel/js/feather.min.js') }}"></script>
    <script src="{{ asset('admin_panel/js/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ asset('admin_panel/js/custom.min.js') }}"></script>

    <!--This page JavaScript -->
    <script src="{{ asset('admin_panel/extra-libs/c3/d3.min.js') }}"></script>
    <script src="{{ asset('admin_panel/extra-libs/c3/c3.min.js') }}"></script>

    <script src="{{ asset('admin_panel/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js') }}"></script>
    <script src="{{ asset('admin_panel/extra-libs/jvector/jquery-jvectormap-world-mill-en.js') }}"></script>
    <!--<script src="{{ asset('admin_panel/js/pages/dashboards/dashboard1.min.js') }}"></script>-->
    <script src="{{ asset('admin_panel/js/select2.min.js')}}"></script>

    <script src="{{ asset('admin_panel/extra-libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('admin_panel/js/pages/datatable/datatable-basic.init.js') }}"></script>

    <!-- apps -->
    <script src="{{ asset('admin_panel/js/app-style-switcher.js') }}"></script>
    
    <script src="{{ asset('admin_panel/js/sidebarmenu.js') }}"></script>
    <!--Custom JavaScript -->

    <script src="{{ asset('admin_panel/libs/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('admin_panel/libs/fullcalendar/dist/fullcalendar.min.js') }}"></script>

    <!-- custom JS -->
    <script src="{{ asset('admin_panel/js/app.js') }}"></script>

    {% block javascripts %}
        
    {% endblock %}

    {% block modal %}{% endblock %}
</body>

</html>