
    <header>
      <nav class="nav">
        <div class="nav-container">
          <a class="nav__logo" href="/">
            <img class="nav__logo-img" src="{{ asset('images/logo.svg') }}" />
          </a>
          <div class="nav__title">
            <div class="nav__title-wrapper with-nav">
              <div class="nav__title-left">
                <div>
                  <span class="nav__title-first">Calendar</span>
                  <span class="nav__title-second u-primary"
                    >Name FW/Month. Year</span
                  >
                </div>
                <div class="nav-calendar desktop">
                  <a class="{% if app.request.attributes.get('_route') == 'calendar_tradeshows' %}active{% endif %}" href="{{ path('calendar_tradeshows') }}"
                    >Tradeshows</a
                  >
                  <a class="{% if app.request.attributes.get('_route') == 'brand_sales' %}active{% endif %}" href="{{ path('brand_sales') }}">Brand Sales</a>
                  <a class="{% if app.request.attributes.get('_route') == 'showroom_sales' %}active{% endif %}" href="{{ path('showroom_sales') }}">Showroom Sales</a>
                  <a class="{% if app.request.attributes.get('_route') == 'shows' %}active{% endif %}" href="{{ path('shows') }}">Shows</a>
                  <a class="{% if app.request.attributes.get('_route') == 'events' %}active{% endif %}" href="{{ path('events') }}">Events</a>
                  <a class="map{% if app.request.attributes.get('_route') == 'map' %} active{% endif %}" href="{{ path('map') }}">Map</a>
                </div>
              </div>
              <div class="nav__title-right">
                <p class="big">{{ (pageName is defined) ? pageName : '' }}</p>
              </div>
              <div class="nav__home">
                <div class="navigationHome">
                  <img
                    class="navigationHome-searchIcon"
                    src="{{ asset('images/search.svg') }}"
                    alt=""
                    srcset=""
                  />
                  <button class="button is-login">
                    Login
                    <svg
                      width="44"
                      height="44"
                      viewBox="0 0 44 44"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M22 43C33.598 43 43 33.598 43 22C43 10.402 33.598 1 22 1C10.402 1 1 10.402 1 22C1 33.598 10.402 43 22 43Z"
                        stroke="white"
                        stroke-width="2"
                        stroke-miterlimit="10"
                      />
                      <path
                        d="M21.9997 26.935C26.9869 26.935 31.0297 22.8921 31.0297 17.905C31.0297 12.9179 26.9869 8.875 21.9997 8.875C17.0126 8.875 12.9697 12.9179 12.9697 17.905C12.9697 22.8921 17.0126 26.935 21.9997 26.935Z"
                        stroke="white"
                        stroke-width="2"
                        stroke-miterlimit="10"
                      />
                      <path
                        d="M36.2797 36.4902C28.4047 28.6152 15.5947 28.6152 7.61475 36.4902"
                        stroke="white"
                        stroke-width="2"
                        stroke-miterlimit="10"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <button class="nav__burger">
            <span></span>
          </button>
          <div class="nav-desktop nav-desktop--left">
            <ul>
              <li>
                <a class="button is-p-out{% if app.request.attributes.get('_route') == 'tradeshows' %} active{% endif %}" href="{{ path('tradeshows') }}">Tradeshows</a>
              </li>
              <li>
                <a class="button is-p-out{% if app.request.attributes.get('_route') == 'showrooms_agents' %} active{% endif %}" href="{{ path('showrooms_agents') }}"
                  >Showrooms <br />
                  & Agents</a
                >
              </li>
              <li><a class="button is-p-out{% if app.request.attributes.get('_route') == 'services' %} active{% endif %}" href="{{ path('services') }}">Services</a></li>
              <li><a class="button is-p-out{% if app.request.attributes.get('_route') == 'production' %} active{% endif %}" href="{{ path('production') }}">Production</a></li>
              <li><a class="button is-p-out{% if app.request.attributes.get('_route') == 'stores' %} active{% endif %}" href="{{ path('stores') }}">Stores</a></li>
              <li><a class="button is-p-out{% if app.request.attributes.get('_route') == 'brands' %} active{% endif %}" href="{{ path('brands') }}">Brands</a></li>
              <li><a class="button is-p-out{% if app.request.attributes.get('_route') == 'communication' %} active{% endif %}" href="{{ path('communication') }}">Communication</a></li>
              
            </ul>
          </div>
          <div class="nav-desktop nav-desktop--right">
             <a class="buttonMap grey{% if 'calendar' in app.request.attributes.get('_route') %} active{% endif %}" href="{{ path('calendar') }}">
            <div class="buttonMap-mapContainer">
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.6419 2.63746L14.668 2.64659L14.6938 2.6366L21.214 0.109104L21.3956 0.0750397C21.6932 0.0785348 21.925 0.312567 21.925 0.611111V19.0911C21.925 19.3359 21.7663 19.5299 21.5363 19.6066L21.5361 19.6067L14.6671 21.9207L7.35811 19.3625L7.33201 19.3534L7.30623 19.3634L0.786029 21.8909L0.604358 21.925C0.306796 21.9215 0.075 21.6874 0.075 21.3889V2.90889C0.075 2.66408 0.233685 2.47005 0.463717 2.39337L0.463944 2.3933L7.33287 0.0792983L14.6419 2.63746ZM8.58033 2.9481L8.48056 2.91318V3.01889V17.27V17.3232L8.53078 17.3408L13.4197 19.0519L13.5194 19.0868V18.9811V4.73V4.67679L13.4692 4.65921L8.58033 2.9481ZM2.42051 4.15781L2.36944 4.175V4.22889V18.7122V18.8216L2.47149 18.7822L6.13816 17.3644L6.18611 17.3459V17.2944V2.99444V2.89006L6.08718 2.92336L2.42051 4.15781ZM19.5795 17.8422L19.6306 17.825V17.7711V3.3V3.19059L19.5285 3.23005L15.8618 4.64783L15.8139 4.66637V4.71778V19.0056V19.1099L15.9128 19.0766L19.5795 17.8422Z"
                  fill="currentColor"
                  stroke="white"
                  stroke-width="0.15"
                />
              </svg>
            </div>
            <p class="buttonMap-mapText">Calendar</p>
          </a>
           <a class="buttonMap grey{% if app.request.attributes.get('_route') == 'map' %} active{% endif %}" href="{{ path('map') }}">
              <div class="buttonMap-mapContainer">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.6419 2.63746L14.668 2.64659L14.6938 2.6366L21.214 0.109104L21.3956 0.0750397C21.6932 0.0785348 21.925 0.312567 21.925 0.611111V19.0911C21.925 19.3359 21.7663 19.5299 21.5363 19.6066L21.5361 19.6067L14.6671 21.9207L7.35811 19.3625L7.33201 19.3534L7.30623 19.3634L0.786029 21.8909L0.604358 21.925C0.306796 21.9215 0.075 21.6874 0.075 21.3889V2.90889C0.075 2.66408 0.233685 2.47005 0.463717 2.39337L0.463944 2.3933L7.33287 0.0792983L14.6419 2.63746ZM8.58033 2.9481L8.48056 2.91318V3.01889V17.27V17.3232L8.53078 17.3408L13.4197 19.0519L13.5194 19.0868V18.9811V4.73V4.67679L13.4692 4.65921L8.58033 2.9481ZM2.42051 4.15781L2.36944 4.175V4.22889V18.7122V18.8216L2.47149 18.7822L6.13816 17.3644L6.18611 17.3459V17.2944V2.99444V2.89006L6.08718 2.92336L2.42051 4.15781ZM19.5795 17.8422L19.6306 17.825V17.7711V3.3V3.19059L19.5285 3.23005L15.8618 4.64783L15.8139 4.66637V4.71778V19.0056V19.1099L15.9128 19.0766L19.5795 17.8422Z"
                    fill="currentColor"
                    stroke="white"
                    stroke-width="0.15"
                  />
                </svg>
              </div>
              <p class="buttonMap-mapText">Event Map FW Paris</p>
            </a>
            <a href="" class="buttonMap grey">
              <div class="buttonMap-mapContainer">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.6419 2.63746L14.668 2.64659L14.6938 2.6366L21.214 0.109104L21.3956 0.0750397C21.6932 0.0785348 21.925 0.312567 21.925 0.611111V19.0911C21.925 19.3359 21.7663 19.5299 21.5363 19.6066L21.5361 19.6067L14.6671 21.9207L7.35811 19.3625L7.33201 19.3534L7.30623 19.3634L0.786029 21.8909L0.604358 21.925C0.306796 21.9215 0.075 21.6874 0.075 21.3889V2.90889C0.075 2.66408 0.233685 2.47005 0.463717 2.39337L0.463944 2.3933L7.33287 0.0792983L14.6419 2.63746ZM8.58033 2.9481L8.48056 2.91318V3.01889V17.27V17.3232L8.53078 17.3408L13.4197 19.0519L13.5194 19.0868V18.9811V4.73V4.67679L13.4692 4.65921L8.58033 2.9481ZM2.42051 4.15781L2.36944 4.175V4.22889V18.7122V18.8216L2.47149 18.7822L6.13816 17.3644L6.18611 17.3459V17.2944V2.99444V2.89006L6.08718 2.92336L2.42051 4.15781ZM19.5795 17.8422L19.6306 17.825V17.7711V3.3V3.19059L19.5285 3.23005L15.8618 4.64783L15.8139 4.66637V4.71778V19.0056V19.1099L15.9128 19.0766L19.5795 17.8422Z"
                    fill="currentColor"
                    stroke="white"
                    stroke-width="0.15"
                  />
                </svg>
              </div>
              <p class="buttonMap-mapText">Event Map FW NYC</p>
            </a>
            <a href="" class="buttonMap grey">
              <div class="buttonMap-mapContainer">
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.6419 2.63746L14.668 2.64659L14.6938 2.6366L21.214 0.109104L21.3956 0.0750397C21.6932 0.0785348 21.925 0.312567 21.925 0.611111V19.0911C21.925 19.3359 21.7663 19.5299 21.5363 19.6066L21.5361 19.6067L14.6671 21.9207L7.35811 19.3625L7.33201 19.3534L7.30623 19.3634L0.786029 21.8909L0.604358 21.925C0.306796 21.9215 0.075 21.6874 0.075 21.3889V2.90889C0.075 2.66408 0.233685 2.47005 0.463717 2.39337L0.463944 2.3933L7.33287 0.0792983L14.6419 2.63746ZM8.58033 2.9481L8.48056 2.91318V3.01889V17.27V17.3232L8.53078 17.3408L13.4197 19.0519L13.5194 19.0868V18.9811V4.73V4.67679L13.4692 4.65921L8.58033 2.9481ZM2.42051 4.15781L2.36944 4.175V4.22889V18.7122V18.8216L2.47149 18.7822L6.13816 17.3644L6.18611 17.3459V17.2944V2.99444V2.89006L6.08718 2.92336L2.42051 4.15781ZM19.5795 17.8422L19.6306 17.825V17.7711V3.3V3.19059L19.5285 3.23005L15.8618 4.64783L15.8139 4.66637V4.71778V19.0056V19.1099L15.9128 19.0766L19.5795 17.8422Z"
                    fill="currentColor"
                    stroke="white"
                    stroke-width="0.15"
                  />
                </svg>
              </div>
              <p class="buttonMap-mapText">Event Map FW London</p>
            </a>
          </div>
        </div>
        <div class="nav-calendar">
          <a href="./calendar-tradeshows.html" class="active">Tradeshows</a>
          <a href="./calendar-brand-sales.html">Brand Sales</a>
          <a href="./calendar-showroom-sales.html">Showroom Sales</a>
          <a href="./calendar-shows.html">Shows</a>
          <a href="./calendar-map.html">Events</a>
          <a href="./calendar-map.html" class="map">Map</a>
        </div>
        <div class="menuMobile">
          <section class="menuMobile-section linkSection">
            <div class="linkSection-left">
            <a href="{{ path('tradeshows') }}" class="button is-p">Tradeshows</a>
            <a href="{{ path('showrooms_agents') }}" class="button is-p">Showrooms</a>
            <a href="{{ path('services') }}" class="button is-p">Services</a>
            <a href="{{ path('production') }}" class="button is-p">Production</a>
            <a href="{{ path('stores') }}" class="button is-p">Stores</a>
            <a href="{{ path('brands') }}" class="button is-p">Brands</a>
            <a href="{{ path('communication') }}" class="button is-p">Communication</a>
          </div>
          <div class="linkSection-right">
            <a href="{{ path('calendar') }}" class="button is-p-out">Calendar</a>
            <a href="#" class="button is-p-out">News Feed</a>
            <a href="#" class="button is-p-out">Sales Campaign</a>
          </div>
          </section>
          <section class="menuMobile-section bottomSection">
            <div class="menuMobile-section bottomSection-mapSection">
              <a href="" class="buttonMap primary">
                <div class="buttonMap-mapContainer">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.6419 2.63746L14.668 2.64659L14.6938 2.6366L21.214 0.109104L21.3956 0.0750397C21.6932 0.0785348 21.925 0.312567 21.925 0.611111V19.0911C21.925 19.3359 21.7663 19.5299 21.5363 19.6066L21.5361 19.6067L14.6671 21.9207L7.35811 19.3625L7.33201 19.3534L7.30623 19.3634L0.786029 21.8909L0.604358 21.925C0.306796 21.9215 0.075 21.6874 0.075 21.3889V2.90889C0.075 2.66408 0.233685 2.47005 0.463717 2.39337L0.463944 2.3933L7.33287 0.0792983L14.6419 2.63746ZM8.58033 2.9481L8.48056 2.91318V3.01889V17.27V17.3232L8.53078 17.3408L13.4197 19.0519L13.5194 19.0868V18.9811V4.73V4.67679L13.4692 4.65921L8.58033 2.9481ZM2.42051 4.15781L2.36944 4.175V4.22889V18.7122V18.8216L2.47149 18.7822L6.13816 17.3644L6.18611 17.3459V17.2944V2.99444V2.89006L6.08718 2.92336L2.42051 4.15781ZM19.5795 17.8422L19.6306 17.825V17.7711V3.3V3.19059L19.5285 3.23005L15.8618 4.64783L15.8139 4.66637V4.71778V19.0056V19.1099L15.9128 19.0766L19.5795 17.8422Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="0.15"
                    />
                  </svg>
                </div>
                <p class="buttonMap-mapText">Event Map FW Paris</p>
              </a>
              <a href="" class="buttonMap primary">
                <div class="buttonMap-mapContainer">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.6419 2.63746L14.668 2.64659L14.6938 2.6366L21.214 0.109104L21.3956 0.0750397C21.6932 0.0785348 21.925 0.312567 21.925 0.611111V19.0911C21.925 19.3359 21.7663 19.5299 21.5363 19.6066L21.5361 19.6067L14.6671 21.9207L7.35811 19.3625L7.33201 19.3534L7.30623 19.3634L0.786029 21.8909L0.604358 21.925C0.306796 21.9215 0.075 21.6874 0.075 21.3889V2.90889C0.075 2.66408 0.233685 2.47005 0.463717 2.39337L0.463944 2.3933L7.33287 0.0792983L14.6419 2.63746ZM8.58033 2.9481L8.48056 2.91318V3.01889V17.27V17.3232L8.53078 17.3408L13.4197 19.0519L13.5194 19.0868V18.9811V4.73V4.67679L13.4692 4.65921L8.58033 2.9481ZM2.42051 4.15781L2.36944 4.175V4.22889V18.7122V18.8216L2.47149 18.7822L6.13816 17.3644L6.18611 17.3459V17.2944V2.99444V2.89006L6.08718 2.92336L2.42051 4.15781ZM19.5795 17.8422L19.6306 17.825V17.7711V3.3V3.19059L19.5285 3.23005L15.8618 4.64783L15.8139 4.66637V4.71778V19.0056V19.1099L15.9128 19.0766L19.5795 17.8422Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="0.15"
                    />
                  </svg>
                </div>
                <p class="buttonMap-mapText">Event Map FW NYC</p>
              </a>
              <a href="" class="buttonMap primary">
                <div class="buttonMap-mapContainer">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.6419 2.63746L14.668 2.64659L14.6938 2.6366L21.214 0.109104L21.3956 0.0750397C21.6932 0.0785348 21.925 0.312567 21.925 0.611111V19.0911C21.925 19.3359 21.7663 19.5299 21.5363 19.6066L21.5361 19.6067L14.6671 21.9207L7.35811 19.3625L7.33201 19.3534L7.30623 19.3634L0.786029 21.8909L0.604358 21.925C0.306796 21.9215 0.075 21.6874 0.075 21.3889V2.90889C0.075 2.66408 0.233685 2.47005 0.463717 2.39337L0.463944 2.3933L7.33287 0.0792983L14.6419 2.63746ZM8.58033 2.9481L8.48056 2.91318V3.01889V17.27V17.3232L8.53078 17.3408L13.4197 19.0519L13.5194 19.0868V18.9811V4.73V4.67679L13.4692 4.65921L8.58033 2.9481ZM2.42051 4.15781L2.36944 4.175V4.22889V18.7122V18.8216L2.47149 18.7822L6.13816 17.3644L6.18611 17.3459V17.2944V2.99444V2.89006L6.08718 2.92336L2.42051 4.15781ZM19.5795 17.8422L19.6306 17.825V17.7711V3.3V3.19059L19.5285 3.23005L15.8618 4.64783L15.8139 4.66637V4.71778V19.0056V19.1099L15.9128 19.0766L19.5795 17.8422Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="0.15"
                    />
                  </svg>
                </div>
                <p class="buttonMap-mapText">Event Map FW London</p>
              </a>
            </div>
            <div class="menuMobile-section bottomSection-accountSection">
              <div class="accountSection greetings">
                <img class="avatar" src="{{ asset('images/avatar.jpg') }}"/>
                <p>Hi Pauline !</p>
              </div>
              <button class="button is-rounded is-t">Deconnexion</button>
            </div>
          </section>
        </div>
      </nav>
    </header>