{% if pageName %}
    {% if pageName == 'home'%}
     <div class="heroContainer">
        <div class="heroContainer-left">
          <p class="heroContainer-left-title highlight">
            Salon Coterie - FW New York 2021/22
          </p>
          <img
            srcset="./images/header.jpg 770w, ./images/header-desktop.jpg 1000w"
            src="./images/header.jpg"
            alt="Moddity bienvenu"
            class="heroContainer-left-image"
          />
        </div>

        <div class="heroContainer-right">
          <div class="homeLinkSection">
            <div class="homeLinkSection-left">
              <a href="{{ path('tradeshows') }}" class="button is-p">Tradeshows</a>
              <a href="{{ path('showrooms_agents') }}" class="button is-p">Showrooms <br />&amp; Agents</a>
              <a href="{{ path('services') }}" class="button is-p">Services</a>
              <a href="{{ path('production') }}" class="button is-p">Production</a>
              <a href="{{ path('stores') }}" class="button is-p">Stores</a>
              <a href="{{ path('brands') }}" class="button is-p">Brands</a>
              <a href="{{ path('communication') }}" class="button is-p">Communication</a>
            </div>
            <div class="homeLinkSection-right">
              <a class="button is-p-out">Calendar</a>
              <a class="button is-p-out">News Feed</a>
              <a class="button is-p-out">Sales Campaign</a>
            </div>
          </div>
          <h1 class="title-home">
            Bring together the Fashion Business Community.
          </h1>
          <h2 class="subtitle-home">
            Moddity is a B2B Multi-functional plateform aimed to connect high
            end Fashion professionnals.
          </h2>
        </div>
      </div>


    {% elseif menuStyle == 'calendar' %}

      <ul>
        <li><a href="">Lien 1</a></li>
        <li><a href="">Lien 1</a></li>
        <li><a href="">Lien 1</a></li>
        <li><a href="">Lien 1</a></li>
      </ul>

    {% endif %}
{% endif %}

</ul>