<form method="post" action="{{ path('sub_style_delete', {'id': sub_style.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sub_style.id) }}">
    <button class="btn">Delete</button>
</form>
