{% extends 'base_admin.html.twig' %}

{% block title %}Edit SubStyle{% endblock %}

{% block content %}
    <h1>Edit SubStyle</h1>

    {{ include('admin/sub_style/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_sub_style_index') }}">back to list</a>

    {{ include('admin/sub_style/_delete_form.html.twig') }}
{% endblock %}
