{% extends 'base_admin.html.twig' %}

{% block title %}SubStyle index{% endblock %}

{% block content %}
    <h1>SubStyle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sub_style in sub_styles %}
            <tr>
                <td>{{ sub_style.id }}</td>
                <td>{{ sub_style.label }}</td>
                <td>{{ sub_style.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ sub_style.createdAt ? sub_style.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sub_style.updatedAt ? sub_style.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_sub_style_show', {'id': sub_style.id}) }}">show</a>
                    <a href="{{ path('admin_sub_style_edit', {'id': sub_style.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_sub_style_new') }}">Create new</a>
{% endblock %}
