{% extends 'base_admin.html.twig' %}

{% block title %}New SubStyle{% endblock %}

{% block content %}
    <h1>Create new SubStyle</h1>

    {{ include('admin/sub_style/_form.html.twig') }}

    <a href="{{ path('admin_sub_style_index') }}">back to list</a>
{% endblock %}
