{% extends 'base_admin.html.twig' %}

{% block title %}SubStyle{% endblock %}

{% block content %}
    <h1>SubStyle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sub_style.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ sub_style.label }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ sub_style.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ sub_style.createdAt ? sub_style.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ sub_style.updatedAt ? sub_style.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_sub_style_index') }}">back to list</a>

    <a href="{{ path('admin_sub_style_edit', {'id': sub_style.id}) }}">edit</a>

    {{ include('admin/sub_style/_delete_form.html.twig') }}
{% endblock %}
