<form method="post" action="{{ path('admin_designer_delete', {'id': designer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ designer.id) }}">
    <button class="btn">Delete</button>
</form>
