{% extends 'base_admin.html.twig' %}

{% block title %}Edit Designer{% endblock %}

{% block content %}
    <h1>Edit Designer</h1>

    {{ include('admin/admin_designer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_designer_index') }}">back to list</a>

    {{ include('admin/admin_designer/_delete_form.html.twig') }}
{% endblock %}
