{% extends 'base_admin.html.twig' %}

{% block title %}Designer index{% endblock %}

{% block content %}
    <h1>Designer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th>IsPulished</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for designer in designers %}
            <tr>
                <td>{{ designer.id }}</td>
                <td>{{ designer.label }}</td>
                <td>{{ designer.address }}</td>
                <td>{{ designer.city }}</td>
                <td>{{ designer.country }}</td>
                <td>{{ designer.isPulished ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_designer_show', {'id': designer.id}) }}">show</a>
                    <a href="{{ path('admin_designer_edit', {'id': designer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_designer_new') }}">Create new</a>
{% endblock %}
