{% extends 'base_admin.html.twig' %}

{% block title %}New Designer{% endblock %}

{% block content %}
    
    <h1>Create new Designer</h1>

    {{ include('admin/admin_designer/_form.html.twig') }}

    <a href="{{ path('admin_designer_index') }}">back to list</a>

    
{% endblock %}
