{% extends 'base_admin.html.twig' %}

{% block title %}Designer{% endblock %}

{% block content %}
    <h1>Designer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ designer.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ designer.label }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ designer.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ designer.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ designer.country }}</td>
            </tr>
            <tr>
                <th>IsPulished</th>
                <td>{{ designer.isPulished ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_designer_index') }}">back to list</a>

    <a href="{{ path('admin_designer_edit', {'id': designer.id}) }}">edit</a>

    {{ include('admin/admin_designer/_delete_form.html.twig') }}
{% endblock %}
