<form method="post" action="{{ path('admin_sub_plan_delete', {'id': sub_plan.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sub_plan.id) }}">
    <button class="btn">Delete</button>
</form>
