{% extends 'base_admin.html.twig' %}

{% block title %}Edit SubPlan{% endblock %}

{% block content %}
    <h1>Edit SubPlan</h1>

    {{ include('admin/admin_sub_plan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_sub_plan_index') }}">back to list</a>

    {{ include('admin/admin_sub_plan/_delete_form.html.twig') }}
{% endblock %}
