{% extends 'base_admin.html.twig' %}

{% block title %}SubPlan index{% endblock %}

{% block content %}

                            <h1>SubPlan index</h1>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Label</th>
                                        <th>Period</th>
                                        <th>Price</th>
                                        <th>IsActive</th>
                                        <th>Uuid</th>
                                        <th>IsPaying</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for sub_plan in sub_plans %}
                                    <tr>
                                        <td>{{ sub_plan.id }}</td>
                                        <td>{{ sub_plan.label }}</td>
                                        <td>{{ sub_plan.period }}</td>
                                        <td>{{ sub_plan.price }}</td>
                                        <td>{{ sub_plan.isActive ? 'Yes' : 'No' }}</td>
                                        <td>{{ sub_plan.uuid }}</td>
                                        <td>{{ sub_plan.isPaying ? 'Yes' : 'No' }}</td>
                                        <td>
                                            <a href="{{ path('admin_sub_plan_show', {'id': sub_plan.id}) }}">show</a>
                                            <a href="{{ path('admin_sub_plan_edit', {'id': sub_plan.id}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="8">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <a href="{{ path('admin_sub_plan_new') }}">Create new</a>

                       
{% endblock %}
