{% extends 'base_admin.html.twig' %}

{% block title %}New SubPlan{% endblock %}

{% block content %}
    
                        <h1>Create new SubPlan</h1>

                        {{ include('admin/admin_sub_plan/_form.html.twig') }}

                        <a href="{{ path('admin_sub_plan_index') }}">back to list</a>

                       
{% endblock %}
