{% extends 'base_admin.html.twig' %}

{% block title %}SubPlan{% endblock %}

{% block content %}
    <h1>SubPlan</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sub_plan.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ sub_plan.label }}</td>
            </tr>
            <tr>
                <th>Period</th>
                <td>{{ sub_plan.period }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ sub_plan.price }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ sub_plan.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ sub_plan.uuid }}</td>
            </tr>
            <tr>
                <th>IsPaying</th>
                <td>{{ sub_plan.isPaying ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_sub_plan_index') }}">back to list</a>

    <a href="{{ path('admin_sub_plan_edit', {'id': sub_plan.id}) }}">edit</a>

    {{ include('admin/admin_sub_plan/_delete_form.html.twig') }}
{% endblock %}
