@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-family: "Montserrat";
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
svg {
  display: block;
}

svg {
  fill: currentColor;
}

html,
body {
  font-size: 10px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @include tablet {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  @include desktop {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

// body {
//   &.is-open {
//     overflow: hidden;
//   }
// }

button,
a {
  cursor: pointer;
}

.return {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    color: map-get($colors, "black");
    svg {
      margin-right: 1.1rem;
    }
    font-size: 1.3rem;
    font-weight: 700;
  }
}
