.title-home {
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.6rem;
  letter-spacing: -1px;

  @include desktop {
    font-size: 6rem;
    line-height: 105%;
  }
}

.subtitle-home {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -0.5px;
  color: map-get($colors, "grey");

  @include desktop {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

.big {
  font-weight: 800;
  font-size: 7.5rem;
  line-height: 5.5rem;
  letter-spacing: -3px;
}

.h1 {
  font-weight: 800;
  font-size: 4.2rem;
  line-height: 4.2rem;
  letter-spacing: -0.5px;

  &--light {
    font-weight: 300;
    letter-spacing: -0.5px;
  }
}

.h2 {
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 4.4rem;
  letter-spacing: -0.5px;
  @include tablet {
    font-size: 3.6rem;
  }
}

.h3 {
  font-weight: 800;
  font-size: 2.6rem;
  line-height: 3rem;

  &--light {
    font-weight: 300;
    line-height: 3.2rem;
  }
}

.h4 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;

  &--light {
    font-weight: 300;
  }
}

.h5 {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: -0.25px;
}

.highlight {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 2rem;

  @include tablet {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

.text {
  font-size: 1.6rem;
  line-height: 2rem;

  @include tablet {
    line-height: 2.2rem;
  }

  &--light {
    font-weight: 300;
  }
}

.is-italic {
  font-style: italic;
}
